<form [formGroup]=userSearchFromGroup>
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search user</mat-label>
        <input matInput autocomplete="off" formControlName=searchUserNameFC>
    </mat-form-field>
</form>

<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-list-option *ngFor="let user of foundPossibleChatPartners" (click)="displayChatHistoryBetweenMeAnd(user)"
                     matTooltip="{{ user.rolePlayData.titleAbbreviation }} {{ user.rolePlayData.firstname }} {{ user.rolePlayData.surname }}">
        {{ user.username }}
    </mat-list-option>
</mat-selection-list>

<br>
{{ 'chats.title' | translate }}

<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-list-option *ngFor="let chat of activeChats" (click)="displayChatHistoryBetweenMeAnd(getChatPartner(chat))">
        <app-icon *ngIf="hasUnread(chat)" hasUnread></app-icon>
        {{ getChatPartner(chat).username }}
    </mat-list-option>
</mat-selection-list>
