<div *ngIf="!!resourceType">
    <div class="clearfix">
        <div class="the-left vert-center">
            <app-icon class="icon"
                      [icon]="resourceType"
                      [altText]="resourceType.typeName"
                      [toolTip]="resourceType.typeName"></app-icon>
            <app-number-short [input]="left"></app-number-short>
        </div>

        <div class="the-right vert-center">
            <app-icon class="icon"
                      [icon]="resourceType"
                      [altText]="resourceType.typeName"
                      [toolTip]="resourceType.typeName"></app-icon>
            <app-number-short [input]="right"></app-number-short>
        </div>

        <div class="the-right shifter">
            <app-amount-shifter
                    [limitLeft]="limitLeft"
                    [leftAvailableValue]="leftPresent"
                    [disabledLeft]="disabledLeft"
                    [disabledRight]="disabledRight"
                    [rightAvailableValue]="rightPresent"
                    (amountChange)="setAmount($event)"></app-amount-shifter>
        </div>
    </div>
</div>
