<mat-card style="background-color: transparent;">
    <mat-card-title>Transfer ships</mat-card-title>
    <mat-card-content>
        <app-fleet-merge-edit [resetChanges]="resetMergeChanges"
                              [fleets]="commService.selectedFleets"></app-fleet-merge-edit>
    </mat-card-content>
    <mat-card-actions class="flex-end-items-container">
        <button mat-raised-button color="primary" (click)="executeMerge()" [disabled]="executeMergeDisabled()">Execute</button>
        <button mat-raised-button color="primary" (click)="resetMerge()">Reset</button>
    </mat-card-actions>
</mat-card>
