<div class="content-area">


    <div id="map-box">
        <mat-chip-listbox #chipList multiple id="mission-chips">
            <mat-chip-option selected
                             *ngFor="let mission of missionCommService.missionTypes"
                             (selectionChange)="missionTypeChange()"
                             [ngStyle]="{'background-color' :getColor(mission)}">
                {{ mission }}
            </mat-chip-option>
        </mat-chip-listbox>
        <ngx-spinner type="ball-scale-multiple" color="#375a7f" name="mission-map" [fullScreen]="false">{{ message }}</ngx-spinner>
        <mission-map
                [highlight]="colorGroups"
                [highlightedCenter]="centerCoord"></mission-map>
    </div>
</div>
