@import "src/styles/variables";

#map-box {
  width: 900px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

#mission-chips {
  z-index: 99;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.legend-box {
  z-index: 99;
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: small;
}

#legend-colonized {
  color: #5e8c6a;
}

#legend-highlighted {
  color: #306f91;
}

#legend-multi-mission {
  color: #33F9FF;
}

#legend-no-mission {
  color: #FF3336;
}

#legend-colonized-by-other {
  color: #6f1585;
}

#legend-colonized-by-npc {
  color: #8B0000;
}


.mat-mdc-card {
  width: $page-width;
  margin-bottom: 15px;
  padding: 15px;
}

.floated {
  float: left;
  width: fit-content;
  margin: 0 25px 15px 0;
}

.floated-right {
  float: right;
  width: 150px;
  margin: 0 0 15px 5px;
}

.mission-card {
  margin-top: 15px;
}

#mission-items {
  min-height: 250px;
}

mat-list-item {
  position: relative;
}

app-spacecraft-state-block-display {
  position: absolute;
  top: 15px;
  right: 25px;
}
