<div class="content-area">


    <div id="map-box">
        <mat-chip-listbox id="mission-chips"> <!-- fixme externer service, library oder neu implementieren? -->
            <mat-chip-row *ngFor="let mission of missionCommService.missionTypes" cdkDrag [ngStyle]="{'background-color' :getColor(mission)}">
                {{ mission }}
            </mat-chip-row>
        </mat-chip-listbox>
        <ngx-spinner type="ball-scale-multiple" color="#375a7f" name="mission-map" [fullScreen]="false">{{ message }}</ngx-spinner>
        <iframe *ngIf="!!url" width="900px" height="600px" [src]="url"></iframe>
    </div>
</div>
