<div *ngIf="scopeService.openTopic?.uuid === uuid">

    <h4>Overview</h4>
    <p>Mission are a way to let actions be done from your navy or other related parts of the executing forces.<br>
        You can hunt pirates automatically in the orbits of your planets and protect the full system by reducing the pirates influence.</p>

    <h5>Pirate Hunt</h5>
    <p>Your planet's gouverneurs are, of course, emotionally related to their planets and systems but from time to time they are right: Protect them!</p>
    <p>Every inhabited planet will be visited by pirates and let them know, that there is something to steal.<br>
        This will affect the security of your convoys, too.</p>

    <h5>Convoy protection</h5>
    <p>Trade routes have been subject to attacks at all times.<br>
        Of course, this will not stop in space.</p>
    <p>You are invited to secure your trade routes by your navy. The space is scary enough to state that nearly every convoy is attacked.</p>
    <p>Ensure that your systems are safe places and not juicy prey.</p>
</div>
