<div class="content-area">

    <div class="event-toggle">
        <button (click)="setEvent(undefined)" [class.is-selected]="isSelected(undefined)"
                class="icon-btn" matTooltip="{{ 'points.player.ranking.title' | translate }}">
            <img src="assets/events/ranking-items/main-badges.jpeg" alt="war harvest icon" class="event-icon">
        </button>

        <button (click)="setEvent(EGameEventsEnum.WAR_HARVEST_23)" [class.is-selected]="isSelected(EGameEventsEnum.WAR_HARVEST_23)"
                class="icon-btn" matTooltip="{{ 'points.event.war-harvest.title' | translate }}">
            <img src="assets/events/ranking-items/badge-2.jpg" alt="war harvest icon" class="event-icon">
        </button>

        <button (click)="setEvent(EGameEventsEnum.TOURNAMENT_FOR_HONOR_24)" [class.is-selected]="isSelected(EGameEventsEnum.TOURNAMENT_FOR_HONOR_24)"
                class="icon-btn" matTooltip="{{ 'points.event.tournament.title' | translate }}">
            <img src="assets/events/ranking-items/badge-3.jpg" alt="tournament icon" class="event-icon">
        </button>
    </div>

    <app-player-points-list [class.display-none]="!isSelected(undefined)"></app-player-points-list>
    <app-war-harvest-24-points [class.display-none]="!isSelected(EGameEventsEnum.WAR_HARVEST_23)"></app-war-harvest-24-points>
    <app-tournament-24-points [class.display-none]="!isSelected(EGameEventsEnum.TOURNAMENT_FOR_HONOR_24)"></app-tournament-24-points>
</div>
