<mat-card *ngIf="!!mission" appearance="outlined" class="mission-card">
    <mat-card-content>
        <app-outlined titleValue="{{ 'mission.card.title' | translate }}" class="floated">
            {{mission.missionType}}
        </app-outlined>
        <app-outlined titleValue="{{ 'mission.card.details' | translate }}" class="floated-right">
            {{ mission.venue.name }}
        </app-outlined>

        <mat-list-item *ngFor="let warShip of mission!.ships">
            <span matListItemTitle>{{warShip.name}}</span>
            <span matListItemLine>{{ warShip.shipClass.name }} Flt. {{ warShip.shipClass.mark }}</span>
            <app-spacecraft-state-block-display [stateBlock]="warShip.warshipHealthState.state"
                                                [isWarship]="true"></app-spacecraft-state-block-display>
        </mat-list-item>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="submit()" [disabled]="!mission || !mission.idMission">{{ 'mission.delete.submit' | translate }}</button>
    </mat-card-actions>
</mat-card>
