<app-properties-armor [propertyDescriptor]="propertyDescriptor"></app-properties-armor>
<app-properties-eloka [propertyDescriptor]="propertyDescriptor"></app-properties-eloka>
<app-properties-launcher [propertyDescriptor]="propertyDescriptor"></app-properties-launcher>
<app-properties-missile [propertyDescriptor]="propertyDescriptor"></app-properties-missile>
<app-properties-orbital-module [propertyDescriptor]="propertyDescriptor"></app-properties-orbital-module>
<app-properties-passive-module [propertyDescriptor]="propertyDescriptor"></app-properties-passive-module>
<app-properties-propulsion [propertyDescriptor]="propertyDescriptor"></app-properties-propulsion>
<app-properties-sidewall [propertyDescriptor]="propertyDescriptor"></app-properties-sidewall>
<app-properties-weapon [propertyDescriptor]="propertyDescriptor"></app-properties-weapon>
