@import "src/styles/variables";


.content-area {
  background-color: $bright-background-color;
  border-radius: 20px;
  padding: 20px;
  max-width: 550px;
}

.icon {
  width: 24px;
  height: 24px;
}

mat-divider {
  margin: 25px 15px;
}
