<div class="content-area" [class.mat-elevation-z0]="true">


    <h4>In order to credit all contributors to the page I want to present and thank everyone who was part of the following.</h4>
    <h5>For everyone I missed to mention: please contact me!</h5>

    <div class="flex-items-container">
        <!--// @formatter:off-->
        <!-- profile icons -->
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/dragon-head.html" target="_blank"><img src="assets/icons/user/dragon-head.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/perspective-dice-six-faces-random.html" target="_blank"><img src="assets/icons/user/perspective-dice-six-faces-random.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/ship-wheel.html" target="_blank"><img src="assets/icons/user/ship-wheel.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/bear-head.html" target="_blank"><img src="assets/icons/user/bear-head.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/police-officer-head.html" target="_blank"><img src="assets/icons/user/police-officer-head.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/dwarf-face.html" target="_blank"><img src="assets/icons/user/dwarf-face.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/shark-bite.html" target="_blank"><img src="assets/icons/user/shark-bite.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/dragon-head.html" target="_blank"><img src="assets/icons/user/dragon-head.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/angler-fish.html" target="_blank"><img src="assets/icons/user/angler-fish.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/winged-sword.html" target="_blank"><img src="assets/icons/user/winged-sword.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/triton-head.html" target="_blank"><img src="assets/icons/user/triton-head.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/quake-stomp.html" target="_blank"><img src="assets/icons/user/quake-stomp.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/disintegrate.html" target="_blank"><img src="assets/icons/user/disintegrate.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/mouth-watering.html" target="_blank"><img src="assets/icons/user/mouth-watering.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/skoll/drop-weapon.html" target="_blank"><img src="assets/icons/user/drop-weapon.png" alt="icon" class="icon"></a>
        <!-- resource icons -->
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/two-coins.html" target="_blank"><img src="assets/icons/resources/credit.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/three-friends.html" target="_blank"><img src="assets/icons/resources/population.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/telescope.html" target="_blank"><img src="assets/icons/resources/research.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/death-star.html" target="_blank"><img src="assets/icons/resources/orbitalconstruction.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/auto-repair.html" target="_blank"><img src="assets/icons/resources/construction.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/snow-bottle.html" target="_blank"><img src="assets/icons/resources/mercurium.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/faithtoken/ore.html" target="_blank"><img src="assets/icons/resources/metalore.png" alt="icon" class="icon"></a>
        <!-- planet icons -->
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/planet-conquest.html" target="_blank"><img src="assets/icons/planets/planet.png" alt="icon" class="icon"></a>
        <!-- module type icons -->
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/layered-armor.html" target="_blank"><img src="assets/icons/stats/armor.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/rosa-shield.html" target="_blank"><img src="assets/icons/stats/shield.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/rocket-thruster.html" target="_blank"><img src="assets/icons/stats/propulsion.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/targeting.html" target="_blank"><img src="assets/icons/stats/attack.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/radar-dish.html" target="_blank"><img src="assets/icons/stats/scanner.png" alt="icon" class="icon"></a>
        <!--ship class icons -->
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/pounce.html" target="_blank"><img src="assets/icons/hulls/lac.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/level-two.html" target="_blank"><img src="assets/icons/hulls/frigate.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/level-two-advanced.html" target="_blank"><img src="assets/icons/hulls/destroyer.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/level-three.html" target="_blank"><img src="assets/icons/hulls/cruiser.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/level-three-advanced.html" target="_blank"><img src="assets/icons/hulls/battleship.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/level-four.html" target="_blank"><img src="assets/icons/hulls/dreadnought.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/sbed/level-four-advanced.html" target="_blank"><img src="assets/icons/hulls/superdreadnought.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/lorc/anchor.html" target="_blank"><img src="assets/icons/hulls/freighter.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/delapouite/life-buoy.html" target="_blank"><img src="assets/icons/hulls/militaryfreighter.png" alt="icon" class="icon"></a>
        <!-- fleet icons -->
        <a mat-stroked-button href="https://game-icons.net/1x1/skoll/rank-1.html" target="_blank"><img src="assets/icons/fleets/rank-1.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/skoll/rank-2.html" target="_blank"><img src="assets/icons/fleets/rank-2.png" alt="icon" class="icon"></a>
        <a mat-stroked-button href="https://game-icons.net/1x1/skoll/rank-3.html" target="_blank"><img src="assets/icons/fleets/rank-3.png" alt="icon" class="icon"></a>



        <!--
        <a mat-stroked-button href="" target="_blank"><img src="assets/icons/" alt="icon" class="icon"></a>
        -->
        <!--// @formatter:on-->
    </div>


    <mat-divider></mat-divider>

    <h5>About</h5>
    <h6>software developer with too much time and a penchant for sci fi and fantasy | rock enthusiast - the mountain thing in the music</h6>

</div>
