@import "src/styles/variables";

.box {
  width: fit-content;
  display: block;
  font-size: small;
  margin-bottom: 15px;
}

.icon {
  margin: 15px;
}

.title {
  margin: 15px 0;
}

app-trade-display {
  width: 450px;
}

.ngx-spinner-limiter {
  min-height: 250px;
}

.limited-width {
  width: 98%;
  display: block;
}
