<mat-list>
    <div mat-subheader *ngIf="movingFleets.length == 0">{{ 'fleet.ongoing-movement.nothing' | translate }}</div>
    <div mat-subheader *ngIf="movingFleets.length > 0">{{ 'fleet.ongoing-movement.title' | translate }}</div>

    <mat-list-item *ngFor="let fleet of movingFleets" lines="3">
        <img matListItemAvatar class="icon" src="{{getLink()}}" alt="fleet-icon">
        <div matListItemTitle>
            {{ fleet.name }}
        </div>
        <app-fleet-move-display [fleet]="fleet" [showTitle]="false" preSelect></app-fleet-move-display>
    </mat-list-item>
</mat-list>

