<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <p>Select an amount of ships to build.</p>

    <h5>Fleet integration</h5>
    <p>While building the ships will be assigned to a 'virtual fleet'.
        If there is a real fleet in orbit while finishing all the ships of a job at once, they will be assigned to the biggest fleet.
    </p>

    <h5>Operationals</h5>
    <p>Please keep in mind that ships will be constructed, no matter if there are enough crew to man it.
        The finished ships without a crew will stay inoperational until the crew has arrived or is educated.</p>

    <h4>Orbiting fleets</h4>
    <p>Fleets are ammoed up when they are in orbit for a longer period of time.</p>
    <p>They can also be repaired, but this has to be done manually and will interrupt the current shipyard's job.<br>
        Upgrading the fleets ships to the latest flight is done the same way.</p>
    <p>Please keep in mind that a fleet will be deactivated through the yard's work. Afterwards it will be reactivated if the personell is present.</p>

    <h5>Bought ship classes</h5>
    <p>Your started the colonization of your man planet with a bought flotilla long ago. These bought ships can't be build until you have researched all compartments.</p>
</div>
