<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <h3>Spot market</h3>
    <p>While your small, independent and insignificant empire is not part of a bigger trade alliance it is pretty useful to have access to the resource market.</p>

    <h3>Offer market</h3>
    <p>You have too much resources? Sell it! In the end you can buy them back but money rules the world.</p>

    <h3>Trading times and distances</h3>
    <p>The trade market is part of a incredibly big trading network where freighters are flying constantly from and to every point in the known galaxy.</p>
    <p>If you offer a piece of your cake or buy another one's, you are getting a bit from that warehouse and this and that freighter from half a dozens convoys.<br>
        The private trading business is much bigger than you can imagine and there are trading partners you never heard from, crossing your territory.<br>
        All these trades are part of a galaxy-wide network and can be rearranged from professional brokers to fit your needs.</p>
</div>
