<div id="forum-message-list" *ngIf="!!messagesInThread">
    <mat-paginator #paginatorTop
                   class="forum-pager"
                   [length]="messageAmountInThread"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="fetchByPagination($event)">
    </mat-paginator>
    <mat-card appearance="outlined" class="forum-card" *ngFor="let message of messagesInThread" ngClass="messageId-{{ message.idForumMessage }}">
        <mat-card-header>
            <mat-card-title>
                <app-player-display [player]="message.author"></app-player-display>

                <app-icon *ngIf="forumsCommService.unreadMessages.includes(message.idForumMessage)" hasUnread></app-icon>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="message rel">
            <div class="datestamp">{{ message.sentAt | date: 'dd.MM.yyyy HH:mm' }}</div>
            <mat-divider></mat-divider>
            <markdown [data]="message.message"></markdown>
        </mat-card-content>
        <mat-card-actions *ngIf="message.author.idUser == userId">
            <button mat-button (click)="msgToEdit = message">Edit</button>
            <button mat-button (click)="sendAsMail(message)" *ngIf="showSendButton(message)" [disabled]="noSendAllowed">USE CAREFULLY: Send via eMail</button>
        </mat-card-actions>
    </mat-card>
    <mat-paginator #paginatorBottom
                   class="forum-pager"
                   [length]="messageAmountInThread"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="fetchByPagination($event)">
    </mat-paginator>
</div>

<mat-card appearance="outlined" class="forum-message-card" *ngIf="!!messagesInThread">
    <mat-card-content>
        <app-markdown-editor textareaId="chat-message-form-field"
                             [rows]="10"
                             [editableText]="msgToEdit?.message"
                             (play)="submitMessage($event)"></app-markdown-editor>
    </mat-card-content>
</mat-card>

