<div id="forum-message-list" *ngIf="!!messagesInThread">
    <mat-paginator #paginatorTop
                   class="forum-pager"
                   [length]="messageAmountInThread"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="fetchByPagination($event)">
    </mat-paginator>
    <mat-card class="forum-card" *ngFor="let message of messagesInThread">
        <mat-card-title>Author: {{message.author}}</mat-card-title>
        <mat-card-subtitle>{{message.sentAt | date: 'dd.MM.yyyy HH:mm'}}</mat-card-subtitle>
        <mat-card-content class="message">
            <markdown [data]="message.message"></markdown>
        </mat-card-content>
        <mat-card-actions *ngIf="message.idAuthor == userId">
            <button mat-button (click)="edit(message)">EDIT</button>
        </mat-card-actions>
    </mat-card>
    <mat-paginator #paginatorBottom
                   class="forum-pager"
                   [length]="messageAmountInThread"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="fetchByPagination($event)">
    </mat-paginator>
</div>

<mat-card class="forum-message-card" *ngIf="!!messagesInThread">
    <mat-card-content>
        <angular-markdown-editor
                textareaId="forum-message-form-field"
                [rows]="10"
                name="markdownText"
                [(ngModel)]="markdownText"
                [options]="editorOptions"
                class="angular-markdown-editor-minimalistic">
        </angular-markdown-editor>
        <button mat-raised-button color="secondary" type="submit" (click)="submitMessage()"
                [disabled]="!this.markdownText" id="send-forum-message-button">Submit
        </button>
    </mat-card-content>
</mat-card>

