<div id="forum-message-list" *ngIf="!!messagesInThread">
    <mat-paginator #paginatorTop
                   class="forum-pager"
                   [length]="messageAmountInThread"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="fetchByPagination($event)">
    </mat-paginator>
    <mat-card appearance="outlined" class="forum-card" *ngFor="let message of messagesInThread" ngClass="messageId-{{ message.idForumMessage }}">
        <mat-card-header>
            <img mat-card-avatar class="avatar-image" src="assets/icons/user/{{ message.profilePic }}.png" matTooltip="{{ message.author.username }}">

            <mat-card-title>
                <span *ngIf="!!message.author.allianceTag">[{{ message.author.allianceTag }}]</span>
                <span *ngIf="!message.author.rolePlayData.title">
                    {{ message.author.username }}
                </span>
                <span *ngIf="!!message.author.rolePlayData.title">
                    {{ message.author.rolePlayData.title }} {{ message.author.rolePlayData.firstname }} {{ message.author.rolePlayData.surname }}
                </span>
                <mat-icon *ngIf="unreadMessages.includes(message.idForumMessage)">mail</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>{{ message.sentAt | date: 'dd.MM.yyyy HH:mm' }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="message">
            <markdown [data]="message.message"></markdown>
        </mat-card-content>
        <mat-card-actions *ngIf="message.author.idUser == userId">
            <button mat-button (click)="msgToEdit = message">Edit</button>
            <button mat-button (click)="sendAsMail(message)" *ngIf="showSendButton(message)" [disabled]="noSendAllowed">USE CAREFULLY: Send via eMail</button>
        </mat-card-actions>
    </mat-card>
    <mat-paginator #paginatorBottom
                   class="forum-pager"
                   [length]="messageAmountInThread"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="fetchByPagination($event)">
    </mat-paginator>
</div>

<mat-card appearance="outlined" class="forum-message-card" *ngIf="!!messagesInThread">
    <mat-card-content>
        <app-markdown-editor textareaId="chat-message-form-field"
                             [rows]="10"
                             [editableText]="msgToEdit?.message"
                             (play)="submitMessage($event)"></app-markdown-editor>
    </mat-card-content>
</mat-card>

