@import "src/styles/variables";

$bgColor: black;

#external-map {
  background-color: $bgColor;
  overflow: hidden;
  position: relative;
}

.info-btn {
  color: $success;
}

.system-info-div {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  width: 50em;
  z-index: 999;
}

.highlighted {
  stroke: #306f91;
  stroke-width: 1;
}

.multi-mission {
  stroke: #33F9FF;
  stroke-width: 1;
}

.no-mission {
  stroke: #de2839;
  stroke-width: 1;
}
