<div id="external-map">
    <div class="flex-items-container system-info-div" *ngIf="!!starSystem">
        <app-red-box titleValue="System">
            {{ starSystem!.name }}
        </app-red-box>

        <app-red-box titleValue="Planet count">
            {{ starSystem.planets.length }}
        </app-red-box>

        <app-red-box titleValue="X-Coordinate">
            {{ starSystem!.orbit.xCoordinate.coordinate }} {{ starSystem!.orbit.xCoordinate.distanceMetric }}
        </app-red-box>

        <app-red-box titleValue="Y-Coordinate">
            {{ starSystem!.orbit.yCoordinate.coordinate }} {{ starSystem!.orbit.xCoordinate.distanceMetric }}
        </app-red-box>

        <app-red-box titleValue="Occupied planets" *ngIf="starSystem.planets.length > 0">
            <div *ngFor="let planet of starSystem.planets">
                <mat-label *ngIf="!!planet.owner">{{planet.name}} - {{planet.owner.username}}</mat-label>
                <mat-label *ngIf="!planet.owner">{{planet.name}}</mat-label>
            </div>
        </app-red-box>
    </div>

    <div id="mission-map">
        <!-- svg elements will be created programmatically -->
    </div>
    <ngx-spinner type="ball-scale-multiple" color="#375a7f" name="mission-map">{{ message }}</ngx-spinner>
</div>
