@import "src/styles/variables";

$bgColor: black;

#external-map {
  background-color: $bgColor;
  overflow: hidden;
  position: relative;
}

.info-btn {
  color: var(--success-color);
}

.system-info-div {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  width: 50em;
  z-index: 999;
}

.highlighted {
  stroke: #306f91;
  stroke-width: 1;
}

.multi-mission {
  stroke: #33F9FF;
  stroke-width: 1;
}

.no-mission {
  stroke: #de2839;
  stroke-width: 1;
}

.colonized-by-other {
  stroke: #6f1585;
  stroke-width: 1;
}

.colonized-by-npc {
  stroke: #8B0000;
  stroke-width: 1;
}

.palette {
  /* todo take them for heat map */
  fill: #A50026;
  fill: #E34A33;
  fill: #FCA55D;
  fill: #FEE99D;
  fill: #E9F6E8;
  fill: #A3D3E6;
  fill: #598DC0;
  fill: #313695;
}
