<app-resource-deposit-overlay-display [costs]="costs"></app-resource-deposit-overlay-display>
<div class="fitting">
    <div class="flex-items-container">
        <button mat-button
                [disabled]="disabled"
                (click)="deleteClass()"
                class="ship-action-button">
            Delete ship class
        </button>
        <div [formGroup]="form" shipClassNamePatternValidator>
            <mat-form-field appearance="fill">
                <mat-label>Ship class</mat-label>
                <input matInput formControlName="scName" autocomplete="off"
                       matTooltip="The class name should contain of between 3 and 30 characters.">
                <mat-error *ngIf="form.get('scName')?.hasError('passPattern')">{{errors.passPattern}} </mat-error>
                <mat-error *ngIf="form.get('scName')?.hasError('passAlreadyKnown')">{{errors.passAlreadyKnown}} </mat-error>
            </mat-form-field>
        </div>
        <button mat-button
                [disabled]="disabled"
                (click)="storeClass()"
                class="ship-action-button"
                matTooltip="At least the name, a hull and a propulsion module is needed.">
            Store ship class
        </button>
    </div>
    <app-ship-class-svg [isTemplateRenderedInput]="isSelectedOutput" [svgSelector]="svgSelector"
                        [weaponsAmountByAlignmentInput]="weaponsAmountByAlignmentOutput"
                        [selectedShipClassInput]="shipClass"></app-ship-class-svg>

    <div class="middle">
        <app-spacecraft-capabilities-display [baseFleetCapabilities]="capabilities"></app-spacecraft-capabilities-display>
    </div>

    <app-ship-class-fitting-selection [shipClassInput]="shipClass"
                                      [shipClassNameInput]="shipClassNameOutput"
                                      [designedShipClassInputEmitter]="designedShipClassOutputEmitter"
                                      (weaponsAmountByAlignmentOutput)="setWeaponsAmountByAlignmentInput($event)"></app-ship-class-fitting-selection>
</div>
