<div class="content-area">
    <app-outlined titleValue="{{ 'fleet.composition.detachment.title' | translate }}">
        <div cdkDropListGroup class="clearfix inner-list">
            <div *ngFor="let fleet of fleets | slice:1" class="fleet-container">
                <div class="fleet-box">
                    <div *ngIf="locked.includes(fleet.idFleet)" class="rel">
                        <button mat-mini-fab color="success" aria-label="unlock input button" class="lock-btn"
                                (click)="locked.splice(locked.indexOf(fleet.idFleet), 1)"
                                *ngIf="locked.includes(fleet.idFleet) && fleet.idFleet < 0">
                            <mat-icon>lock</mat-icon>
                        </button>
                        <div mat-subheader class="fleet-name" [matTooltip]="fleet.name">{{fleet.name}}</div>
                        <button mat-mini-fab color="accent" aria-label="add a fleet detachment button" class="add-btn-with-name"
                                (click)="addFleetContainer()"
                                matTooltip="{{ 'fleet.composition.detachment.tooltip' | translate }}"
                                *ngIf="fleets.indexOf(fleet) === fleets.length - 1">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>

                    <div *ngIf="!locked.includes(fleet.idFleet)" class="rel">
                        <button mat-mini-fab color="accent" aria-label="lock input button" class="lock-btn"
                                (click)="locked.push(fleet.idFleet)"
                                *ngIf="!locked.includes(fleet.idFleet) && fleet.idFleet < 0" [disabled]="fleet.name.length <= 0 || fleet.ships.length == 0">
                            <mat-icon>lock_open</mat-icon>
                        </button>
                        <mat-form-field class="name-input">
                            <input matInput autocomplete="off"
                                   [(ngModel)]="fleet.name"
                                   placeholder="{{ 'fleet.composition.detachment.placeholder' | translate }}"
                                   class="name-input"
                                   type='text'>
                            <mat-hint align="start">{{ 'fleet.composition.detachment.hint' | translate }}</mat-hint>
                        </mat-form-field>
                        <button mat-mini-fab color="accent" aria-label="add a fleet detachment button" class="add-btn-without-name"
                                (click)="addFleetContainer()"
                                matTooltip="{{ 'fleet.composition.detachment.add' | translate }}"
                                *ngIf="fleets.indexOf(fleet) === fleets.length - 1 && locked.includes(fleet.idFleet)">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" aria-label="remove a fleet detachment button" class="remove-btn"
                                (click)="removeFleetContainer()"
                                matTooltip="{{ 'fleet.composition.detachment.remove' | translate }}"
                                *ngIf="fleets.indexOf(fleet) === fleets.length - 1 && fleets.indexOf(fleet) > 2"
                                [disabled]="locked.includes(fleet.idFleet) || fleet.ships.length > 0">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </div>

                    <div cdkDropList
                         [cdkDropListData]="fleet.ships"
                         class="warship-list"
                         (cdkDropListDropped)="drop($event, locked.includes(fleet.idFleet))">
                        <div class="warship-box" *ngFor="let warship of fleet.ships"
                             [ngStyle]="{'cursor':( !locked.includes(fleet.idFleet) ? 'move' : '')}"
                             cdkDrag
                             [cdkDragDisabled]="locked.includes(fleet.idFleet) && (fleet.idFleet < 0 || (fleet.idFleet > 0 && fleet.ships.length == 1))">
                            {{ warship.name }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="fleet-container pool-item">
                <div *ngIf="fleets.length >= 1" class="rel">
                    <a mat-mini-fab color="success" aria-label="unlock input button" class="lock-reserve-btn"
                       (click)="locked.splice(locked.indexOf(fleets[0].idFleet), 1)"
                       *ngIf="locked.includes(fleets[0].idFleet)">
                        <mat-icon>lock</mat-icon>
                    </a>
                    <button mat-mini-fab color="accent" aria-label="lock input button" class="lock-reserve-btn"
                            (click)="locked.push(fleets[0].idFleet)"
                            *ngIf="!locked.includes(fleets[0].idFleet)"
                            [disabled]="fleets[0].name.length <= 0 || fleets[0].ships.length == 0">
                        <mat-icon>lock_open</mat-icon>
                    </button>
                    <div mat-subheader class="fleet-name"
                         matTooltip="{{ 'fleet.composition.detachment.pool.tooltip' | translate }}">{{ 'fleet.composition.detachment.pool.name' | translate }}</div>
                    <div cdkDropList
                         [cdkDropListData]="fleets[0].ships"
                         class="warship-list"
                         (cdkDropListDropped)="drop($event, locked.includes(fleets[0].idFleet))">
                        <div class="warship-box" *ngFor="let warship of fleets[0].ships"
                             [ngStyle]="{'cursor':( !locked.includes(fleets[0].idFleet) ? 'move' : '')}"
                             cdkDrag
                             [cdkDragDisabled]="locked.includes(fleets[0].idFleet)">
                            {{ warship.name }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-items-container">
            <div *ngIf="!allValid()"
                 matTooltip="{{ 'fleet.composition.detachment.submit.disabled-hint' | translate }}">
                <button mat-raised-button disabled color="primary">{{ 'fleet.composition.detachment.submit.action' | translate }}</button>
            </div>

            <button mat-raised-button color="primary"
                    (click)="submit()"
                    *ngIf="allValid()">{{ 'fleet.composition.detachment.submit.action' | translate }}</button>
        </div>
    </app-outlined>
</div>
