<div class="content-area">
    <app-outlined titleValue="{{ 'fleet.composition.detachment.title' | translate }}">
        <div cdkDropListGroup class="clearfix inner-list">
            <div *ngFor="let fleet of fleets | slice:1" class="fleet-container">
                <div class="fleet-box">
                    <div class="rel">
                        <button mat-mini-fab color="accent" aria-label="add a fleet detachment button" class="add-btn-with-name"
                                (click)="addFleetContainer()"
                                matTooltip="{{ 'fleet.composition.detachment.tooltip' | translate }}"
                                *ngIf="fleets.indexOf(fleet) === fleets.length - 1">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>

                    <div class="rel">
                        <mat-form-field class="name-input">
                            <input matInput autocomplete="off"
                                   [(ngModel)]="fleet.name"
                                   placeholder="{{ 'fleet.composition.detachment.placeholder' | translate }}"
                                   class="name-input"
                                   type='text'>
                            <mat-hint align="start">{{ 'fleet.composition.detachment.hint' | translate }}</mat-hint>
                        </mat-form-field>
                        <button mat-mini-fab color="primary" aria-label="remove a fleet detachment button" class="remove-btn"
                                (click)="removeFleetContainer()"
                                matTooltip="{{ 'fleet.composition.detachment.remove' | translate }}"
                                *ngIf="fleets.indexOf(fleet) === fleets.length - 1 && fleets.indexOf(fleet) > 2"
                                [disabled]="fleet.ships.length > 0">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                    </div>

                    <div cdkDropList
                         [cdkDropListData]="fleet.ships"
                         class="warship-list"
                         (cdkDropListDropped)="drop($event)">
                        <div class="warship-box" *ngFor="let warship of fleet.ships" cdkDrag>
                            <app-icon matListItemAvatar
                                      [icon]="warship.shipClass.shipClassType"
                                      [altText]="warship.shipClass.shipClassType.typeName"
                                      [toolTip]="warship.shipClass.shipClassType.typeName"></app-icon> <!-- fixme app icon tooltip -->
                            <div class="item-box">
                                <span class="warship-title">{{ warship.name }}</span><br>
                                <span class="warship-subtitle">{{ warship.shipClass.name }} Flt. {{ warship.shipClass.mark }}</span>
                            </div>
                            <app-military-people *ngIf="warship.idFleet != fleet.idFleet"
                                                 preSelect [utilization]="costsByShipClass.get(warship.shipClass.idShipClass!) | async"></app-military-people>
                            <!-- fixme costs wrong-->
                        </div>
                    </div>
                    <app-military-people preSelect [utilization]="costs"></app-military-people> <!-- fixme costs wrong -->
                </div>

            </div>

            <div class="fleet-container">
                <ngx-spinner type="ball-clip-rotate-multiple" name="detachment-spinner">{{ 'fleet.composition.detachment.spinner' | translate }}</ngx-spinner>
                <mat-divider></mat-divider>

                <app-military-people preSelect [utilization]="deposit"></app-military-people>

                <div class="pool-item">
                    <mat-chip-listbox (change)="setVenue($event.value)" [multiple]="false" [disabled]="!isFleetCreation">
                        <mat-chip-option *ngFor="let p of planets" [value]="p" [selected]="p.idPlanet === planet?.idPlanet" color="primary">
                            {{ p.name }}
                        </mat-chip-option>
                    </mat-chip-listbox>
                    <div *ngIf="fleets.length >= 1" class="rel">
                        <div mat-subheader class="fleet-name"
                             matTooltip="{{ 'fleet.composition.detachment.pool.tooltip' | translate }}">{{ 'fleet.composition.detachment.pool.name' | translate }}</div>
                        <div cdkDropList
                             [cdkDropListData]="fleets[0].ships"
                             class="warship-list"
                             (cdkDropListDropped)="drop($event)">
                            <div class="warship-box" *ngFor="let warship of fleets[0].ships"
                                 cdkDrag>
                                <app-icon matListItemAvatar
                                          [icon]="warship.shipClass.shipClassType"
                                          [altText]="warship.shipClass.shipClassType.typeName"
                                          [toolTip]="warship.shipClass.shipClassType.typeName"></app-icon> <!-- fixme app icon tooltip -->
                                <div class="item-box">
                                    <span class="warship-title">{{ warship.name }}</span><br>
                                    <span class="warship-subtitle">{{ warship.shipClass.name }} Flt. {{ warship.shipClass.mark }}</span>
                                </div>
                                <app-military-people preSelect [utilization]="costsByShipClass.get(warship.shipClass.idShipClass!) | async"></app-military-people>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-items-container">
            <div *ngIf="!allValid()"
                 matTooltip="{{ 'fleet.composition.detachment.submit.disabled-hint' | translate }}">
                <button mat-raised-button disabled color="primary">{{ 'fleet.composition.detachment.submit.action' | translate }}</button>
            </div>

            <button mat-raised-button color="primary"
                    (click)="submit()"
                    *ngIf="allValid()">{{ 'fleet.composition.detachment.submit.action' | translate }}</button>
        </div>
    </app-outlined>
</div>
