<mat-card *ngIf="!!fleet"
          [appearance]="_transparent ? 'raised' : 'outlined'"
          [ngStyle]="{'background-color':( _transparent ? 'transparent' : '')}" class="blue-card">
    <mat-card-header class="rename-element">
        <app-icon matCardAvatar png64px [fleetSize]="fleet.ships.length"></app-icon>
        <mat-card-title class="title-block">
            <app-outlined titleValue="{{ 'fleet.composition.fleet-name.title' | translate }}">
                <div class="title flex-items-from-start-container">
                    <span>{{ fleet.name }}</span>
                </div>
            </app-outlined>
        </mat-card-title>
        <app-spacecraft-state-block-display [stateBlock]="fleet.state" isFleet *ngIf="isOwnFleet(fleet)"></app-spacecraft-state-block-display>
    </mat-card-header>
    <mat-card-content class="flex-items-container">
        <ng-content select="[body]"></ng-content>
    </mat-card-content>
    <mat-card-actions>
        <ng-content select="[actions]"></ng-content>
    </mat-card-actions>
</mat-card>
