@import "src/styles/variables";

.title-block {
  position: relative;
}

.name-input {
  cursor: text;
}

.name-input .mat-mdc-form-field-suffix {
  top: 8px;
  margin-left: 25px;
}

.rename-element .mat-mdc-form-field-underline {
  bottom: 0;
}

.rename-element .mat-mdc-form-field,
.rename-element .mat-mdc-card-header-text {
  width: 350px;
}

.name-input .mat-mdc-form-field-infix {
  border-top: 0;
}

.name-input .mat-mdc-form-field-flex {
  padding-top: 0 !important;
}

.name-input .mat-mdc-form-field-wrapper {
  padding-bottom: 0;
}

app-spacecraft-state-block-display {
  margin-left: 25px;
}

.retire-btn {
  color: $warning-color;
  position: absolute;
  top: -20px;
  right: -35px;
  z-index: 99;
}
