<mat-card [appearance]="_transparent ? 'raised' : 'outlined'" [ngStyle]="{'background-color':( _transparent ? 'transparent' : '')}" *ngIf="!!fleet">
    <mat-card-header class="rename-element">
        <img mat-card-avatar class="avatar-image icon" src="{{getLink()}}" alt="fleet-icon">
        <mat-card-title class="title-block" *ngIf="nameChangeAllowed">
            <form [formGroup]="formGroup" matTooltip="Double click to rename">
                <mat-form-field appearance="outline"
                                class="name-input rename-element"
                                (dblclick)="enable()">
                    <input matInput autocomplete="off"
                           class="name-input"
                           type='text'
                           formControlName='fleetName'
                           (dblclick)="enable()">
                    <mat-icon matSuffix (click)="save()" class="name-input disabled">save_alt</mat-icon>
                </mat-form-field>
            </form>
        </mat-card-title>
        <mat-card-title *ngIf="!nameChangeAllowed">
            {{fleet.name}}
        </mat-card-title>
        <mat-card-subtitle>
            idFleet: {{fleet.idFleet}}
        </mat-card-subtitle>
        <app-spacecraft-state-block-display [stateBlock]="fleet.state" [isFleet]="true" *ngIf="isOwnFleet(fleet)"></app-spacecraft-state-block-display>
    </mat-card-header>
    <mat-card-content class="flex-items-container">
        <ng-content select="[body]"></ng-content>
    </mat-card-content>
    <mat-card-actions>
        <ng-content select="[actions]"></ng-content>
    </mat-card-actions>
</mat-card>
