@import "src/styles/variables";

.title-block {
  position: relative;
}

.title {
  & span {
    font-weight: 700;
    margin-left: 15px
  }

  & .flex-items-from-start-container {
    align-items: center;
  }
}

.name-input {
  cursor: text;
}

.name-input .mat-mdc-form-field-suffix {
  top: 8px;
  margin-left: 25px;
}

.rename-element .mat-mdc-form-field-underline {
  bottom: 0;
}

.rename-element .mat-mdc-form-field,
.rename-element .mat-mdc-card-header-text {
  width: 350px;
}

.name-input .mat-mdc-form-field-infix {
  border-top: 0;
}

.name-input .mat-mdc-form-field-flex {
  padding-top: 0 !important;
}

.name-input .mat-mdc-form-field-wrapper {
  padding-bottom: 0;
}

app-spacecraft-state-block-display {
  margin-left: 25px;
}

mat-card-actions {
  margin-top: 25px;
}

mat-card-actions {
  min-height: 0;
  padding: 0;
  margin: 0;
}
