<mat-card *ngIf="!!fleetInput">
    <mat-card-header>
        <div mat-card-avatar class="avatar-image"
             [ngStyle]="{'background-image': 'url(&quot;http://localhost:8080/vaadin/icons/fleets/png64x/small_fleet_c.png&quot;)'}"></div>
        <mat-card-title>
            {{fleetInput.name}}
        </mat-card-title>
        <mat-card-subtitle>
            idFleet: {{fleetInput.idFleet}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex-items-container">
        <app-fleet-formation-display [selectedFleetInput]="fleetInput"></app-fleet-formation-display>
    </mat-card-content>
</mat-card>
