@import "src/styles/variables";

.blue-card {
  padding: 0;
  margin: 0;
  border: solid var(--card-edge-color) 2px;
  font-size: smaller;
  background: linear-gradient(45deg, var(--card-edge-color) 20px, var(--tertiary-background-color) 20px);
  border-radius: 0 0 0 5px;
}

.right-blue-card {
  padding: 0;
  margin: 0;
  border: solid var(--card-edge-color) 2px;
  font-size: smaller;
  background: linear-gradient(-45deg, var(--card-edge-color) 20px, var(--tertiary-background-color) 20px);
  border-radius: 0 0 5px 0;
}

mat-card-actions, mat-card-header, mat-card-content {
  min-height: 0;
  padding: 0;
  margin: 0;
}
