<div class="content-area">

    <app-spot-market [planet]="planet"
                     [resourceDeposit]="resourceDeposit"
                     [presentMoney]="presentMoney"></app-spot-market>

    <div class="flex-items-container">
        <div echarts [options]="amountHistoryOpt" [merge]="amountMergeOpt" [theme]="theme" class="history-chart"></div>
        <div echarts [options]="priceHistoryOpt" [merge]="priceMergeOpt" [theme]="theme" class="history-chart"></div>
    </div>

    <app-offer-market [planet]="planet"
                      [resourceDeposit]="resourceDeposit"
                      [presentMoney]="presentMoney"></app-offer-market>
</div>
