.flex-items-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.img-container {
  float: left;
  margin: 9px 10px 5px 5px;
}

.res-wrapper {
  height: 38px;
}

.box {
  margin: 5px 5px 5px 5px;
}

.amount-present {
  font-size: 12px;
  line-height: 14px;
}