<div class="flex-items-container" *ngIf="!!miningFactors">
    <div *ngFor="let resource of miningFactors.resources" class="box">
        <div class="res-wrapper">
            <div class="img-container">
                <app-icon class="icon"
                          [icon]="resource.resourceType"
                          [altText]="resource.resourceType.typeName"
                          png24px [toolTip]="getTooltip(resource.resourceType)"></app-icon>
            </div>
            <label class="amount-present" *ngIf="modifications.has(resource.resourceType.typeName)">
                {{ resource.amount }} (+ {{ modifications.get(resource.resourceType.typeName) }}) %
            </label>
            <label class="amount-present" *ngIf="!modifications.has(resource.resourceType.typeName)">
                {{ resource.amount }} %
            </label>
        </div>
    </div>
</div>
