<div class="flex-items-container" *ngIf="!!miningFactors">
    <div *ngFor="let resource of miningFactors.resources" class="box">
        <div class="res-wrapper">
            <div class="img-container">
                <img class="icon"
                     src="{{getLink(resource)}}"
                     alt="{{resource.resourceType.singularName}}"
                     matTooltip="{{getTooltip(resource.resourceType)}}">
            </div>
            <label class="amount-present">
                {{getAsString(resource.amount)}}
            </label>
        </div>
    </div>
</div>
