<div class="flex-items-container" *ngIf="!!miningFactors">
    <div *ngFor="let resource of miningFactors.resources" class="box">
        <div class="res-wrapper">
            <div class="img-container">
                <app-icon class="icon"
                          [icon]="resource.resourceType"
                          [altText]="resource.resourceType.singularName"
                          png24px [toolTip]="getTooltip(resource.resourceType)"></app-icon>
            </div>
            <label class="amount-present">
                {{getAsString(resource.amount)}}
            </label>
        </div>
    </div>
</div>
