@import "src/styles/variables";

.app-resource-display {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: $background-color;
}

.filter {
  display: block;
}

.tooltip-container {
  margin: 10px 0 10px 0;
  width: fit-content;
}

.right-block {
  position: absolute;
  right: 15px;
}

.ship-class-card {
  margin-bottom: 15px;
}
