<div class="holder content-area">
    <div class="app-resource-display">
        <app-resource-display shipyardMode
                              [deposit]="resourceDeposit"
                              [costs]="costsToDisplay"
                              [income]="income"></app-resource-display>
    </div>

    <app-outlined titleValue="{{ 'planetary.fleets-in-orbit.title' | translate }}">
        <app-fleets-at-yard [planet]="selectedPlanet"
                            [fleetsInOrbit]="fleetsInOrbit"
                            [deposit]="resourceDeposit"
                            [income]="income"
                            [possibleShipClasses]="possibleShipClasses"
                            [shipyardJobPossible]="shipyardJobPossible"></app-fleets-at-yard>
    </app-outlined>

    <div>
        <app-outlined titleValue="Hull types" class="filter" (click)="toggle()">
            <mat-chip-listbox #hullTypeChipList multiple [formControl]="eHullTypeFC">
                <mat-chip-option
                        *ngFor="let eHullType of eHullTypes"
                        class="no-checkmark"
                        [value]="eHullType.typeName"
                        matTooltip="{{ 'shipyard.hull.type.' + eHullType.typeName | translate }}"
                        (click)="filterDisplayedShipClasses(); $event.stopPropagation();">
                    {{eHullType.type}}
                    <app-icon matChipTrailingIcon
                              [icon]="eHullType"
                              [altText]="eHullType.typeName"
                              [toolTip]="eHullType.typeName"></app-icon>
                </mat-chip-option>
            </mat-chip-listbox>
        </app-outlined>
    </div>

    <div>{{ 'shipyard.constructions.title' | translate }}</div>

    <div [matTooltip]="getJobButtonText()" class="tooltip-container">
        <button mat-raised-button color="secondary"
                *ngIf="tabIndex == 0"
                (click)="constructionShips()"
                [disabled]="!shipyardJobPossible || jobTooExpensive || !hasSomeShipsForBuildSelected">
            {{ 'shipyard.constructions.build.start-ship-build' | translate }}
        </button>
        <button mat-raised-button color="secondary"
                *ngIf="tabIndex == 1"
                (click)="constructionStructures()"
                [disabled]="!shipyardJobPossible || jobTooExpensive || !hasSomeShipsForBuildSelected">
            {{ 'shipyard.constructions.build.start-orbital-module-build' | translate }}
        </button>
    </div>

    <app-outlined titleValue="Build setup">
        <mat-tab-group animationDuration="500ms" (selectedIndexChange)="changeTab($event)">
            <mat-tab label="{{ 'shipyard.constructions.ships.title' | translate }}">
                <ng-template matTabContent>

                    <div class="flex-items-container yard-tab-content">
                        <app-blue-card rightBlueCard *ngFor="let shipClass of filteredShipClasses" class="ship-class-card">
                            <mat-card-header header>
                                <app-icon matCardAvatar png32px
                                          [icon]="shipClass.shipClassType"
                                          [altText]="shipClass.shipClassType.typeName"
                                          [toolTip]="shipClass.shipClassType.typeName"></app-icon>
                                <span matCardTitle>{{ shipClass.name }} Flt. {{ shipClass.mark }}</span>
                                <span matCardSubtitle>{{ shipClass.shipClassType.typeName }} - {{ getMass(shipClass) | mass: 'T' }}</span>
                            </mat-card-header>
                            <app-numeric-counter actions [inputDisabled]="false"
                                                 caption="Amount"
                                                 (amount)="setAmount($event, shipClass)"></app-numeric-counter>
                        </app-blue-card>
                    </div>

                </ng-template>
            </mat-tab>
            <mat-tab label="{{ 'shipyard.constructions.orbital-structures.title' | translate }}">
                <ng-template matTabContent>

                    <div class="flex-items-container yard-tab-content">


                        <app-orbital-module-display *ngFor="let module of possibleOrbitalModules" class="ship-class-card"
                                                    [module]="module" showIcon>


                            <app-numeric-counter actions [inputDisabled]="false"
                                                 caption="Amount"
                                                 (amount)="setAmountOrbital($event, module)"></app-numeric-counter>
                        </app-orbital-module-display>

                    </div>

                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </app-outlined>
</div>
