<mat-tab-group animationDuration="0ms" class="bottom-spacer">
    <mat-tab label="{{'tab.journal.dashboard' | translate}}">
        <p> Why I need a dashboard?</p>
    </mat-tab>
    <mat-tab label="{{'tab.journal.battles' | translate}}">
        <app-battle-report></app-battle-report>
    </mat-tab>
    <mat-tab label="{{'tab.journal.movements' | translate}}">
        <p>Ah yeah, the movements...</p>
    </mat-tab>
    <mat-tab label="{{'tab.journal.jobs' | translate}}">
        <app-job-journal></app-job-journal>
    </mat-tab>
</mat-tab-group>
