<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <p>Provides information about the current state of the planet and fleets in orbit.</p>

    <h4>Population development</h4>
    <p>To handle the needs of a population, to keep them more than simply alive is not a easy thing.
        Your population is the backbone of the empire's strength and in the end, of your navy.</p>
    <p>The people chose the planet they live on their own, based on the open jobs and the need of your navy to man the ships.
        They educate themself into the needed education levels and move to other planets of your empire.</p>
    <p>But keep in mind that your military is bound by instructions - so move them on your own.</p>

    <h4>Orbiting fleets</h4>
    <p>Fleets are ammoed up when they are in orbit for a longer period of time.</p>
    <p>They can also be repaired, but this has to be done manually and will interrupt the current shipyard's job.</p>
</div>
