<div mat-subheader *ngIf="transportJobs.length == 0">{{ 'jobs.transports.nothing' | translate }}</div>
<div mat-subheader *ngIf="transportJobs.length > 0">{{ 'jobs.transports.title' | translate }}</div>

<div *ngIf="transportJobs.length > 0">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree streamline-background">
        <mat-nested-tree-node *matTreeNodeDef="let node;">
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <div mat-subheader>To {{node.parent.to}}</div>
            </div>
            <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group" class="flex-items-from-start-container">
                <div *ngFor="let what of node.parent.transportJobs" class="flex-items-container">


                    <app-outlined titleValue="{{ what.resourceType.typeName }}">
                        <div class="flex-items-from-start-container header-item">
                            <app-icon [icon]="what.resourceType" [altText]="what.resourceType.typeName"
                                      circleBorder color="b"
                                      png24px [toolTip]="what.resourceType.typeName"></app-icon>
                            <app-number-short [input]="what.total"></app-number-short>
                        </div>
                        <ul>
                            <li *ngFor="let from of what.from | keyvalue" style="font-size: small">
                                {{ $any(from.value) | numberShort }} from {{ from.key }}
                            </li>
                        </ul>
                    </app-outlined>


                    <!-- <mat-card>
                         <mat-card-header>
                             <app-icon mat-card-avatar [icon]="what.resourceType" [altText]="what.resourceType.typeName"
                                       png24px [toolTip]="what.resourceType.typeName"></app-icon>
                             <mat-card-title>
                                 <app-number-short [input]="what.total"></app-number-short>
                             </mat-card-title>
                         </mat-card-header>
                         <mat-card-content>
                             <ul>
                                 <li *ngFor="let from of what.from | keyvalue" style="font-size: small">
                                     {{ $any(from.value) | numberShort }} from {{ from.key }}
                                 </li>
                             </ul>
                         </mat-card-content>
                     </mat-card>-->
                </div>
            </div>
        </mat-nested-tree-node>
    </mat-tree>
</div>
