.mar-ri {
  margin-right: 25px;
}

.icon {
  height: 16px !important;
  width: 16px !important;
  margin-right: 10px;
}

.tree {
  margin: 15px;
  padding: 15px;
}

.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
}

.tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.header-item {
  margin: 10px;
}

app-number-short {
  margin-left: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
