<div class="flex-items-container">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput disabled value="{{research!.name}}">
    </mat-form-field>
    <mat-form-field appearance="outline" class="short-field">
        <mat-label>Level cap</mat-label>
        <input matInput disabled value="{{research!.levelCap}}">
    </mat-form-field>
    <mat-form-field appearance="outline" class="description-field">
        <mat-label>Description</mat-label>
        <input matInput disabled value="{{research!.description}}">
    </mat-form-field>
</div>
