<mat-accordion *ngIf="!!weapon">
    <mat-expansion-panel class="margin-bottom">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{weapon.baseModule.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{weapon.baseModule.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex-items-container">
            <app-numeric-counter [disabled]="supportsAlignment('STERN')" [startAt]="getAmountByAlignment('STERN')" [min]="min"
                                 caption='Stern'
                                 [max]="max" (amount)="setAmount('STERN', $event)"></app-numeric-counter>
            <app-numeric-counter [disabled]="supportsAlignment('BROADSIDE')" [startAt]="getAmountByAlignment('BROADSIDE')" [min]="min"
                                 caption='Broadside'
                                 [max]="max" (amount)="setAmount('BROADSIDE', $event)"></app-numeric-counter>
            <app-numeric-counter [disabled]="supportsAlignment('BOW')" [startAt]="getAmountByAlignment('BOW')" [min]="min" [max]="max"
                                 caption='Bow'
                                 (amount)="setAmount('BOW', $event)"></app-numeric-counter>
        </div>
        <app-weapon-display [weapon]="weapon"></app-weapon-display>
    </mat-expansion-panel>
</mat-accordion>
