
.zoom-scale {
  height: 350px;
  width: 200px;
  display: flex;
  align-items: center;
}

mat-progress-bar {
  transform: rotate(-90deg);
}

.height-scale {
  transform: rotate(-90deg);
  position: absolute;
  right: 10px;
}

.width-scale {
  position: absolute;
  top: 60%;
  right: 25px;
}
