<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-divider></mat-divider>

    <div mat-subheader>{{ 'wiki.selection.content.menu-entry' | translate }}</div>

    <mat-select [(value)]="langCode" (valueChange)="displayArticles()" class="small">
        <mat-option [value]="'nope'">{{ 'wiki.selection.language.placeholder-option' | translate }}</mat-option>
        <mat-option *ngFor="let lang of possibleLanguages" [value]="lang">
            {{ lang }}
        </mat-option>
    </mat-select>

    <mat-divider></mat-divider>

    <div *ngFor="let entry of display | keyvalue" class="category-block">
        <div mat-subheader>{{ getDisplayName(entry.key) }}</div>
        <mat-list-option *ngFor="let article of entry.value" (click)="chose(article)">
            {{ article.title }}
        </mat-list-option>
    </div>
</mat-selection-list>
