<mat-card *ngIf="!!construction"
          style="background-color: transparent;"
          class="margin-bottom blue-card">
    <mat-card-header>
        <app-icon matCardAvatar class="icon"
                  [icon]="construction.building.productionTarget"
                  [altText]="construction.building.productionTarget.typeName"
                  png24px [toolTip]="construction.building.productionTarget.typeName"></app-icon>
        <mat-card-title>{{construction.building.name}}</mat-card-title>
        <mat-card-subtitle>{{construction.building.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-outlined titleValue="{{ 'planetary.constructions.info.title' | translate }}">
            {{ descriptionText }}
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Production Target:
                        <app-icon [icon]="construction.building.productionTarget"></app-icon>
                    </span>
                    <span matListItemLine>Maximum output after build: {{ outputAfterBuild }}</span>
                    <span matListItemLine>{{ 'planetary.constructions.level.title' | translate }}: {{ construction.operationalLevel }} / {{ construction.level }}</span>

                    <span matListItemLine *ngIf="!!construction.building.refinementSequence">Refinement Sequence:
                    <app-icon [icon]="construction.building.refinementSequence.educt"></app-icon>
                        to
                    <app-icon [icon]="construction.building.refinementSequence.product"></app-icon>
                    </span>
                </mat-list-item>
            </mat-list>
        </app-outlined>
    </mat-card-content>
    <mat-card-actions align="end">
        <div [matTooltip]="disabledMessage" *ngIf="isDisabled">
            <button mat-button disabled>{{ 'planetary.constructions.build.start-building' | translate }}</button>
        </div>
        <button mat-button *ngIf="!isDisabled" (click)="buildConstruction()">{{ 'planetary.constructions.build.start-building' | translate }}</button>
    </mat-card-actions>
</mat-card>
