<mat-card>
    <mat-card-header>
        <img mat-card-avatar
             class="avatar-image icon"
             src="{{getLink()}}"
             alt="construction"
             matTooltip="{{construction.building.productionTarget.typeName}}">
        <mat-card-title>{{construction.building.name}}</mat-card-title>
        <mat-card-subtitle>{{construction.building.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div mat-subheader>{{ 'planetary.constructions.level.title' | translate }}</div>
        <div class="flex-items-container">
            <mat-form-field appearance="fill" class="short-field">
                <mat-label>{{ 'planetary.constructions.level.current' | translate }}</mat-label>
                <input matInput disabled value="{{construction.level}}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="short-field">
                <mat-label>{{ 'planetary.constructions.level.operational' | translate }}</mat-label>
                <input matInput disabled value="{{construction.operationalLevel}}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="short-field">
                <mat-label>{{ 'planetary.constructions.level.next' | translate }}</mat-label>
                <input matInput disabled value="{{construction.level + 1}}">
            </mat-form-field>
        </div>

        <div mat-subheader>{{ 'planetary.constructions.info.title' | translate }}</div>
        <div class="flex-items-container">
            <mat-form-field appearance="fill">
                <mat-label>Output after build</mat-label>
                <input matInput disabled value="{{getOutput()}}">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Production Target</mat-label>
                <input matInput disabled value="{{construction.building.productionTarget.typeName}}">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Production Category</mat-label>
                <input matInput disabled value="{{construction.building.productionCategory}}">
            </mat-form-field>

            <mat-form-field *ngIf="!!construction.building.refinementSequence" appearance="fill">
                <mat-label>Refinement Sequence</mat-label>
                <input matInput disabled value="{{getRefinementDescription()}}">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button disabled *ngIf="!constructionPossible && !jobTooExpensive">{{ 'planetary.constructions.build.not-possible' | translate }}</button>
        <button mat-button disabled *ngIf="jobTooExpensive && constructionPossible">{{ 'planetary.constructions.build.too-expensive' | translate }}</button>
        <button mat-button *ngIf="constructionPossible && !jobTooExpensive" (click)="buildConstruction()">{{ 'planetary.constructions.build.start-building' | translate }}</button>
    </mat-card-actions>
</mat-card>
