<mat-card>
    <mat-card-header>
        <img mat-card-avatar class="avatar-image icon" src="{{getLink()}}" alt="construction">
        <mat-card-title>{{constructionInput.building.name}}</mat-card-title>
        <mat-card-subtitle>{{constructionInput.building.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex-items-container">

        <mat-form-field appearance="fill" class="short-field">
            <mat-label>Target Level</mat-label>
            <input matInput disabled value="{{constructionInput.level}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Production Target</mat-label>
            <input matInput disabled value="{{constructionInput.building.productionTarget.typeName}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Production Category</mat-label>
            <input matInput disabled value="{{constructionInput.building.productionCategory}}">
        </mat-form-field>

        <mat-form-field *ngIf="!!constructionInput.building.refinementSequence" appearance="fill">
            <mat-label>Refinement Sequence</mat-label>
            <input matInput disabled value="{{getRefinementDescription(constructionInput.building.refinementSequence)}}">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [disabled]="!constructionPossibleInput" (click)="buildConstruction()">Build</button>
    </mat-card-actions>
</mat-card>
