<app-chip-selector multiple noCheckmark preSelect
                   titleValue="Filter modules by hull type"
                   [chipValues]="eHullTypeChipValues"
                   (chipValuesChange)="filterDisplayedItems($event)"></app-chip-selector>

<div>{{ 'shipyard.fitting.singular-module.title' | translate }}</div>
<mat-chip-listbox aria-label="Module selection">
    <mat-chip-option selected disabled class="no-checkmark sized-chips" aria-label="{{ 'shipyard.fitting.hull.title' | translate }}">
        {{ 'shipyard.fitting.hull.title' | translate }}: {{shipClass?.hull?.name}}
    </mat-chip-option>
</mat-chip-listbox>

<mat-vertical-stepper animationDuration="500ms" *ngIf="!!shipClass">
    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.offensive.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.weapons' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <button mat-mini-fab color="primary" matStepperNext aria-label="next">
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>

            <div class="flex-items-container">
                <mat-button-toggle-group class="area-toggle">
                    <mat-button-toggle *ngFor="let type of weaponTypes" (click)="selectWeaponType(type)" [checked]="type === selectedWeaponType">
                        {{ 'enum.name.weaponType.' + type | translate }}
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <mat-button-toggle-group class="area-toggle">
                    <mat-button-toggle *ngFor="let arc of alignmentAreas" (click)="selectFiringArc(arc)" [checked]="arc === selectedArc">
                        {{ 'enum.name.alignmentType.' + arc | translate }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let wep of weapons"
                                 [ngStyle]="{'display':( !isFilteredModule(wep, filteredWeapons) ? 'none' : '')}"
                                 [disabled]="!isFilteredModule(wep, filteredWeapons)"
                                 (selectedChange)="chooseWeapon(wep)"
                                 (mouseover)="hoverWeapon(wep)"
                                 (mouseout)="hoverWeapon()">
                    <span matListItemTitle>{{wep.baseModule.name}}</span>
                    <span matListItemLine>{{ 'enum.name.hullType.' + wep.baseModule.hullType.typeName | translate }} {{ 'shipyard.fitting.weapon-for.weaponType.' + wep.weaponType | translate }}</span>
                </mat-list-option>
                <mat-list-option *ngFor="let wep of launchers"
                                 [ngStyle]="{'display':( !isFilteredModule(wep, filteredLaunchers) ? 'none' : '')}"
                                 [disabled]="!isFilteredModule(wep, filteredLaunchers)"
                                 (selectedChange)="chooseWeapon(wep)"
                                 (mouseover)="hoverWeapon(wep)"
                                 (mouseout)="hoverWeapon()">
                    <span matListItemTitle>{{wep.baseModule.name}}</span>
                    <span matListItemLine>{{ 'enum.name.hullType.' + wep.baseModule.hullType.typeName | translate }} {{ 'shipyard.fitting.weapon-for.weaponType.' + wep.weaponType | translate }}</span>
                </mat-list-option>
            </mat-selection-list>

            <app-weapon-per-alignment-counter class="numeric-counter"
                                              (weaponSelectionOutput)="updateWeaponSelection($event)"
                                              [startAt]="getWeaponSelection(hoveredWeapon)"></app-weapon-per-alignment-counter>
            <app-weapon-display [weapon]="hoveredWeapon"></app-weapon-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.ammunition.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.ammunition' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <div>
                    <button mat-mini-fab color="primary" matStepperPrevious aria-label="next">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-mini-fab color="primary" matStepperNext aria-label="next">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let module of getNeededAmmunitionModules(designedShipClass)"
                                 (selectedChange)="ammunitionModuleSelection = module.launcher!.ammunitionModule; hoveredAmmunitionModule = module.launcher!.ammunitionModule; createAndEmitDesignedShipClass();"
                                 (mouseover)="hoveredAmmunitionModule = module.launcher!.ammunitionModule"
                                 (mouseout)="!!ammunitionModuleSelection ? hoveredAmmunitionModule = ammunitionModuleSelection : hoveredAmmunitionModule = undefined">
                    <span matListItemTitle>{{module.launcher!.ammunitionModule.missile.typeName}}</span>
                    <span matListItemLine>{{ 'enum.name.weaponAlignment.' + module.weaponAlignment | translate }}, {{module.amount}}
                        x {{ 'shipyard.fitting.weapon-for.weaponType.' + module.launcher!.weaponType | translate }}</span>
                </mat-list-option>
            </mat-selection-list>

            <app-numeric-counter class="numeric-counter" [disabled]="!ammunitionModuleSelection"
                                 (amount)="setAmmunitionModule(ammunitionModuleSelection, $event)"
                                 [startAt]="getAmmunitionModuleAmount(ammunitionModuleSelection)"></app-numeric-counter>
            <app-module-display [module]="hoveredAmmunitionModule"></app-module-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.armor.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.armor' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <div>
                    <button mat-mini-fab color="primary" matStepperPrevious aria-label="next">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-mini-fab color="primary" matStepperNext aria-label="next">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let module of armors"
                                 [ngStyle]="{'display':( !isFilteredModule(module, filteredArmors) ? 'none' : '')}"
                                 [disabled]="!isFilteredModule(module, filteredArmors)"
                                 [selected]="!!armorSelection && armorSelection.baseModule.idModule === module.baseModule.idModule"
                                 (selectedChange)="armorSelection = module; hoveredArmor = module; createAndEmitDesignedShipClass();"
                                 (mouseover)="hoveredArmor = module"
                                 (mouseout)="!!armorSelection ? hoveredArmor = armorSelection : hoveredArmor = undefined">
                    {{module.baseModule.name}}
                </mat-list-option>
            </mat-selection-list>
            <app-module-display [module]="hoveredArmor"></app-module-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.sidewall.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.sidewall' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <div>
                    <button mat-mini-fab color="primary" matStepperPrevious aria-label="next">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-mini-fab color="primary" matStepperNext aria-label="next">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let module of sidewalls"
                                 [ngStyle]="{'display':( !isFilteredModule(module, filteredSidewalls) ? 'none' : '')}"
                                 [disabled]="!isFilteredModule(module, filteredSidewalls)"
                                 [selected]="!!sidewallSelection && sidewallSelection.baseModule.idModule === module.baseModule.idModule"
                                 (selectedChange)="sidewallSelection = module; hoveredSidewall = module; createAndEmitDesignedShipClass();"
                                 (mouseover)="hoveredSidewall = module"
                                 (mouseout)="!!sidewallSelection ? hoveredSidewall = sidewallSelection : hoveredSidewall = undefined">
                    {{module.baseModule.name}}
                </mat-list-option>
            </mat-selection-list>
            <app-module-display [module]="hoveredSidewall"></app-module-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.propulsion.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.mandatory.propulsion' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <div>
                    <button mat-mini-fab color="primary" matStepperPrevious aria-label="next">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-mini-fab color="primary" matStepperNext aria-label="next">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let module of propulsions"
                                 [selected]="!!propulsionSelection && propulsionSelection.idModule === module.idModule"
                                 (selectedChange)="propulsionSelection = module; hoveredPropulsion = module; createAndEmitDesignedShipClass();"
                                 (mouseover)="hoveredPropulsion = module"
                                 (mouseout)="!!propulsionSelection ? hoveredPropulsion = propulsionSelection : hoveredPropulsion = undefined">
                    {{module.name}}
                </mat-list-option>
            </mat-selection-list>
            <app-propulsion-display [module]="hoveredPropulsion"></app-propulsion-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.electronic-warfare.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.eloka' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <div>
                    <button mat-mini-fab color="primary" matStepperPrevious aria-label="next">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-mini-fab color="primary" matStepperNext aria-label="next">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let module of eloka"
                                 [ngStyle]="{'display':( !isFilteredModule(module, filteredEloka) ? 'none' : '')}"
                                 [disabled]="!isFilteredModule(module, filteredEloka)"
                                 [selected]="!!elokaSelection && elokaSelection.baseModule.idModule === module.baseModule.idModule"
                                 (selectedChange)="elokaSelection = module; hoveredEloka = module; createAndEmitDesignedShipClass();"
                                 (mouseover)="hoveredEloka = module"
                                 (mouseout)="!!elokaSelection ? hoveredEloka = elokaSelection : hoveredEloka = undefined">
                    {{module.baseModule.name}}
                </mat-list-option>
            </mat-selection-list>
            <app-module-display [module]="hoveredEloka"></app-module-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>{{ 'shipyard.fitting.support.title' | translate }}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.support' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <div class="nav-control">
                <button mat-mini-fab color="primary" matStepperPrevious aria-label="next">
                    <mat-icon>arrow_upward</mat-icon>
                </button>
            </div>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let module of passiveModules"
                                 [ngStyle]="{'display':( !isFilteredModule(module, filteredPassiveModules) ? 'none' : '')}"
                                 [disabled]="!isFilteredModule(module, filteredPassiveModules)"
                                 (selectedChange)="passiveModuleSelection = module; hoveredPassiveModule = module;"
                                 (mouseover)="hoveredPassiveModule = module"
                                 (mouseout)="!!passiveModuleSelection ? hoveredPassiveModule = passiveModuleSelection : hoveredPassiveModule = undefined">
                    {{module.baseModule.name}}
                </mat-list-option>
            </mat-selection-list>

            <app-numeric-counter class="numeric-counter" [disabled]="!passiveModuleSelection" (amount)="choosePassiveModule($event, passiveModuleSelection)"
                                 [startAt]="getPassiveModuleAmount(passiveModuleSelection)"></app-numeric-counter>
            <app-module-display [module]="hoveredPassiveModule"></app-module-display>
        </ng-template>
    </mat-step>
</mat-vertical-stepper>
