.avatar-image {
  height: auto;
  width: 32px;
  margin-bottom: 0;
}

.mat-column-rank,
.mat-column-alliance {
  width: 32px; // is a fake with belause the column header defined min with
}

.mat-column-overallPoints,
.mat-column-planetaryPoints,
.mat-column-fleetPoints,
.mat-column-researchPoints {
  width: 65px;
}
