.flex-items-container-value {
  margin-right: 5px;
}

.unable {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.unable {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 24 56'><path d='M0 16 l24 24' stroke='yellow' stroke-width='3'/></svg>");
}