<div class="flex-items-container container"
     [ngClass]="getStateClass()">
    <div *ngFor="let cap of baseFleetCapabilities?.capabilities"
         class="flex-items-container-value"
         [matTooltip]="getCapValue(cap)">
        <app-icon class="icon"
                  [ngClass]="getCss(cap)"
                  [icon]="cap.moduleType"
                  [altText]="cap.moduleType.typeName"
                  [toolTip]="cap.moduleType.typeName"></app-icon>
        <mat-progress-bar
                mode="determinate"
                [value]="getPercentage(cap)"></mat-progress-bar>
    </div>
</div>
