@import "src/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

$base-color: orange;

$box-border-color: $base-color;
$box-border-color2: rgba($box-border-color, 0.2);
.box {
  border-width: 1px;
  width: fit-content;
  height: fit-content;
  border-color: $box-border-color2;
  border-style: solid;
  padding: 10px;
}

.box::before {
  content: " ";
  width: calc(100% + 2px);
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-color: transparent $box-border-color;
  bottom: -4px;
  left: -1px;
}

.box::after {
  content: " ";
  width: calc(100% + 2px);
  border-width: 4px;
  border-style: solid;
  border-color: transparent $box-border-color;
  position: absolute;
  top: -4px;
  left: -1px;
}

.title {
  border-bottom: 1px solid $box-border-color2;
}

.content {
  padding-top: 5px;
}
