@import "src/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

$box-border-color: orange;
$box-border-color2: rgba($box-border-color, 0.2);
.red-box {
  position: relative;
  border-width: 1px;
  width: fit-content;
  height: fit-content;
  border-color: $box-border-color2;
  border-style: solid;
  padding: 10px;
}

.red-box::before {
  content: " ";
  width: calc(100% + 2px);
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-color: transparent $box-border-color;
  top: -4px;
  left: -1px;
}

.red-box::after {
  content: " ";
  width: calc(100% + 2px);
  border-width: 4px;
  border-style: solid;
  border-color: transparent $box-border-color;
  position: absolute;
  bottom: -4px;
  left: -1px;
}

.red-box-title {
  border-bottom: 1px solid $box-border-color2;
}

.red-box-content {
  padding-top: 5px;
}
