<div class="fitting bottom-spacer pad-left">
    <div class="flex-items-container" [formGroup]="form" shipClassNamePatternValidator>
        <mat-form-field appearance="outline">
            <mat-label>Ship class</mat-label>
            <input matInput formControlName="scName" autocomplete="off"
                   matTooltip="The class name should contain of between 3 and 30 characters."
                   (change)="setShipClass(shipClassMock)">
            <mat-error *ngIf="form.get('scName')?.hasError('passPattern')">{{errors.passPattern}} </mat-error>
            <mat-error *ngIf="form.get('scName')?.hasError('passAlreadyKnown')">{{errors.passAlreadyKnown}} </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Designated ship role</mat-label>
            <select matNativeControl required formControlName="scTypeName" (change)="setShipClass(shipClassMock)">
                <option></option>
                <option *ngFor="let type of shipClassTypes" [ngValue]="type">{{ type.type }} - {{ 'shipyard.hull.type.' + type.typeName | translate }}</option>
            </select>
        </mat-form-field>
        <button mat-button
                [disabled]="disabled"
                (click)="storeClass()"
                class="ship-action-button"
                matTooltip="At least the name, a hull and a propulsion module is needed.">
            Store ship class
        </button>
    </div>
    <app-ship-class-svg svgSelector="ship-class-fitting-selection"
                        [weaponsAmountByAlignmentInput]="weaponsAmountByAlignmentOutput"></app-ship-class-svg>

    <app-resource-display onlyResources [showTick]="false"
                          [deposit]="resourceDeposit"
                          [costs]="costs"></app-resource-display>

    <div class="middle">
        <app-spacecraft-capabilities-display [baseFleetCapabilities]="capabilities"></app-spacecraft-capabilities-display>
        <app-ship-class-tonnage-per-section-display [capacities]="capacities"></app-ship-class-tonnage-per-section-display>
        <app-weapon-amount-by-alignment-display [shipClass]="shipClassMock"></app-weapon-amount-by-alignment-display>
        <app-military-people preSelect [utilization]="costs"></app-military-people>
    </div>

    <app-ship-class-fitting-create (shipClassMockEmitter)="setShipClass($event)"
                                   (weaponsAmountByAlignmentOutput)="setWeaponsAmountByAlignmentInput($event)"></app-ship-class-fitting-create>
</div>
