<div class="fitting bottom-spacer">
    <div class="flex-items-container">
        <div [formGroup]="form" shipClassNamePatternValidator>
            <mat-form-field appearance="outline">
                <mat-label>Ship class</mat-label>
                <input matInput formControlName="scName" autocomplete="off"
                       matTooltip="The class name should contain of between 3 and 30 characters.">
                <mat-error *ngIf="form.get('scName')?.hasError('passPattern')">{{errors.passPattern}} </mat-error>
                <mat-error *ngIf="form.get('scName')?.hasError('passAlreadyKnown')">{{errors.passAlreadyKnown}} </mat-error>
            </mat-form-field>
        </div>
        <button mat-button
                [disabled]="disabled"
                (click)="storeClass()"
                class="ship-action-button"
                matTooltip="At least the name, a hull and a propulsion module is needed.">
            Store ship class
        </button>
    </div>
    <app-ship-class-svg svgSelector="ship-class-fitting-selection"
                        [weaponsAmountByAlignmentInput]="weaponsAmountByAlignmentOutput"></app-ship-class-svg>

    <app-resource-display [deposit]="resourceDeposit"
                          [costs]="costs"></app-resource-display>

    <div class="middle">
        <app-spacecraft-capabilities-display [baseFleetCapabilities]="capabilities"></app-spacecraft-capabilities-display>
        <app-construction-capacity-display [capacities]="capacities"></app-construction-capacity-display>
        <app-weapon-amount-by-alignment-display [shipClass]="shipClassMock"></app-weapon-amount-by-alignment-display>
    </div>

    <app-ship-class-fitting-create (shipClassMockEmitter)="setShipClass($event)"
                                   (weaponsAmountByAlignmentOutput)="setWeaponsAmountByAlignmentInput($event)"></app-ship-class-fitting-create>
</div>
