<mat-card style="background-color: transparent;" *ngIf="!!fleet">
    <mat-card-header>
        <app-icon matCardAvatar png32px [fleetSize]="fleet.ships.length" [ngClass]="getCssMarker()"></app-icon>
        <mat-card-title>
            {{fleet.name}}
        </mat-card-title>
        <mat-card-subtitle>
            <div mat-subheader *ngIf="!!destinationRepresentation">{{destinationRepresentation}}</div>
            <div mat-subheader *ngIf="!!orbitRepresentation">{{orbitRepresentation}}</div>
        </mat-card-subtitle>
        <app-spacecraft-state-block-display *ngIf="isOwnFleet()" [stateBlock]="fleet.state" isFleet></app-spacecraft-state-block-display>
    </mat-card-header>
</mat-card>
