<mat-list>
    <div mat-subheader *ngIf="missionResults?.actionItemGroups?.length == 0 && missionResults?.convoyActionItemGroups?.length == 0">{{ 'mission.report.nothing' | translate }}</div>
</mat-list>
<mat-list *ngIf="!!missionResults?.actionItemGroups">
    <mat-list-item *ngFor="let actionGroup of missionResults?.actionItemGroups">
        <mat-icon matListItemIcon>military_tech</mat-icon>
        <span matListItemTitle><b>{{ actionGroup.venue.name }}</b> {{ 'mission.' + actionGroup.missionType + '.detection-phrase' | translate }}</span>
        <span matListItemLine>{{ 'mission.' + actionGroup.missionType + '.title' | translate }} {{ actionGroup.actionItems[0].opponent.name }}</span>

        <div *ngIf="!validPhases.includes(getTranslationKey(actionGroup))">
            <span matListItemLine *ngFor="let item of actionGroup.actionItems">
                {{ 'mission.' + actionGroup.missionType + '.phase.' + item.eMissionAction | translate }}
                <span *ngIf="!!item.idBattleReport && item.userDefeated">{{ 'mission.we-lost' | translate }}</span>
                <span *ngIf="!!item.idBattleReport && !item.userDefeated">{{ 'mission.we-won' | translate }}</span>
            </span>
        </div>

        <span matListItemLine *ngIf="validPhases.includes(getTranslationKey(actionGroup))">{{ t(actionGroup) | async }}</span>
    </mat-list-item>
</mat-list>
<mat-list *ngIf="!!missionResults?.convoyActionItemGroups">
    <mat-list-item *ngFor="let actionGroup of missionResults?.convoyActionItemGroups">
        <!-- fixme make it pretty -->
        <div matListItemTitle>{{ 'mission.' + actionGroup.missionType + '.title' | translate }}
            <mat-icon matListItemIcon>local_shipping</mat-icon>
            <span matListItemLine>{{ 'mission.convoy.title' | translate }} {{ actionGroup.affectedTrade.idTradedResource }}<br>
                {{ actionGroup.affectedTrade.offer.origin.name }},{{ actionGroup.affectedTrade.offer.seller!.name }}
                to {{ actionGroup.affectedTrade.destination.name }},{{ actionGroup.affectedTrade.buyer.name }}</span>
        </div>
        <div matListItemLine>
            <app-number-short [input]="actionGroup.affectedTrade.offer.trade.resourceAmount.amount"></app-number-short>
            &nbsp;
            <app-icon [icon]="actionGroup.affectedTrade.offer.trade.resourceAmount.resourceType"></app-icon>
            &nbsp;for&nbsp;
            <app-number-short [input]="actionGroup.affectedTrade.offer.trade.pricePerUnit * actionGroup.affectedTrade.offer.trade.resourceAmount.amount"></app-number-short>
            &nbsp;
            <app-icon credits></app-icon>
        </div>
    </mat-list-item>
</mat-list>
