.flex-items-container {
  flex-flow: unset !important;
}

.fleet-round-state-title-container {
}

.fleet-round-state-title-container-below {
}

.fleet-round-state-list {
  width: 300px;
  //pointer-events: none; // todo check
}

.fleet-round-state-icon {
  float: left;
  padding: 16px 0 16px 0;
  height: 24px !important;
  width: 24px !important;
}

.dead {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 24 56'><path d='M24 16 l-24 24' stroke='red' stroke-width='3'/><path d='M0 16 l24 24' stroke='red' stroke-width='3'/></svg>");
}

.unable {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 24 56'><path d='M0 16 l24 24' stroke='yellow' stroke-width='3'/></svg>");
}

.highlight {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}