<mat-list class="fleet-round-state-list" [ngClass]="clickedFleetClass()">
    <div mat-subheader class="fleet-round-state-title">{{getTitle()}}</div>
    <mat-list-item *ngFor="let warShip of warShips" class="fleet-round-state-list-item" [ngClass]="hoveredWarshipClass(warShip)">
        <img matListItemAvatar
             class="fleet-round-state-icon"
             [matTooltip]="getShipIconTooltip(warShip)"
             [ngClass]="getStateClass(getCurrentWarshipState(warShip))"
             src="{{getLink(warShip.shipClass.shipClassType.typeName)}}"
             alt="{{warShip.shipClass.shipClassType.typeName}}-icon">

        <div mat-subheader>{{warShip.name}}</div>

        <app-spacecraft-capability-display-small
                class="fleet-round-state-cap-display"
                [baseFleetCapabilities]="getCapsForWarship(warShip)"
                [currentFleetState]="getCurrentWarshipSpacecraftCapabilities(warShip)"
                [fightingCapable]="getCurrentWarshipIsFightingCapable(warShip)"></app-spacecraft-capability-display-small>
    </mat-list-item>
</mat-list>
