.flex-items-container {
  flex-flow: unset !important;
}

.fleet-round-state-title-container {
}

.fleet-round-state-title-container-below {
}

.fleet-round-state-list {
  width: 300px;
}

.fleet-round-state-icon {
  float: left;
  padding: 16px 0 16px 0;
}

.highlight {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}