* {
  color: var(--map-text-color);
}

.flex-items-container {
  flex-flow: unset !important;
}

.fleet-round-state-list-item {
  height: 76px !important;
}

.fleet-round-state-title {
  position: sticky;
  top: 0;
  opacity: 0.5;
}

.fleet-round-state-list {
  width: 300px;
  direction: ltr;
}

.highlight {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}
