@import "src/styles/variables";

.box {
  margin: 5px 5px 10px 5px;
}

.isParent {
  background: $secondary-background-color;
  height: 100px;
  margin: 15px 50px 15px 0;
  z-index: 1000;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.fixed-under-tab-header {
  position: relative;
}

.hasMargin {
  margin-left: 50px;
}

.img-container {
  float: left;
  margin: 9px 10px 5px 5px;
}

.res-wrapper {
  height: 38px;
}

.amount-present {
  font-size: 14px;
  line-height: 18px;
}

.diffAmount {
  font-size: 12px;
  line-height: 18px;
}

.hasSize {
  height: 18px;
  width: 16px;
}

.invisible {
  color: $secondary-background-color;
}

.open-bracket {
  border-left: dashed $disabled-text-color 2px;
  border-radius: 9px;
  padding-left: 10px;
}

.close-bracket {
  border-right: dashed $disabled-text-color 2px;
  border-radius: 9px;
}
