<div class="sticky">
    <div class="modal" *ngIf="!!resourceDeposit">
        <div class="tick-box">
            {{'ticks.to.done' | translate}}
            <p class="tick-amount">
                {{getTicksNeeded()}}
            </p>
        </div>
        {{'materials.title' | translate}}
        <div *ngFor="let resource of resourceDeposit.resources" class="box">
            <div class="res-wrapper">
                <div class="img-container">
                    <img class="icon" src="{{getLink(resource)}}" alt="{{resource.resourceType.singularName}}" matTooltip="{{resource.resourceType.typeName}}">
                </div>
                <div>
                    <label class="amount-present">
                        {{resource.amount}}
                    </label>
                    <div class="amount-holder">
                        <div *ngIf="!!income" class="diffAmount">{{getResourceAsString(resource.resourceType, income)}}</div>
                        <div *ngIf="!!costs" class="diffAmount">{{getResourceAsString(resource.resourceType, costs)}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{'manpower.title' | translate}}
        <div *ngFor="let resource of resourceDeposit.humanResources" class="box">
            <div class="res-wrapper">
                <div class="img-container">
                    <img class="icon" src="{{getLink(resource)}}" alt="{{resource.resourceType.typeName}}" matTooltip="{{resource.resourceType.typeName}}">
                </div>
                <div>
                    <label class="amount-present">
                        {{resource.amount}}
                    </label>
                    <div class="amount-holder">
                        <div *ngIf="!!income" class="diffAmount">{{getHRCostsAsString(resource.resourceType, income)}}</div>
                        <div *ngIf="!!costs" class="diffAmount">{{getHRCostsAsString(resource.resourceType, costs)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
