<div class="sticky">
    <div class="modal" *ngIf="!!resourceDeposit">
        <p>Materials</p>
        <div *ngFor="let resource of resourceDeposit.resources" class="box">
            <div class="res-wrapper">
                <div class="img-container">
                    <img class="icon" src="{{getLink(resource)}}" alt="{{resource.resourceType.singularName}}" matTooltip="{{resource.resourceType.typeName}}">
                </div>
                <div>
                    <label class="amount-present">
                        {{resource.amount}}
                    </label>
                    <div *ngIf="!!costs" class="diffAmount">{{getReducerStringForResources(resource.resourceType)}}</div>
                </div>
            </div>
        </div>
        <p>Manpower</p>
        <div *ngFor="let resource of resourceDeposit.humanResources" class="box">
            <div class="res-wrapper">
                <div class="img-container">
                    <img class="icon" src="{{getLink(resource)}}" alt="{{resource.resourceType.typeName}}" matTooltip="{{resource.resourceType.typeName}}">
                </div>
                <div>
                    {{resource.amount}}
                    <div *ngIf="!!costs" class="diffAmount">{{getReducerStringForHumans(resource.resourceType)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
