<div class="isParent" *ngIf="isDisplayingPossible()">
    <div class="flex">
        <div class="box">
            <div class="res-wrapper">
                <div class="img-container hasSize"></div>
                <div class="height-reduced" *ngIf="!!deposit">
                    <mat-icon inline matTooltip="{{ 'resource-overlay.deposit.toolTip' | translate }}">{{getIcon(deposit!)}}</mat-icon>
                </div>
                <div class="height-reduced-2 income-display" *ngIf="!!income">
                    <mat-icon inline matTooltip="{{ 'resource-overlay.income.toolTip' | translate }}">{{getIcon(income!)}}</mat-icon>
                </div>
                <div class="diffAmount needed" *ngIf="!!costs">
                    <mat-icon inline matTooltip="{{ 'resource-overlay.costs.toolTip' | translate }}">{{getIcon(costs!)}}</mat-icon>
                </div>
            </div>
        </div>
        <div class="box" *ngIf="showTick">
            <div class="res-wrapper">
                <div class="img-container">
                    <mat-icon inline>schedule</mat-icon>
                </div>
                <div class="height-reduced" *ngIf="!!deposit">
                    <mat-icon inline matTooltip="{{ 'resource-overlay.deposit.tick' | translate }}">all_inclusive</mat-icon>
                </div>
                <div class="height-reduced-2 income-display" *ngIf="!!income">
                    <mat-icon inline matTooltip="{{ 'resource-overlay.income.tick' | translate }}">all_inclusive</mat-icon>
                </div>
                <div class="diffAmount needed">
                    {{getTicksNeeded()}}
                </div>
            </div>
        </div>
        <div *ngFor="let resource of getBase()!.resources" class="box"
             [ngStyle]="{'display':( ((_onlyResources || _onlyCollectables) && resource.resourceType.typeName == 'POPULATION') ? 'none' : '')}">
            <div class="res-wrapper">
                <div class="img-container info-holder">
                    <app-icon class="icon"
                              [icon]="resource.resourceType"
                              [altText]="resource.resourceType.typeName"
                              png24px [toolTip]="resource.resourceType.typeName"></app-icon>
                    <mat-icon *ngIf="isCapPresent(resource)"
                              class="capacity"
                              [ngClass]="getCapacityWarningClass(resource)"
                              inline
                              matTooltip="{{getCapacityTooltip(resource)}}">info
                    </mat-icon>
                </div>
                <div [ngClass]="getOpeningBracketClass(resource)">
                    <div>
                        <app-number-short [input]="getResourceAmount(resource.resourceType, deposit)"></app-number-short>
                    </div>
                    <div>
                        <div *ngIf="!!income" class="diffAmount no-flex"
                             matTooltip="{{ getTooltip(income!.subType, resource.resourceType) }}">
                            <div>
                                <app-number-short [suppressTooltip]="!!getTooltip(income!.subType, resource.resourceType)"
                                                  [colorWarning]="getResourceAmount(resource.resourceType, income) <= 0"
                                                  [colorSuccess]="getResourceAmount(resource.resourceType, income) > 0"
                                                  [input]="getResourceAmount(resource.resourceType, income)"></app-number-short>
                            </div>
                            <div *ngIf="!!getResourceImprovement(resource.resourceType)" class="diffImprovementAmount">
                                (+
                                <app-number-short colorSuccess [input]="getResourceImprovement(resource.resourceType)"></app-number-short>
                                )
                            </div>
                        </div>
                        <div *ngIf="!!costs" class="diffAmount" matTooltip="{{getTooltip(costs!.subType, resource.resourceType)}}">
                            <app-number-short colorRequired [input]="getResourceAmount(resource.resourceType, costs)"></app-number-short>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let resource of getBase()!.humanResources" class="box" [ngStyle]="{'display':( (_onlyResources || _onlyCollectables) ? 'none' : '')}">
            <div class="res-wrapper">
                <div class="img-container">
                    <app-icon class="icon"
                              [icon]="resource.resourceType"
                              [altText]="resource.resourceType.typeName"
                              png24px [toolTip]="resource.resourceType.typeName"></app-icon>
                </div>
                <div [ngClass]="getClosingBracketClass(resource)">
                    <label class="amount-present">
                        <app-number-short [input]="getHumans(resource.resourceType, deposit)"></app-number-short>
                    </label>
                    <div class="amount-holder">
                        <div *ngIf="!!income" class="diffAmount no-flex">
                            <div>
                                <app-number-short [colorWarning]="getHumans(resource.resourceType, income) <= 0"
                                                  [colorSuccess]="getHumans(resource.resourceType, income) > 0"
                                                  [input]="getHumans(resource.resourceType, income)"></app-number-short>
                            </div>
                            <div *ngIf="!!getHumanImprovement(resource.resourceType)"
                                 class="diffImprovementAmount">
                                (+
                                <app-number-short colorSuccess [input]="getHumanImprovement(resource.resourceType)"></app-number-short>
                                )
                            </div>
                        </div>
                        <div *ngIf="!!costs" class="diffAmount">
                            <app-number-short colorRequired [input]="getHumans(resource.resourceType, costs)"></app-number-short>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
