@import "src/styles/variables";

.box {
  margin: 5px 5px 10px 5px;
}

.isParent {
  height: 130px;
  margin-bottom: 15px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.hasMargin {
  margin-left: 50px;
}

.img-container {
  float: left;
  margin: 9px 10px 5px 5px;
}

.res-wrapper {
  height: 38px;
  max-width: 35px;
}

.diffAmount {
  font-size: 12px;
  line-height: 18px;
}

.diffImprovementAmount {
  font-size: 1vmin;
  margin-left: 5px;
  color: var(--success-color);
  display: inline-flex;
}

.no-flex {
  display: flex;
  width: 100%;
}

.hasSize {
  height: 30px;
  width: 16px;
}

.open-bracket {
  border-left: dashed $disabled-text-color 2px;
  border-radius: 9px;
  padding-left: 10px;
}

.close-bracket {
  border-right: dashed $disabled-text-color 2px;
  border-radius: 9px;
  width: 40px;
}

.info-holder {
  position: relative;
}

.capacity {
  position: absolute;
  top: -10px;
  right: -15px;
}

.uprising {
  color: var(--warning-color);
}

.warning {
  color: purple;
}

.fine {
  color: var(--success-color);
}

.height-reduced {
  height: 64px;
}

.height-reduced-2 {
  height: 23px;
}

.height-reduced-3 {
  height: 26px;
}

.income-display, .income {
  color: var(--success-color);
}

.needed {
  color: var(--required-color);
}
