<div *ngIf="!!player && !_asList" class="flex-items-from-start-container">
    <img mat-card-avatar class="avatar-image"
         matTooltip="{{ player.username }}"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         (click)="embassyService.openEmbassy(player)"
         src="assets/icons/user/{{ player.profilePic }}.png" alt="member icon">
    <div class="title-block">
        <div class="name">{{ PlayerEmbassyService.getPlayerNameWithTitle(player) }}</div>
        <div class="empire">{{ PlayerEmbassyService.getPlayerEmpireName(player) }}</div>
    </div>
</div>
<div *ngIf="!!player && _asList">
    <img mat-card-avatar class="avatar-image" [ngClass]="_asList ? 'as-list-img' : ''"
         matTooltip="{{ player.username }}"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         (click)="embassyService.openEmbassy(player)"
         src="assets/icons/user/{{ player.profilePic }}.png" alt="member icon">
    <div class="title-block" [ngClass]="_asList ? 'as-list-titles' : ''">
        <div class="name">{{ PlayerEmbassyService.getPlayerNameWithTitle(player) }}</div>
        <div class="empire">{{ PlayerEmbassyService.getPlayerEmpireName(player) }}</div>
    </div>
</div>
