<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <h3>Construct Buildings</h3>
    <p>All the buildings describes a planet-wide network of facilities in the same business area.
        For instance, the next level of a university means not necessarily a new campus in the capital city but probably a small laboratory in the swamp outside.</p>

    <h5>Operationals</h5>
    <p>Please keep in mind that buildings will be constructed, no matter if there are enough workers to man it.
        The finished level without a crew will stay inoperational until the workers has arrived or is educated.</p>
    <p>Inoperational levels will be displayed at the infrastructure dashboard. The <b>inoperational levels</b> don't produce anything until they are activated.</p>
</div>

