<mat-card>
    <mat-card-header>
        <img mat-card-avatar class="avatar-image icon" src="{{getLink()}}" alt="construction">
        <mat-card-title>{{shipClassInput.name}}</mat-card-title>
        <mat-card-subtitle>{{shipClassInput.hull.description}} - Class code '{{shipClassInput.hull.hullType.typeName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-ship-class-display [shipClassInput]="shipClassInput"></app-ship-class-display>
    </mat-card-content>
</mat-card>
