#mainMessage {
    width: 100%;
}

.error-table {
    width: 100%;
  }

.mat-column-property {
border-right: 1px solid currentColor;
padding-right: 12px;
text-align: center;
}

.mat-column-message {
padding-left: 16px;
}