.button-div {
    text-align: center;
    margin: auto;
}


.error {
    color: red;
    font-weight:bold;
    margin: 15px;
}



.reply {
    color: #CCCC00;
    font-weight:bold
}

.successful {
    color: green;
    font-weight:bold
}

.errorDiv {
    border: 2px solid #f16624;
    border-radius: 5px;    
}

.trenner {
    height: 15px;
}