<div class="fitting">
    <mat-form-field appearance="outline" class="name-box">
        <mat-label>Ship class</mat-label>
        <input matInput disabled value="{{shipClassName}}" autocomplete="off">
    </mat-form-field>
    <app-ship-class-svg [isTemplateRenderedInput]="isSelectedOutput" [svgSelector]="svgSelector"
                        [selectedShipClassInput]="shipClass"></app-ship-class-svg>

    <app-resource-display [deposit]="resourceDeposit"
                          [costs]="costs"></app-resource-display>

    <div class="middle">
        <app-spacecraft-capabilities-display [baseFleetCapabilities]="shipClass?.shipClassCapabilities"></app-spacecraft-capabilities-display>
        <app-construction-capacity-display [capacities]="shipClass?.spacecraftCapacityAreas"></app-construction-capacity-display>
        <app-weapon-amount-by-alignment-display [shipClass]="shipClass"></app-weapon-amount-by-alignment-display>
    </div>

    <div>{{ 'shipyard.fitting.singular-module.title' | translate }}</div>
    <mat-chip-listbox aria-label="Module selection">
        <mat-chip-option selected disabled class="no-checkmark sized-chips" aria-label="{{ 'shipyard.fitting.hull.title' | translate }}">
            {{ 'shipyard.fitting.hull.title' | translate }}: {{shipClass?.hull?.name}}
        </mat-chip-option>
        <mat-chip-option selected disabled class="no-checkmark sized-chips" aria-label="{{ 'shipyard.fitting.armor.title' | translate }}">
            {{ 'shipyard.fitting.armor.title' | translate }}: {{shipClass?.armor?.baseModule?.name}}
        </mat-chip-option>
        <mat-chip-option selected disabled class="no-checkmark sized-chips" aria-label="{{ 'shipyard.fitting.sidewall.title' | translate }}">
            {{ 'shipyard.fitting.sidewall.title' | translate }}: {{shipClass?.sidewall?.baseModule?.name}}
        </mat-chip-option>
        <mat-chip-option selected disabled class="no-checkmark sized-chips" aria-label="{{ 'shipyard.fitting.propulsion.title' | translate }}">
            {{ 'shipyard.fitting.propulsion.title' | translate }}: {{shipClass?.propulsion?.hasCostsByParent?.hasNamedTechLevel?.name}}
        </mat-chip-option>
        <mat-chip-option selected disabled class="no-checkmark sized-chips" aria-label="{{ 'shipyard.fitting.electronic-warfare.title' | translate }}">
            {{ 'shipyard.fitting.electronic-warfare.title' | translate }}: {{shipClass?.electronicWarfare?.baseModule?.name}}
        </mat-chip-option>
    </mat-chip-listbox>

    <mat-card-title>{{ 'shipyard.fitting.support.title' | translate }}</mat-card-title>
    <div matSubheader *ngIf="shipClass?.supportFittings?.length == 0">No support modules</div>

    <mat-list aria-label="Module selection">
        <mat-list-item *ngFor="let fitting of shipClass?.supportFittings">
            <app-module-display [module]="fitting.passiveModule" matBadge="{{fitting.amount}}" matBadgePosition="above after"></app-module-display>
        </mat-list-item>
    </mat-list>
</div>
