@import "src/app/modules/ship-class-construction/components/orga/ship-class-tab-view/ship-class-tab-view.component";

.sized-chips {
  width: fit-content;
}

.mat-mdc-list-item {
  margin-bottom: 5px;
  border-bottom: solid 1px #6E6E6E;
}

.mat-mdc-list-item-line {
  font-size: small;
}
