<div class="side-nav-open-change-area-fixed"></div>


<div class="bottom-spacer content-area">
    <mat-card appearance="outlined" *ngFor="let research of availableResearches">
        <mat-card-content>
            <app-outlined titleValue="{{ 'research.title' | translate }}" class="floated">
                <app-icon mat-card-avatar class="avatar-image icon"
                          [ngClass]="getInvisibility(research)"
                          [icon]="research.research.hasIcon"
                          [altText]="research.research.name"
                          png24px [toolTip]="research.research.name"></app-icon>
                {{research.research.name}}
            </app-outlined>
            <app-outlined titleValue="{{ 'research.level-details' | translate }}" class="floated-right">
                lvl {{ research.level }} / {{ research.ticksToComplete }} ticks
            </app-outlined>
            {{ research.research.description }}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [disabled]="!isResearchPossible(research)" (click)="runResearch(research)">Start research</button>
        </mat-card-actions>
        <mat-card-footer *ngIf="availableResearches.length == 0 || !researchPossible">
            <label class="warning-hint warning-hint-animated" *ngIf="availableResearches.length == 0">{{ 'research.no-available' | translate }}</label>
            <label class="warning-hint warning-hint-animated" *ngIf="!researchPossible">{{ 'research.not-possible' | translate }}</label>
        </mat-card-footer>
    </mat-card>
</div>
