<p>{{ 'planetary.fleets-in-orbit.title' | translate }}</p>
<mat-accordion>
    <mat-expansion-panel *ngFor="let fleet of fleetsInOrbit">
        <mat-expansion-panel-header [matTooltip]="getPercentageString(fleet)">
            <mat-panel-title class="align-center">
                <mat-icon *ngIf="!isInoperational(fleet) && !isInRepair(fleet)" matTooltip="{{ 'combat-arena.tooltip.warship-state.active' | translate }}">military_tech</mat-icon>
                <mat-icon *ngIf="isInoperational(fleet)" matTooltip="{{ 'spacecraft.state.msg.not-operational' | translate }}">radar</mat-icon>
                <mat-icon *ngIf="isInRepair(fleet)" [matTooltip]="getRepairJobButtonText(fleet)">construction</mat-icon>
                {{fleet.name}}
            </mat-panel-title>
            <mat-panel-description>
                <div class="readiness-progress-bar">
                    <mat-progress-bar
                            mode="determinate"
                            [value]="getPercentage(fleet)"></mat-progress-bar>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-fleet-display [fleet]="fleet">
            <app-spacecraft-capabilities-display body
                                                 [baseFleetCapabilities]="fleet.baseSpacecraftCapabilities"
                                                 [currentFleetCapabilities]="fleet.spacecraftCapabilities"></app-spacecraft-capabilities-display>

            <app-manual-transport body [planet]="planet" [fleet]="fleet"></app-manual-transport>

            <div actions [matTooltip]="getRepairJobButtonText(fleet)" class="tooltip-container">
                <button mat-raised-button color="secondary"
                        (click)="repair(fleet)"
                        [disabled]="!repairPossible(fleet)">{{ 'planetary.fleets-in-orbit.repair-btn.start-job' | translate }}</button>
            </div>
        </app-fleet-display>
    </mat-expansion-panel>
</mat-accordion>