.readiness-progress-bar {
  width: 150px;
  max-width: 50%;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.tooltip-container {
  width: fit-content;
}

mat-icon {
  margin-right: 15px;
}