<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <h3>Demand & Deliveries</h3>
    <p>While you can move stuff with transport ships everywhere, inside your empire is a special ability present.<br>
        Some sort of companies are specialized to deliveries - you can address your wishes to them and they will execute the movements every tick.</p>

    <h4>Chosen amounts</h4>
    <p>You must not match the precise amounts between delivery possibilities and demands. The demand will be only fulfilled, if there are open delivery positions.<br>
        Never will be moved more than offered.</p>

    <h4>Ship transfers</h4>
    <p>The mothballed ships can be transferred to other planets. Just dran them to their designated destinations.</p>

    <h5>Fast services</h5>
    <p>At the moment there are a lot of missed balancing around the game and until the the final balancing is done, the delivery companies have magical carriages.</p>
    <p>They can be everywhere tomorrow.</p>

    <h5>One time service</h5>
    <p>The defined resource delivery plans will be just executed once. They will be zero'ed then.<br>
        If it is not possible to execute a movement plan, they will be zero'ed anyways.</p>
</div>
