<div mat-dialog-title>
    <span class="title">{{ data.title }}</span>
    <tut-category-display [uuid]="data.uuid"></tut-category-display>
</div>

<mat-dialog-content class="mat-typography">
    <!-- journal -->
    <tut-fleet-dash></tut-fleet-dash>
    <tut-job-dash></tut-job-dash>
    <tut-trade-dash></tut-trade-dash>
    <tut-infra-dash></tut-infra-dash>
    <tut-battle-dash></tut-battle-dash>
    <!-- planets -->
    <tut-planet-dash></tut-planet-dash>
    <tut-planet-constructions></tut-planet-constructions>
    <tut-planet-shipyard></tut-planet-shipyard>
    <tut-planetary-market></tut-planetary-market>
    <!-- transports -->
    <tut-inner-empire-transportation></tut-inner-empire-transportation>
    <!-- star map -->
    <tut-universe-map></tut-universe-map>
    <tut-star-map></tut-star-map>
    <!-- strat ops -->
    <tut-mission></tut-mission>
    <!-- colo -->
    <tut-colonization-info></tut-colonization-info>
    <!-- fleet -->
    <tut-fleet-detachment></tut-fleet-detachment>

    <div>
        <ngx-spinner type="ball-clip-rotate-multiple" color="#375a7f" name="tutorial-spinner" [fullScreen]="false"></ngx-spinner>
        <app-display-article [latestContent]="latestContent"></app-display-article>
    </div>
</mat-dialog-content>
