<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
    <!-- journal -->
    <tut-fleet-dash></tut-fleet-dash>
    <tut-job-dash></tut-job-dash>
    <tut-trade-dash></tut-trade-dash>
    <tut-infra-dash></tut-infra-dash>
    <tut-battle-dash></tut-battle-dash>
    <!-- planets -->
    <tut-planet-dash></tut-planet-dash>
    <tut-planet-constructions></tut-planet-constructions>
    <tut-planet-shipyard></tut-planet-shipyard>
    <tut-planetary-market></tut-planetary-market>
    <!-- transports -->
    <tut-inner-empire-transportation></tut-inner-empire-transportation>
    <!-- star map -->
    <tut-universe-map></tut-universe-map>
    <tut-star-map></tut-star-map>
    <!-- strat ops -->
    <tut-mission></tut-mission>
    <!-- colo -->
    <tut-colonization-info></tut-colonization-info>
</mat-dialog-content>
