<mat-card class="mission-item">
    <mat-card-header>
        <mat-card-title>{{ 'mission.create.title' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="planets.length > 0">
        <div class="flex-items-container clearfix">

            <mat-form-field appearance="outline">
                <mat-label>{{ 'mission.create.select.planet' | translate }}</mat-label>
                <mat-select [(ngModel)]="missionCommService.selectedPlanet">
                    <mat-option>none</mat-option>
                    <mat-option *ngFor="let planet of planets" [value]="planet">
                        {{ planet.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'mission.create.select.type' | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedType" name="missionType">
                    <mat-option *ngFor="let type of availableMissionTypes" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-selection-list multiple (selectionChange)="setShips($event)">
            <mat-label>{{ 'mission.create.select.ships' | translate }}</mat-label>
            <mat-list-option *ngFor="let warShip of pooledWarships" [value]="warShip">
                <span matListItemTitle>{{warShip.name}}</span>
                <span matListItemLine>{{ warShip.shipClass.name }} Flt. {{ warShip.shipClass.mark }}</span>
            </mat-list-option>
            <mat-hint *ngIf="pooledWarships.length == 0"><br>{{ 'mission.create.no-pooled-ships' | translate }}</mat-hint>
        </mat-selection-list>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="submit()" [disabled]="!isMissionCreateValid()">{{ 'mission.create.submit' | translate }}</button>
    </mat-card-actions>
</mat-card>
