#home-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.tour-btn {
  height: 64px;
  width: 180px;
}

.footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}


#credits-btn {
  margin-left: 15px;
}

.handheld-footer > #credits-btn {
  height: 32px;
  width: 32px;
}

.handheld-footer {
  word-wrap: break-word;
  font-size: small;
  width: 70%;
  margin: auto;
}

