<div class="isParent" *ngIf="isDisplayingPossible()">
    <div class="flex">
        <div class="box">
            <div class="res-wrapper">
                <div class="img-container hasSize"></div>
                <div *ngIf="isPresent(utilization)">
                    <mat-icon [inline]="true" matTooltip="{{ 'population-development.utilization.toolTip' | translate }}">{{getIcon(utilization!)}}</mat-icon>
                </div>
                <div *ngIf="isPresent(deposit)">
                    <mat-icon [inline]="true" matTooltip="{{ 'population-development.deposit.toolTip' | translate }}">{{getIcon(deposit!)}}</mat-icon>
                </div>
                <div *ngIf="isPresent(demand)">
                    <mat-icon [inline]="true" matTooltip="{{ 'population-development.demand.toolTip' | translate }}">{{getIcon(demand!)}}</mat-icon>
                </div>
                <div *ngIf="isPresent(income)">
                    <mat-icon [inline]="true" matTooltip="{{ 'population-development.income.toolTip' | translate }}">{{getIcon(income!)}}</mat-icon>
                </div>
            </div>
        </div>
        <div *ngFor="let resource of getDisplayableResources()!" class="box">
            <div class="res-wrapper">
                <div class="img-container">
                    <img class="icon" src="{{getLink(resource)}}" alt="{{resource.resourceType.typeName}}" matTooltip="{{resource.resourceType.typeName}}">
                </div>
                <div class="amount-present" *ngIf="isPresent(utilization)">
                    <app-number-short [input]="getHumans(resource.resourceType, utilization)"></app-number-short>
                </div>
                <div class="amount-present" *ngIf="isPresent(deposit)">
                    <app-number-short [input]="getHumans(resource.resourceType, deposit)"></app-number-short>
                </div>
                <div class="amount-present" *ngIf="isPresent(demand)">
                    <app-number-short [input]="getHumans(resource.resourceType, demand)"></app-number-short>
                </div>
                <div class="amount-present" *ngIf="isPresent(income)">
                    <app-number-short [input]="getHumans(resource.resourceType, income)"></app-number-short>
                </div>
            </div>
        </div>
    </div>
</div>
