.bizarro-headline-box,
.lidar-box,
.impeller-box,
.radar-box,
.ecm-box {
  fill: transparent;
  stroke: var(--required-color);
  stroke-width: 0.7px;
  vector-effect: non-scaling-stroke;
}

.bizarro-headline,
.lidar-headline,
.impeller-headline,
.radar-headline,
.ecm-headline {
  text-anchor: middle;
}

.bizarro-headline-box {
}

.bizarro-headline {
}


.lidar-headline {
  transform: rotate(-90deg);
  transform-box: border-box;
}

.lidar-box {

}

.lidar-line, .impeller-line, .radar-line, .ecm-line {
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.impeller-box {

}

.impeller-headline {
}

.impeller-line {
  stroke: orange;
}

.radar-box {

}

.radar-headline {

}

.radar-line {
  stroke: greenyellow;
}

.ecm-box {

}

.ecm-headline {

}

.ecm-line {
  stroke: deepskyblue;
  stroke-width: 3px;
}
