.bizarro-headline-box,
.lidar-box,
.impeller-box,
.radar-box,
.ecm-box,
.info-box,
.range-info-box,
.fleet-info-box {
  fill: transparent;
  stroke: var(--required-color);
  stroke-width: 0.7px;
  vector-effect: non-scaling-stroke;
}

.bizarro-headline,
.lidar-headline,
.impeller-headline,
.radar-headline,
.ecm-headline,
.info-headline {
  text-anchor: middle;
}

.lidar-headline, .info-headline {
  transform: rotate(-90deg);
  transform-box: border-box;
}

.lidar-line, .impeller-line, .radar-line, .ecm-line {
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.impeller-line {
  stroke: orange;
}

.radar-line {
  stroke: greenyellow;
}

.ecm-line {
  stroke: deepskyblue;
  stroke-width: 3px;
}


.info-text-line {
  text-anchor: start;
}

.foreign-object-table-border {
  border-color: var(--map-text-color);
}
