@import "src/styles/variables";
@import "src/styles/combat-states";

#battle-round-stepper .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

#battle-round-stepper .mat-slider-thumb {
  transform: scale(0) !important;
}

#battle-round-stepper .mat-slider-thumb-label-text {
  opacity: 1 !important;
}

// all the svg elements css
.warship-text {
  font-size: 10px;
  fill: cadetblue;
}

.fleet-text {
  font-size: 10px;
  fill: cadetblue;
}

.marker-text {
  font-size: 10px;
  fill: cadetblue;
}

.under-construction {
  fill: blue;
}

.inoperational {
  fill: yellowgreen;
}

.beamVolley {
  stroke: yellow;
  stroke-width: 1;
  stroke-dasharray: 6;
  stroke-dashoffset: 50;
  animation: move 1s linear 1;
}

@keyframes move {
  // the animation in journal for beam volleys
  100% {
    stroke-dashoffset: 0;
  }
}

.circle-cycle {
  animation: cycling-circle 5s infinite;
  stroke: $metal-glace;
  stroke-dasharray: 15px;
  stroke-width: 3px;
  stroke-linecap: square;
  animation-timing-function: linear;
  transform-origin: center;
  transform-box: fill-box;
  fill: transparent;
}

@keyframes cycling-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info-block {
  width: 50px;
  height: 50px;
  fill: transparent;
  stroke: red;
}