@import "src/styles/variables";
@import "src/styles/combat-states";
@import "src/styles/bizarrometer";

#battle-round-stepper .mat-mdc-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

#battle-round-stepper .mat-mdc-slider-thumb {
  transform: scale(0) !important;
}

#battle-round-stepper .mat-mdc-slider-thumb-label-text {
  opacity: 1 !important;
}

.under-construction {
  fill: blue;
}

.inoperational {
  fill: yellowgreen;
}

.on-movement {
  fill: purple;
}

.beamVolley {
  stroke: yellow;
  stroke-dasharray: 6;
  stroke-dashoffset: 50;
  animation: beam-shot 1s linear 1;
  animation-fill-mode: forwards;
}

@keyframes beam-shot {
  // the animation in journal for beam volleys
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}

.missile-salvo-trail {
  stroke: yellowgreen;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.foreign-object-text {
  color: var(--map-text-color);
}
