@use 'sass:map';
@use './palette-helper';
@use '@angular/material' as mat;
@use "src/styles/variables" as variables;

@include mat.core();


$dark-primary: mat.define-palette(variables.$dark-palette);
$dark-accent: mat.define-palette(variables.$dark-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$red-palette);

$theme-dark: mat.define-dark-theme((
        color: (
                primary: $dark-primary,
                accent: $dark-accent,
                warn: $dark-warn,
        )
));

$theme-dark: palette-helper.modify-background($theme-dark, variables.$dark-background-color);
$theme-dark: palette-helper.modify-text-color($theme-dark, variables.$dark-secondary-text-color);

.color-scheme-dark {
  @include mat.all-component-themes($theme-dark);

  --primary-color: #{variables.$dark-primary-color};
  --background-color: #{variables.$dark-background-color};
  --secondary-background-color: #{variables.$dark-secondary-background-color};
  --secondary-text-color: #{variables.$dark-secondary-text-color};
  --ctto-background-color: #{variables.$light-background-color};
  --success-color: #{variables.$dark-success-color};
  --required-color: #{variables.$dark-required-color};
  --warning-color: #{variables.$error-color};

  .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #{variables.$dark-background-color};
    --mdc-snackbar-supporting-text-color: #{variables.$dark-secondary-text-color};
  }
}

$light-primary: mat.define-palette(variables.$light-palette);
$light-accent: mat.define-palette(variables.$light-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme((
        color: (
                primary: $light-primary,
                accent: $light-accent,
                warn: $light-warn,
        )
));

$theme-light: palette-helper.modify-background($theme-light, variables.$light-background-color);
$theme-light: palette-helper.modify-text-color($theme-light, variables.$dark-background-color);

.color-scheme-light {
  @include mat.all-component-themes($theme-light);

  --primary-color: #{variables.$light-primary-color};
  --background-color: #{variables.$light-background-color};
  --secondary-background-color: #{variables.$light-secondary-background-color};
  --secondary-text-color: #{variables.$dark-background-color};
  --ctto-background-color: #{variables.$light-card-background};
  --success-color: #{variables.$light-success-color};
  --required-color: #{variables.$light-required-color};
  --warning-color: #{variables.$error-color};

  .mat-mdc-card {
    --mdc-elevated-card-container-color: #{variables.$light-card-background};
    --mdc-outlined-card-container-color: #{variables.$light-card-background};
  }

  .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #{variables.$light-background-color};
    --mdc-snackbar-supporting-text-color: #{variables.$light-background-color};
  }
}
