$black: #000;
$white: #fff;

$dark-map-background: #000000;
$light-map-background: #cccccc;

$dark-map-text-color: cadetblue;
$light-map-text-color: black;

$dark-success-color: #5e8c6a;
$light-success-color: #004d13;

$dark-finish-color: #004d13;
$light-finish-color: #5e8c6a;

$dark-required-color: darkorange;
$light-required-color: #851B00;

$warning-color: #872727;
$metal-glance: #B0B0B0;

/* Text colors */
$body-text-color: rgb(250, 250, 250);
$dark-secondary-text-color: rgba(255, 255, 255, 0.7);
$light-secondary-text-color: #25242F;
$disabled-text-color: rgba(255, 255, 255, 0.5);

/* Primary colors */
$dark-primary-color: #375a7f;
$light-primary-color: #7598a3;

$dark-card-edge-color: #2E3338;
$light-card-edge-color: #2E3338;

/* Error colors */
$error-color: #de2839;
$error-text-color: $error-color;

/* Background colors */
$dark-background-color: #25242F;
$dark-secondary-background-color: #2E3338;

$light-card-background: #d3d9de;
$light-background-color: #99a6b2;
$light-secondary-background-color: #abb3ba;

$dark-tertiary-background-color: hsla(214, 90%, 52%, 0.1);
$light-tertiary-background-color: hsla(214, 30%, 50%, 0.8);
$disabled-color: rgba(255, 255, 255, 0.3);

$divider-color: rgba(255, 255, 255, 0.12);

$page-width: 90%;

$dark-palette: (
        50 : #e7ebf0,
        100 : #c3ced9,
        200 : #9badbf,
        300 : #738ca5,
        400 : #557392,
        500 : #375a7f,
        600 : #315277,
        700 : #2a486c,
        800 : #233f62,
        900 : #162e4f,
        A100 : #8bb8ff,
        A200 : #5898ff,
        A400 : #2579ff,
        A700 : #0c69ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$light-palette: (
        50 : #f3e7e7,
        100 : #e0c2c2,
        200 : #cc9999,
        300 : #b87070,
        400 : #a85252,
        500 : #993333,
        600 : #912e2e,
        700 : #862727,
        800 : #7c2020,
        900 : #6b1414,
        A100 : #ffa2a2,
        A200 : #ff6f6f,
        A400 : #ff3c3c,
        A700 : #ff2323,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


