$black: #000;
$white: #fff;
$success: #5e8c6a;

/* Text colors */
$body-text-color: rgba(255, 255, 255, 1);
$secondary-text-color: rgba(255, 255, 255, 0.7);
$disabled-text-color: rgba(255, 255, 255, 0.5);

/* Primary colors */
//$primary-color: #7b1fa2;
$primary-color: #375a7f;
$primary-text-color: #b794f6;

/* Error colors */
$error-color: #de2839;
$error-text-color: $error-color;

/* Background colors */
$purple-green-background-color: #383838;
$new-background-color: #3E444C;

$purple-green-secondary-background-color: #3b3b3b;
$new-secondary-background-color: #2E3338;

$background-color: $purple-green-background-color;
$secondary-background-color: $purple-green-secondary-background-color;
// todo define useful color set

$tertiary-background-color: hsla(214, 90%, 52%, 0.1);
$disabled-color: rgba(255, 255, 255, 0.3);
$element-background-color: rgb(66, 66, 66);

/* Divider colors */
$divider-color: rgba(255, 255, 255, 0.12);

/* usable page width */
$page-width: 90%;