<div *ngIf="!!resourceType">
    <app-icon class="icon"
              [icon]="resourceType"
              [altText]="resourceType.typeName"
              png24px [toolTip]="resourceType.typeName"></app-icon>
    <app-numeric-counter [inputDisabled]="false"
                         ngClass="big"
                         [startAt]="startAt"
                         [min]="min"
                         [max]="max"
                         [caption]="caption"
                         [disabled]="disabled"
                         (amount)="setAmount($event)"></app-numeric-counter>
</div>
