<div class="bottom-spacer content-area">

    <mat-button-toggle-group [class.nav-closed]="!toggleNavService.navOpened">
        <mat-button-toggle (click)="change(Items.RESOURCES)">
            <span mat-subheader>{{ 'tab.transportation.resources' | translate }}</span>
        </mat-button-toggle>
        <mat-button-toggle (click)=" change(Items.PERSONNEL)">
            <span mat-subheader>{{ 'tab.transportation.humans' | translate }}</span>
        </mat-button-toggle>
        <mat-button-toggle (click)=" change(Items.SHIPS)">
            <span mat-subheader>{{ 'tab.transportation.ships' | translate }}</span>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <!-- todo i guess no user except george really want this
    <div class="expander-control width-fit-content height-fit-content" [class.nav-closed]="!toggleNavService.navOpened">
        <div>
            <button mat-icon-button (click)="expandAll()">
                <mat-icon class="centered-icon">unfold_more</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button (click)="closeAll()">
                <mat-icon class="centered-icon">unfold_less</mat-icon>
            </button>
        </div>
    </div>
    -->

    <div cdkDropListGroup [class.invisible]="showStepper" class="ship-dropbox inner-list">
        <div class="fleet-container" *ngFor="let planet of planets">
            <div cdkDropList
                 [cdkDropListData]="mothballByPlanet.get(planet.idPlanet)!"
                 class="warship-list"
                 id="{{ planet.idPlanet }}"
                 (cdkDropListDropped)="drop($event)">

                <div mat-subheader class="fleet-name">{{ planet.name }}</div>

                <div *ngFor="let warship of mothballByPlanet.get(planet.idPlanet)"
                     cdkDrag
                     [cdkDragDisabled]="dragDisabled || (!!warship.transportJob && !warship.transportJob.canBeEdited)"
                     [class.drag-disabled]="dragDisabled || (!!warship.transportJob && !warship.transportJob.canBeEdited)"
                     [cdkDragData]="warship"
                     [class.active-ship]="warship.warshipHealthState.state.isOperational"
                     class="warship-box">
                    <app-icon matListItemAvatar
                              [icon]="warship.shipClass.shipClassType"
                              [altText]="warship.shipClass.shipClassType.typeName"
                              [toolTip]="warship.shipClass.shipClassType.typeName"></app-icon>
                    <div class="item-box">
                        <span class="warship-title">{{ warship.name }}</span><br>
                        <span class="warship-subtitle">{{ warship.shipClass.name }} Flt. {{ warship.shipClass.mark }}</span>
                        <div class="warship-subtitle" *ngIf="warship.transportJob">
                            {{ 'jobs.transports.ships.action' | translate }}:
                            {{ warship.transportJob.from.name }}
                            →
                            {{ warship.transportJob.to.name }}, {{ 'jobs.ticks-left' | translate }}: {{ warship.transportJob.ticksLeft }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-accordion multi [class.invisible]="!showStepper">
        <mat-expansion-panel *ngFor="let planet of sortedPlanets" class="margin-bottom"
                             (opened)="expandedPlanetId.push(planet.idPlanet)"
                             (closed)="expandedPlanetId.splice(expandedPlanetId.indexOf(planet.idPlanet), 1)"
                             [expanded]="expandedPlanetId.includes(planet.idPlanet)">
            <mat-expansion-panel-header>
                <mat-panel-title matTooltip="{{ 'transportation.resources.help' | translate }}">
                    <app-icon matListItemAvatar png24px planet></app-icon>
                    {{ planet.name }}
                </mat-panel-title>
                <mat-panel-description>
                    <div *ngIf="planet.isMain">Main planet</div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-stepper #stepper class="transportation-stepper">
                <mat-step>
                    <app-planetary-resource-carrier [planet]="planet"
                                                    [fetchDataIndicator]="expandedPlanetId.includes(planet.idPlanet) && this.carriageType === Items.RESOURCES"></app-planetary-resource-carrier>
                </mat-step>
                <mat-step>
                    <app-planetary-human-carrier [planet]="planet"
                                                 [fetchDataIndicator]="expandedPlanetId.includes(planet.idPlanet) && this.carriageType === Items.PERSONNEL"></app-planetary-human-carrier>
                </mat-step>
            </mat-stepper>
        </mat-expansion-panel>
    </mat-accordion>
</div>
