<div class="flex-items-container">
    <mat-form-field appearance="fill" matBadge="{{module?.techLevel | techLevel}}" matBadgePosition="above after">
        <mat-label>Name</mat-label>
        <input matInput disabled value="{{module?.name}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput disabled value="{{module?.description}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Hyper band</mat-label>
        <input matInput disabled value="{{module?.hyperBand}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Percentage of hull costs</mat-label>
        <input matInput disabled value="{{module?.costsPercentage}}">
    </mat-form-field>
</div>
