<mat-card>
    <mat-card-header>
        <!--<div mat-card-avatar class="avatar-image"
             [ngStyle]="{'background-image': 'url(&quot;http://localhost:8080/vaadin/icons/buildings/png64x/building_c.png&quot;)'}"></div>-->
        <img mat-card-avatar class="avatar-image icon" src="{{getLink()}}" alt="job">
        <mat-card-title>
            {{getTitle()}}
        </mat-card-title>
        <mat-card-subtitle>
            {{getDescription()}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex-items-container">

        <mat-form-field appearance="fill">
            <mat-label>Target Level</mat-label>
            <input matInput disabled value="{{displayJobInput!.targetLevel}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Resource costs</mat-label>
            <input matInput disabled [value]="getCostsType()">
        </mat-form-field>

    </mat-card-content>
</mat-card>
