<mat-tab-group animationDuration="500ms" class="bottom-spacer planetary-tab-group" [selectedIndex]="index" (selectedIndexChange)="index = $event">
    <mat-tab label="{{ 'tab.planetary.dashboard' | translate }}">
        <ng-template matTabContent>
            <app-planetary-dashboard [planet]="selectedPlanet"
                                     [income]="income"
                                     [deposit]="resourceDeposit"
                                     [capacity]="capacity"
                                     [utilization]="utilization"
                                     [miningFactors]="miningFactors"
                                     [sumOfPops]="sumOfPops"
                                     [fleetsInOrbit]="fleetsInOrbit"
                                     [orbitalStructures]="orbitalStructures"
                                     [shipyardJobPossible]="shipyardJobPossible"
                                     [shipyardExists]="shipyardExists"></app-planetary-dashboard>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'tab.planetary.ground-constructions' | translate }}">
        <ng-template matTabContent>
            <app-ground-construct [planet]="selectedPlanet"
                                  [income]="income"
                                  [capacity]="capacity"
                                  [resourceDeposit]="resourceDeposit"
                                  [miningFactors]="miningFactors"
                                  [orbitalStructures]="orbitalStructures"
                                  [sumOfPops]="sumOfPops"></app-ground-construct>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'tab.planetary.shipyard' | translate }}" [disabled]="!shipyardExists">
        <ng-template matTabContent>
            <app-shipyard [selectedPlanet]="selectedPlanet"
                          [fleetsInOrbit]="fleetsInOrbit"></app-shipyard>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'tab.planetary.marketplace' | translate }}">
        <ng-template matTabContent>
            <app-planetary-marketplace [planet]="selectedPlanet"></app-planetary-marketplace>
        </ng-template>
    </mat-tab>
</mat-tab-group>
