<mat-tab-group animationDuration="0ms" class="bottom-spacer">
    <mat-tab label="{{'tab.planetary.dashboard' | translate}}">
        <p> Why I need a dashboard?</p>
    </mat-tab>
    <mat-tab label="{{'tab.planetary.ground-constructions' | translate}}">
        <app-ground-construct [selectedPlanetInput]="selectedPlanetInput"></app-ground-construct>
    </mat-tab>
    <mat-tab label="{{'tab.planetary.shipyard' | translate}}" [disabled]="!shipyardJobPossible">
        <app-shipyard [selectedPlanetInput]="selectedPlanetInput"></app-shipyard>
    </mat-tab>
    <mat-tab label="{{'tab.planetary.jobs' | translate}}">
        <app-jobs-list [selectedPlanetInput]="selectedPlanetInput"></app-jobs-list>
    </mat-tab>
</mat-tab-group>
