@import "src/styles/variables";

#icon-card {
  margin-bottom: 65px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

mat-card {
  margin-top: 65px;
}

#icon-card {
  padding: 5px 55px;
  max-height: 30vh;
  overflow-y: scroll;
  background-color: $secondary-background-color;
}

.title-container > *, .name-container > * {
  width: 100%;
  margin-bottom: 15px;
}

.title-container {
  margin-bottom: 10px;
}

.title {
  font-weight: 500;
  margin-bottom: 25px;
}
