<div class="content-area">
    <p>I am Groot.</p>
    <p>But in {{role}}.</p>

    <section [formGroup]="formGroup">
        <span matListItemLine>eMail status</span>
        <ul>
            <li>
                <mat-checkbox formControlName="eMailVerified">eMail is verified.</mat-checkbox>
            </li>
            <li>
                <mat-checkbox formControlName="noEMailWanted">No eMail address provided.</mat-checkbox>
            </li>
        </ul>
        <span matListItemLine>Change eMail settings</span>
        <ul>
            <li>
                <mat-checkbox formControlName="receiveChangelogInfos">I want to receive mails about a new release.</mat-checkbox>
            </li>
        </ul>
    </section>
</div>
