<mat-accordion>
    <mat-expansion-panel *ngFor="let entry of hullsByType  | keyvalue">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{entry.key.typeName}} - {{getAmount(entry.key)}}x
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar class="avatar-image icon" src="{{getLink(entry.key)}}" alt="construction">
                <mat-card-title>{{entry.key.typeName}}</mat-card-title>
                <mat-card-subtitle>{{getDescription(entry.key)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="!!hullsByType.get(entry.key)">
                <p *ngFor="let warShip of getWarShips(entry.key)">WarShip: {{warShip.name}}</p>
            </mat-card-content>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
