<div *ngIf="!!fleet && isOwnFleet(fleet)">
    <div mat-subheader>{{ 'fleet.composition.title' | translate }}</div>

    <div class="flex-container">
        <div *ngFor="let entry of warShipsByType  | keyvalue" class="flex-container">
            <mat-list class="ship-list">
                <div mat-subheader>
                    <img matListItemAvatar
                         class="icon"
                         src="{{getLink(entry.value[0].shipClass.hull.hullType.typeName)}}"
                         [matTooltip]="getHullDescription(entry.value[0].shipClass.hull.hullType.typeName)"
                         alt="hull-icon">
                    {{entry.value[0].shipClass.name}} {{ 'fleet.composition.class.title' | translate }}
                </div>

                <mat-list-item *ngFor="let warShip of entry.value">
                    <div class="clearfix">
                        <app-spacecraft-state-block-display [stateBlock]="warShip.warshipHealthState.state"
                                                            [isWarship]="true"></app-spacecraft-state-block-display>
                        <div mat-line class="item">{{warShip.name}}</div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>

<div *ngIf="!!fleet && !isOwnFleet(fleet)">
    <div mat-subheader>{{ 'fleet.composition.title' | translate }}</div>
    <div mat-subheader>{{fleet.ships.length}} Ships</div> <!-- todo make it better -->
</div>
