<div *ngIf="!!fleet && !_smallDisplay && isOwnFleet(fleet)">
    <div mat-subheader>{{ 'fleet.composition.title' | translate }}</div>

    <div class="flex-container">
        <div *ngFor="let entry of warShipsByType  | keyvalue" class="flex-container">
            <mat-list class="ship-list">
                <div mat-subheader>
                    <app-icon matListItemAvatar class="icon"
                              [icon]="entry.value[0].shipClass.shipClassType"
                              [altText]="entry.value[0].shipClass.shipClassType.typeName"
                              png24px [toolTip]="getHullDescription(entry.value[0].shipClass.shipClassType.typeName)"></app-icon>

                    {{entry.value[0].shipClass.name}} {{ 'fleet.composition.class.title' | translate }}
                </div>

                <app-outlined titleValue="{{ 'fleet.composition.warship.title' | translate }}" *ngFor="let warShip of entry.value">
                    <span matListItemTitle>{{warShip.name}}</span>
                    <span matListItemLine>{{ warShip.shipClass.name }} Flt. {{ warShip.shipClass.mark }}</span>
                    <app-spacecraft-state-block-display [stateBlock]="warShip.warshipHealthState.state"
                                                        [isWarship]="true"></app-spacecraft-state-block-display>
                    <button mat-mini-fab class="retire-btn"
                            (click)="openRetireWarshipDialog(warShip)"
                            *ngIf="_retireAllowed"
                            matTooltip="{{ 'fleet.composition.warship.retire.submit' | translate }}">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </app-outlined>
            </mat-list>
        </div>
    </div>
</div>

<div *ngIf="!!fleet && _smallDisplay && isOwnFleet(fleet)">
    <div class="flex-container">
        <div *ngFor="let entry of warShipsByTypeAndFlight  | keyvalue" class="flex-container">
            <mat-list class="ship-list">
                <div mat-subheader>
                    <app-icon matListItemAvatar class="icon"
                              [icon]="entry.value[0].shipClass.shipClassType"
                              [altText]="entry.value[0].shipClass.shipClassType.typeName"
                              png24px [toolTip]="getHullDescription(entry.value[0].shipClass.shipClassType.typeName)"></app-icon>

                    {{entry.value[0].shipClass.name}} Flt. {{ entry.value[0].shipClass.mark }} {{ 'fleet.composition.class.title' | translate }}
                </div>
                <mat-list-item *ngFor="let warShip of entry.value" class="height-fit-content-forced">
                    <span matListItemTitle>{{warShip.name}}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>


<div *ngIf="!!fleet && !_smallDisplay && !isOwnFleet(fleet)">
    <div mat-subheader>{{ 'fleet.composition.title' | translate }}</div>
    <div mat-subheader>{{fleet.ships.length}} Ships</div> <!-- todo make it better -->
</div>
