@import "src/styles/variables";

.mat-expansion-panel {
  width: $page-width;
}

.inner-list {
  margin-left: 25px;
}

.left {
  margin-left: 25px;
  padding: 15px 0 0 0;
}

.item {
  margin: 0;
  padding: 0;
}