<mat-tab-group #tabGroup [(selectedIndex)]="index" (selectedIndexChange)="indexChanged($event)" animationDuration="0ms" class="bottom-spacer">
    <mat-tab label="{{'tab.star-map.universe-map' | translate}}">
        <app-universe-map-view (starSystemSelectionOutput)="run($event)"></app-universe-map-view>
    </mat-tab>
    <mat-tab label="{{'tab.star-map.star-map' | translate}}" [disabled]="!starSystemSelectionInput">
        <app-star-map-view [starSystemSelectionInput]="starSystemSelectionInput"></app-star-map-view>
    </mat-tab>
</mat-tab-group>
