@import "src/styles/variables";

.info-div {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 58em;
}

svg {
  height: 100%;
  width: 100%;
  contain: paint;
}

.coordCross {
  stroke: cadetblue;
  stroke-width: 1;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.star {
  opacity: 0.5;
  fill: yellow;
  filter: alpha(opacity=50);
}

.roundCap {
  stroke-linecap: round;
}

.colonizable {
  stroke: #306f91;
  stroke-width: 1;
}

.colonized-by-others {
  fill: #6f1585;
}

.colonized-by-user {
  fill: darkolivegreen;
}

.not-colonized {
  fill: darkgoldenrod;
}

.orbit {
  stroke: cadetblue;
  stroke-width: 1;
}

.hyper-limit {
  stroke: darkblue;
  stroke-width: 1;
}

.svg-text {
  fill: cadetblue;
}

.notch-container {
  position: fixed;
  bottom: 25px;
  margin: 0 auto;
  left: 180px; // width of nav bar
  right: 0;
  z-index: 1000;
  text-align: center;
  pointer-events: none;
}

.coursePlot {
  fill: transparent;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: 0.2;
  stroke-dasharray: 0 20 28.284;
  animation: infinite;
}

.fleet-collection-rect {
  fill: $primary-color;
  width: 25px;
  height: 15px;
  stroke-width: 1px;
}

.fleet-collection-rect-textbox {
  fill: none;
  width: 10px;
  height: 8px;
  stroke: $metal-glance;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 4 12;
}

.fleet-collection-text {
  font-size: 7px;
}