<mat-card *ngIf="!!referenceTranslation">
    <mat-card-subtitle>For translatable<br>
        {{ 'translation.idTranslatable' | translate }}:  {{referenceTranslation.idTranslatable}}<br>
        {{ 'translation.type' | translate }}:  {{referenceTranslation.translationTarget}}<br>
        {{ 'translation.target' | translate }}:  {{referenceTranslation.translatableType}}<br>
    </mat-card-subtitle>
    <mat-card-content>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'translation.reference.language' | translate }}</mat-label>
                <input matInput autocomplete="off" placeholder="{{ 'translation.designated.language' | translate }}" [disabled]="true" [value]="referenceTranslation.languageCode">
            </mat-form-field>
            <angular-editor
                    matTooltip="{{ 'translation.no-change-reference-translation' | translate }}"
                    placeholder="{{ 'translation.text.title' | translate }}"
                    [ngModel]="referenceTranslation.translation"
                    [config]="displayConfig"></angular-editor>
        </div>
        <div *ngFor="let translation of translations" class="input-translation">
            <mat-form-field appearance="fill">
                <mat-label>{{ 'translation.reference.language' | translate }}</mat-label>
                <input matInput autocomplete="off" placeholder="{{ 'translation.designated.language' | translate }}" [disabled]="true" [value]="translation.languageCode">
            </mat-form-field>
            <angular-editor
                    placeholder="{{ 'translation.text.title' | translate }}"
                    [(ngModel)]="translation.translation"
                    [config]="editorConfig"></angular-editor>
        </div>
        <div class="input-translation" *ngIf="getReducedLanguageCodes().length > 0">
            <form [formGroup]=newTranslationFG>
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'translation.designated.language' | translate }}</mat-label>
                    <mat-select formControlName="selectedLanguageCode">
                        <mat-option *ngFor="let languageCode of getReducedLanguageCodes()" [value]="languageCode">
                            {{languageCode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <angular-editor
                        placeholder="{{ 'translation.text.title' | translate }}"
                        formControlName="translationFC"
                        [config]="editorConfig"></angular-editor>
            </form>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="submit(referenceTranslation.idTranslatable)">{{ 'action.submit' | translate }}</button>
        <button mat-button (click)="clear()">{{ 'action.clear' | translate }}</button>
    </mat-card-actions>
</mat-card>
