<div class="box-container">

    <div class="outline-box system-box red-box" [class.invertColor]="tokenStorage.isGeorge()" [class.hidden-legend]="!showPlanetBox"
         [ngStyle]="{'height.px': 65 + (ownSystems.length * 50)}">

        <div class="box-title red-box-title" [class.collapsed]="!showPlanetBox"
             (click)="showPlanetBox = !showPlanetBox">
            {{ 'star-map.universe-map.system-box.title' | translate }}
        </div>

        <div class="scroll-container red-box-content">
            <div *ngFor="let sys of ownSystems" class="outline-item"
                 [class.outline-selected]="starMapCommService.selectedStarSystem?.idStarSystem == sys.idStarSystem"
                 (click)="selectOutlineSystem(sys)">
                {{ sys.name }}
            </div>
        </div>
    </div>

    <div class="outline-box fleet-box red-box" [class.invertColor]="tokenStorage.isGeorge()" [class.hidden-legend]="!showFleetBox"
         [ngStyle]="{'height.px': 65 + (ownFleets.length * 50)}">

        <div class="box-title red-box-title" [class.collapsed]="!showFleetBox" (click)="showFleetBox = !showFleetBox">
            {{ 'star-map.universe-map.fleet-box.title' | translate }}
        </div>

        <div class="scroll-container red-box-content">
            <div *ngFor="let fleet of ownFleets" class="outline-item"
                 [class.outline-selected]="starMapCommService.isSelectedFleetMarker(fleet.fleet.id)"
                 (click)="selectOutlineFleet(fleet)">
                {{ fleet.name }}
            </div>
        </div>
    </div>
</div>

<div class="legend-box red-box" [class.invertColor]="tokenStorage.isGeorge()" [class.hidden-legend]="!showLegendBox">

    <div class="box-title red-box-title" [class.collapsed]="!showLegendBox" (click)="showLegendBox = !showLegendBox">{{ 'star-map.universe-map.map-control.title' | translate }}
    </div>

    <!--@formatter:off-->
    <div class="flex-items-container">
        <button color="{{ highlightFTLDrive != undefined && highlightFTLDrive ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByDrive(true)">FTL
        </button>

        <button color="{{ highlightFTLDrive != undefined && !highlightFTLDrive   ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByDrive(false)">non FTL
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-items-container">
        <button color="{{ highlightMovement != undefined && highlightMovement  ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByMovement(true)">Move
        </button>

        <button color="{{ highlightMovement != undefined && !highlightMovement   ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByMovement(false)">no Move
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-items-container">
        <button color="{{ highlightOperational != undefined && highlightOperational   ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByOperational(true)">OP
        </button>

        <button color="{{ highlightOperational != undefined && !highlightOperational   ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByOperational(false)">INOP
        </button>
    </div>
    <!--@formatter:on-->

    <mat-divider></mat-divider>

    <div class="legend-holder">

        <div>
            <div class="legend-title">Legend</div>
            <ul>
                <li id="legend-colonized">{{ 'mission.legend.colonized-systems' | translate }}</li>
                <li id="legend-colonized-by-other">{{ 'mission.legend.colonized-systems-by-other' | translate }}</li>
                <li id="legend-colonized-by-npc">{{ 'mission.legend.colonized-systems-by-npc' | translate }}</li>
                <li id="legend-colonized-by-kersey">{{ 'mission.legend.colonized-systems-by-kersey' | translate }}</li>
            </ul>
        </div>

        <button mat-mini-fab color="primary" (click)="zoomToNext()"
                [disabled]="!starMapCommService.selectedStarSystem && starMapCommService.selectedFleets.length == 0"
                matTooltip="{{ 'star-map.universe-map.zoom-btn.tooltip' | translate }}"
                class="zoom-btn">
            <mat-icon>zoom_in_map</mat-icon>
        </button>
    </div>
    <form class="search-box">
        <mat-form-field class="center-field" appearance="fill">
            <mat-label>{{ 'star-map.universe-map.system-search.placeholder' | translate }}</mat-label>
            <input matInput
                   placeholder="Search..."
                   #centerInput
                   [formControl]="centerFormControl"
                   matAutocompletePosition="above"
                   [matAutocomplete]="auto1"/>
            <mat-icon matSuffix (click)="selectedCenter(undefined); $event.stopPropagation();">clear</mat-icon>
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedCenter($event)">
                <mat-option *ngFor="let coord of filteredCenter | async" [value]="coord">
                    {{ coord.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<app-system-info class="system-info-div" [starSystem]="starMapCommService.selectedStarSystem"></app-system-info>


<div id="universe" [class.invertColor]="tokenStorage.isGeorge()" [cdkContextMenuTriggerFor]="radialMenuTrigger">
    <!-- svg elements will be created programmatically -->
</div>

<ng-template #radialMenuTrigger>
    <app-radial-menu cdkMenu [menuItems]="commService.menuItemsModel" (menuItemClick)="commService.menuClicked($event)"></app-radial-menu>
</ng-template>


<app-notch class="notch-container"></app-notch>

