.search-box {
  z-index: 999;
}

.zoom-btn {
  margin-left: 15px;
}

.legend-toggle {
  transform: rotate(90deg);
  position: relative;
  left: -30px;
}

.hidden-legend {
  height: 50px !important;
}

.legend-box {
  overflow: hidden;
  transition: height 3s;
  height: 425px;
  z-index: 98;
  position: absolute;
  width: 350px;
  bottom: 137px;
  left: 25px;
  opacity: 0.5;
  border: solid 1px white;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(-45deg, dimgray 20px, transparent 20px) no-repeat border-box, linear-gradient(-135deg, dimgray 20px, transparent 20px) no-repeat border-box;

  & li {
    z-index: 99;
  }
}

#legend-solarian {
  color: #B31616;
}

#legend-manticore {
  color: #ff00ff;
}

#legend-haven {
  color: #57ffc7;
}

#legend-malign {
  color: #996633;
}

#legend-anderman {
  color: #ffcc00;
}

#legend-silesia {
  color: #99ff33;
}

#legend-midgard {
  color: #ff9900;
}

#legend-matapan {
  color: #6666ff;
}

#legend-asgard {
  color: #009999;
}

#legend-Monica {
  color: #669999;
}

#legend-torch {
  color: #ff0066;
}

#legend-famous {
  color: #3366cc;
}
