<app-red-box titleValue="Known star systems"
             class="universe-info"
             [class.invertColor]="tokenStorage.isGeorge()"
             *ngIf="!starMapCommService.selectedStarSystem">
    {{ knownStarSystems.length }}
</app-red-box>

<div class="legend-box" [class.invertColor]="tokenStorage.isGeorge()" [class.hidden-legend]="!showLegend">

    <button type="button" class="legend-toggle" mat-button (click)="showLegend = !showLegend">
        <mat-icon *ngIf="!showLegend">switch_right</mat-icon>
        <mat-icon *ngIf="showLegend">switch_left</mat-icon>
    </button>

    <div class="map-control">Map Control</div>

    <mat-divider></mat-divider>
    <!--@formatter:off-->
    <div class="flex-items-container">
        <button color="{{ highlightFTLCapable && highlightNonFTL ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByDrive(true,true)">ALL
        </button>

        <button color="{{ highlightFTLCapable && !highlightNonFTL ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByDrive(true,false)">FTL
        </button>

        <button color="{{ !highlightFTLCapable && highlightNonFTL ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByDrive(false,true)">non FTL
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-items-container">
        <button color="{{ highlightMovement && highlightNonMovement ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByMovement(true,true)">ALL
        </button>

        <button color="{{ highlightMovement && !highlightNonMovement ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByMovement(true,false)">Move
        </button>

        <button color="{{ !highlightMovement && highlightNonMovement ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByMovement(false,true)">no Move
        </button>
    </div>
    <mat-divider></mat-divider>
    <div class="flex-items-container">
        <button color="{{ highlightMovement && highlightNonMovement ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByOperational(true,true)">ALL
        </button>

        <button color="{{ highlightMovement && !highlightNonMovement ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByOperational(true,false)">OP
        </button>

        <button color="{{ !highlightOperational && highlightInOperational ? 'accent' : 'primary' }}" type="button" class="legend-btn" mat-button
                (click)="highlightFleetByOperational(false,true)">INOP
        </button>
    </div>
    <!--@formatter:on-->

    <mat-divider></mat-divider>

    <div class="legend-title">Legend</div>
    <ul>
        <li id="legend-colonized">{{ 'mission.legend.colonized-systems' | translate }}</li>
        <li id="legend-colonized-by-other">{{ 'mission.legend.colonized-systems-by-other' | translate }}</li>
        <li id="legend-colonized-by-npc">{{ 'mission.legend.colonized-systems-by-npc' | translate }}</li>
    </ul>

    <form class="search-box">
        <mat-form-field class="center-field" appearance="fill">
            <mat-label>Search for system</mat-label>
            <input matInput
                   placeholder="Search..."
                   #centerInput
                   [formControl]="centerFormControl"
                   matAutocompletePosition="above"
                   [matAutocomplete]="auto1"/>
            <mat-icon matSuffix (click)="selectedCenter(undefined); $event.stopPropagation();">clear</mat-icon>
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedCenter($event)">
                <mat-option *ngFor="let coord of filteredCenter | async" [value]="coord">
                    {{ coord.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="zoomTo()"
                [disabled]="!starMapCommService.selectedStarSystem"
                matTooltip="Zoom to target"
                class="zoom-btn">
            <mat-icon>zoom_in_map</mat-icon>
        </button>
    </form>
</div>

<app-system-info class="system-info-div" [starSystem]="starMapCommService.selectedStarSystem"></app-system-info>

<div id="universe" [class.invertColor]="tokenStorage.isGeorge()">
    <!-- svg elements will be created programmatically -->
</div>

<app-notch class="notch-container"></app-notch>

