.search-box {

}

.legend-box > mat-divider {
  margin: 4px 0;
}

.legend-title {
  margin-top: 25px;
}

.map-control {
  position: relative;
  top: -40px;
  left: calc(100% - 130px);
}

.zoom-btn {
  margin-left: 15px;
}

.legend-toggle {
  transform: rotate(90deg);
  position: relative;
  left: -30px;
  top: -5px;
}

.hidden-legend {
  height: 50px !important;
}

.legend-box {
  overflow: hidden;
  transition: height 2s;
  height: 450px;
  z-index: 98;
  position: absolute;
  width: 350px;
  bottom: 137px;
  left: 25px;
  opacity: 0.5;
  border: solid 1px white;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(-45deg, dimgray 20px, transparent 20px) no-repeat border-box, linear-gradient(-135deg, dimgray 20px, transparent 20px) no-repeat border-box;

  & li {
    z-index: 99;
  }
}

#legend-colonized {
  color: var(--success-color);
}

#legend-colonized-by-other {
  color: #6f1585;
}

#legend-colonized-by-npc {
  color: #8B0000;
}

#legend-colonized-by-kersey {
  color: #66ff99;
}

