<div mat-subheader *ngIf="jobs.length == 0">{{ 'jobs.nothing.' + title_key | translate }}</div>
<div mat-subheader *ngIf="jobs.length > 0">{{ 'jobs.title.' + title_key | translate }}</div>

<mat-grid-list [cols]="displayResearch ? 4 : 3" rowHeight="50px" class="job-list" *ngIf="!_noHeader">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile class="header-item" *ngIf="displayResearch">
        <div mat-subheader>{{ 'research.title' | translate }}</div>
    </mat-grid-tile>
    <mat-grid-tile class="header-item">
        <div mat-subheader>{{ 'planetary.constructions.title' | translate }}</div>
    </mat-grid-tile>
    <mat-grid-tile class="header-item">
        <div mat-subheader>{{ 'shipyard.constructions.title' | translate }}</div>
    </mat-grid-tile>
</mat-grid-list>

<mat-list>
    <mat-list-item *ngFor="let pJob of planetaryJobs" style="height: 100%;">
        <mat-grid-list [cols]="displayResearch ? 4 : 3" rowHeight="120px" class="job-list">
            <mat-grid-tile>
                <img matListItemAvatar src="assets/icons/planets/png24x/planet_c.png" alt="planet icon">
                <div mat-subheader class="name-field">{{pJob.planet.name}}</div>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="displayResearch && pJob.researches!.length == 0"></mat-grid-tile>
            <mat-grid-tile *ngIf="displayResearch && !!pJob && !!pJob.researches && !!pJob.researches[0]">
                <mat-list-item style="height: 100%;" class="job-item">
                    <app-icon matListItemAvatar
                              [icon]="pJob.researches![0].facility.building.productionTarget"
                              [altText]="pJob.researches![0].facility.building.productionTarget.typeName"
                              png64px [toolTip]="pJob.researches![0].facility.building.productionTarget.typeName"></app-icon>
                    <button mat-icon-button class="cancel-btn"
                            (click)="cancelJob(pJob.researches![0])"
                            *ngIf="allowCancel"
                            matTooltip="{{ 'jobs.cancel-btn' | translate }}">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button class="finished-btn"
                            *ngIf="isFinishedJobsDisplay"
                            matTooltip="{{ 'jobs.finished-icon' | translate }}">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <div mat-line>{{pJob.researches![0].researchTarget!.name}}</div>
                    <div mat-line>{{ 'jobs.level' | translate }}: {{pJob.researches![0].targetLevel}}</div>
                    <div mat-line *ngIf="pJob.researches![0].ticksLeft > 0">{{ 'jobs.ticks-left' | translate }}: {{pJob.researches![0].ticksLeft}}</div>
                    <div mat-line *ngIf="pJob.researches![0].priority != 'NONE'">{{ 'jobs.priority' | translate }}: {{pJob.researches![0].priority}}</div>
                </mat-list-item>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="pJob.constructions!.length == 0"></mat-grid-tile>
            <mat-grid-tile *ngFor="let job of pJob.constructions">
                <mat-list-item style="height: 100%;" class="job-item">
                    <app-icon matListItemAvatar
                              [icon]="job.facility.building.productionTarget"
                              [altText]="job.facility.building.productionTarget.typeName"
                              png64px [toolTip]="job.facility.building.productionTarget.typeName"></app-icon>
                    <button mat-icon-button class="cancel-btn"
                            (click)="cancelJob(job)"
                            *ngIf="allowCancel"
                            matTooltip="{{ 'jobs.cancel-btn' | translate }}">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button class="finished-btn"
                            *ngIf="isFinishedJobsDisplay"
                            matTooltip="{{ 'jobs.finished-icon' | translate }}">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <div mat-line>{{job.buildingTarget!.name}}</div>
                    <div mat-line>{{ 'jobs.level' | translate }}: {{job.targetLevel}}</div>
                    <div mat-line *ngIf="job.ticksLeft > 0">{{ 'jobs.ticks-left' | translate }}: {{job.ticksLeft}}</div>
                    <div mat-line *ngIf="job.priority != 'NONE'">{{ 'jobs.priority' | translate }}: {{job.priority}}</div>
                </mat-list-item>
            </mat-grid-tile>

            <mat-grid-tile *ngIf="pJob.shipyard!.length == 0"></mat-grid-tile>
            <mat-grid-tile *ngFor="let job of pJob.shipyard">
                <mat-list-item style="height: 100%;" class="job-item">
                    <app-icon matListItemAvatar
                              [icon]="job.facility.building.productionTarget"
                              [altText]="job.facility.building.productionTarget.typeName"
                              png64px [toolTip]="job.facility.building.productionTarget.typeName"></app-icon>
                    <button mat-icon-button class="cancel-btn"
                            (click)="cancelJob(job)"
                            *ngIf="allowCancel"
                            matTooltip="{{ 'jobs.cancel-btn' | translate }}">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button class="finished-btn"
                            *ngIf="isFinishedJobsDisplay"
                            matTooltip="{{ 'jobs.finished-icon' | translate }}">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                    <div mat-line *ngIf="!!job.fleet && !job.isRepairJob">{{job.fleet.name}}</div>
                    <div mat-line *ngIf="!!job.fleet && !job.isRepairJob">{{getHullCount(job.fleet)}}</div>
                    <div mat-line *ngIf="!!job.fleet && job.isRepairJob">{{ 'shipyard.constructions.fleet-to-repair' | translate }}: {{job.fleet.name}}</div>
                    <div mat-line *ngIf="!!job.fleet && job.isRepairJob">{{ 'shipyard.constructions.fleet-state' | translate }}: {{getPercentage(job.fleet)}}</div>
                    <div mat-line *ngIf="job.ticksLeft > 0">{{ 'jobs.ticks-left' | translate }}: {{job.ticksLeft}}</div>
                    <div mat-line *ngIf="job.priority != 'NONE'">{{ 'jobs.priority' | translate }}: {{job.priority}}</div>
                </mat-list-item>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-list-item>
</mat-list>
