@import "src/styles/variables";

.icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}

.job-list {
  width: 90%;
}

.name-field {
  width: 145px;
  max-width: 145px;
  overflow-wrap: anywhere;
}

.cancel-btn {
  color: $warning-color;
}

.finished-btn {
  color: $success;
}
