@import "src/styles/variables";

.icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}

.job-list {
  width: 90%;
}

.name-field {
  width: 145px;
  max-width: 145px;
  overflow-wrap: anywhere;
}

.job-item {
  position: relative;
}

.mat-line {
  margin-left: 25px;
  text-wrap: balance;
}

.cancel-btn {
  color: $warning-color;
  position: absolute;
  left: 50px;
  top: 10px;
}

.finished-btn {
  color: $success;
  position: absolute;
  left: 50px;
  top: 10px;
}
