@import "src/styles/variables";

.player-control {
  position: fixed;
  left: 30%;
  right: 15%;
  bottom: 25px;
  height: 100px;
}

.center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.transparent-backdrop {
  opacity: 0.9;
}

.info-block {
  overflow: hidden;
}

.left-block {
  float: left;
}

.bottom {
  bottom: 15px;
  position: absolute;
}

.right-block {
  float: right;
}

.table-block {
  width: 65%;
}

table.mat-mdc-table {
  width: 100%;
}

.data-block {
  clear: both;
  margin-top: 25px;
}

.lost-warship-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

#battle-round-stepper {
  width: 100%;
}

.battle-register-btn {
  position: absolute;
}
