<ngx-spinner type="none" name="fullscreen-image"
             (click)="imgSrc = ''; imgAlt = ''; spinner.hide('fullscreen-image')">
    <img src="{{ imgSrc }}" alt="{{ imgAlt }}" class='fullscreen-image'>
</ngx-spinner>
<div id="keen-box">

    <div class="navigation-wrapper">
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide">
                <img class="icon icon-ri-mid" src="assets/tour/eye-catcher/more-pirates.png">
                <img class="icon icon-mid-mid" src="assets/tour/eye-catcher/explosions.png">
                <div class="comment-box-right stamp is-approved">Constant game development<br>-<br>around 2 releases a month<br><span>- Webmaster</span>
                </div>
                <div class="header-box">Fleet management<br><span>- the empires tool -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box left" style="width: 15%; position: relative; top: -40px;">
                        <img width="1480"
                             height="1156"
                             ngSrc="assets/tour/fleet/fleet.png"
                             alt="fleet info image"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/fleet/fleet.png'; imgAlt = 'fleet info image'; spinner.show('fullscreen-image')">
                        <br>
                        A <b>general overview</b> about the fleet ...
                    </div>
                    <div class="has-border caption-box left" style="width: 25%; position: relative; top: -75px;">
                        <img width="1491"
                             height="1156"
                             ngSrc="assets/tour/fleet/detach-fleet.png"
                             alt="detach fleet gif"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/fleet/detach-fleet.png'; imgAlt = 'detach fleet gif'; spinner.show('fullscreen-image')">
                        <br>
                        ... with the ability to <b>detach</b> it into smaller forces ...
                    </div>
                    <div class="has-border caption-box left">
                        <img width="1521"
                             height="1132"
                             ngSrc="assets/tour/fleet/fight.gif"
                             alt="fighting fleet gif"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/fleet/fight.gif'; imgAlt = 'fighting fleet gif'; spinner.show('fullscreen-image')">
                        <br>
                        ... and use the fitted launchers to sature the missile defense and express your wishes.
                    </div>
                    <div class="has-border caption-box left" style="width: 25%; position: absolute; bottom: 0;">
                        <img width="1489"
                             height="1088"
                             ngSrc="assets/tour/star-map/map.png"
                             alt="star map img"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/star-map/map.png'; imgAlt = 'star map img'; spinner.show('fullscreen-image')">
                        <br>
                        Nearly 1000 star systems with several thousand planets to colonize!
                    </div>
                </div>
            </div>

            <div class="keen-slider__slide">
                <img class="icon icon-mid-top" src="assets/tour/eye-catcher/explosions.png">
                <img class="icon icon-ri-mid" src="assets/tour/eye-catcher/pirates.png">
                <div class="comment-box-right stamp">The best game ever seen!<br><span>- Stephanie H.</span></div>
                <div class="header-box">Journal<br><span>- the empires overview -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box right">
                        <img width="794" height="432"
                             ngSrc="assets/tour/journal/incoming-pirate-raid-mission.png"
                             alt="journal mission dashboard"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/journal/incoming-pirate-raid-mission.png'; imgAlt = 'journal mission dashboard'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Mission report</b> React to pirates in your space and prepare for them.
                    </div>
                    <div class="has-border caption-box left">
                        <img width="794" height="677"
                             ngSrc="assets/tour/journal/job-dashboard.png"
                             alt="journal job dashboard"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/journal/job-dashboard.png'; imgAlt = 'journal job dashboard'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Job report</b> Build everything you need and watch the progress.
                    </div>
                    The journal provides an overview about everything new in it's segment. The dashboards itself are constantly changing in order to compress the
                    displayed information.
                    Due the »1 tick a day« policy every action delays it's result to midnight.
                    There is no need for a hurry and second that every journal item is current throughout the day.
                </div>
            </div>

            <div class="keen-slider__slide">
                <img class="icon icon-ri-mid" src="assets/tour/eye-catcher/educate-your-pops.png">
                <img class="icon icon-mid-mid" src="assets/tour/eye-catcher/organize-your-stuff.png">
                <div class="comment-box-left stamp is-approved">On a good way!<br><span>- Friend 1, forced to play</span></div>
                <div class="header-box">Journal<br><span>- the empires overview -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box right">
                        <img width="794"
                             height="629"
                             ngSrc="assets/tour/journal/transportation-dashboard.png"
                             alt="journal transport dashboard"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/journal/transportation-dashboard.png'; imgAlt = 'journal transport dashboard'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Transport report</b> Review all ongoing trades and finished transportations.
                    </div>
                    <div class="has-border caption-box left">
                        <img width="794"
                             height="570"
                             ngSrc="assets/tour/journal/operationals-dashboard.png"
                             alt="journal operationals dashboard"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/journal/operationals-dashboard.png'; imgAlt = 'journal operationals dashboard'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Operational report</b> All new operational buildings and warships will be indicated.
                    </div>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>


            <div class="keen-slider__slide">
                <img class="icon icon-mid-mid" src="assets/tour/eye-catcher/build-the-infrastructure.png">
                <div class="comment-box-left stamp is-draft">Feels like a game from Paradox?<br><span>- other Friend, also forced</span></div>
                <div class="header-box">Planets<br><span>- the empires infrastructure -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box right">
                        <img width="794"
                             height="529"
                             ngSrc="assets/tour/planet/planetary-dashboard.png"
                             alt="planetary dashboard graphics"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/planet/planetary-dashboard.png'; imgAlt = 'planetary dashboard graphics'; spinner.show('fullscreen-image')">
                        <br>
                        The <b>planetary dashboard</b> displays all relevant information about the specific planet.
                    </div>
                    <div class="has-border caption-box right">
                        <img width="1521"
                             height="1125"
                             ngSrc="assets/tour/planet/construction.gif"
                             alt="planetary construction graphics"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/planet/construction.gif'; imgAlt = 'planetary construction graphics'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Ground Constructions</b> Build the local foundation of your empire on each colonized planet.
                    </div>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>


            <div class="keen-slider__slide">
                <img class="icon icon-mid-top" src="assets/tour/eye-catcher/build-the-navy.png">
                <div class="comment-box-right stamp is-approved">Not too much action, slow running game speed.<br><span>- Patricia Givens</span></div>
                <div class="header-box">Planets<br><span>- the empires infrastructure -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box left">
                        <img width="1521"
                             height="1125"
                             ngSrc="assets/tour/planet/shipyard.gif"
                             alt="planetary shipyard graphics"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/planet/shipyard.gif'; imgAlt = 'planetary shipyard graphics'; spinner.show('fullscreen-image')">
                        <br>
                        The <b>planetary shipyard</b> is the backbone of your military infrastructure. It builds and repair ships.
                    </div>
                    <div class="has-border caption-box left">
                        <img width="1521"
                             height="1125"
                             ngSrc="assets/tour/shipyard/shipyard.gif"
                             alt="shipyard gif"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/shipyard/shipyard.gif'; imgAlt = 'shipyard gif'; spinner.show('fullscreen-image')">
                        <br>
                        <b>BuShips</b> Design the perfect fitting for the ships designated role and tonnage.
                    </div>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>


            <div class="keen-slider__slide">
                <img class="icon icon-mid-top" src="assets/tour/eye-catcher/WallStreetBets.png" style="width: auto; height: auto;">
                <div class="comment-box-right stamp">Finding every time the best guys to play with!<br><span>- L. Cortez</span></div>
                <div class="header-box">Planets<br><span>- the empires infrastructure -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box left">
                        <img width="1521"
                             height="1125"
                             ngSrc="assets/tour/planet/market/planetary-marketplace.gif"
                             alt="marketplace price graphics"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/planet/market/planetary-marketplace.gif'; imgAlt = 'marketplace price graphics'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Spot market</b> The market charts are providing information about the market history.
                    </div>
                    <div class="has-border caption-box right">
                        <img width="794"
                             height="533"
                             ngSrc="assets/tour/planet/market/market-offer-table.png"
                             alt="marketplace offer table"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/planet/market/market-offer-table.png'; imgAlt = 'marketplace offer table'; spinner.show('fullscreen-image')">
                        <br>
                        The <b>market offers</b> can be made, edited or took.
                    </div>
                    Trading and moving resources is viable to keep up economics.
                    In the end, everything is about motivated population to stay at eye level with your neighbours.
                </div>
            </div>


            <div class="keen-slider__slide">
                <img class="icon icon-le-mid" src="assets/tour/eye-catcher/scientific-approach.png">
                <div class="comment-box-left stamp is-draft">Don't talk to Harkness, but it is great!<br><span>- Prescott T.</span></div>
                <div class="header-box">Research<br><span>- the empires progress -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box right">
                        <img width="1521"
                             height="1125"
                             ngSrc="assets/tour/research/tech-tree.gif"
                             alt="tech tree graphics"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/research/tech-tree.gif'; imgAlt = 'tech tree graphics'; spinner.show('fullscreen-image')">
                        <br>
                        <b>Research tree</b> 14 intertwined researches, from housing to impeller powered rocket.
                    </div>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>

            <div class="keen-slider__slide">
                <img class="icon icon-mid-top" src="assets/tour/eye-catcher/exploration.png">
                <div class="comment-box-right stamp is-approved">You don't have to hurry, it's even ok to miss a tick.<br><span>- again Friend 1</span></div>
                <div class="header-box">Star Map<br><span>- the empires spread -</span></div>
                <div class="outer-box">
                    <div class="has-border caption-box left">
                        <img width="1521"
                             height="1132"
                             ngSrc="assets/tour/star-map/map.gif"
                             alt="star map gif"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/star-map/map.gif'; imgAlt = 'star map gif'; spinner.show('fullscreen-image')">
                        <br>
                        Use the <b>star map</b> to navigate your fleets directly ...
                    </div>
                    <div class="has-border caption-box right">
                        <img width="1521"
                             height="1132"
                             ngSrc="assets/tour/mission/mission-map.gif"
                             alt="mission map gif"
                             class="thumbnail-img"
                             (click)="imgSrc = 'assets/tour/mission/mission-map.gif'; imgAlt = 'mission map gif'; spinner.show('fullscreen-image')">
                        <br>
                        ... or the <b>mission map</b> to express your wishes.
                    </div>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <svg [ngClass]=" 'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')" (click)="slider!.prev()" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24">
            <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
        </svg>
        <svg *ngIf="slider" [ngClass]=" 'arrow arrow--right ' + (slider.track.details.slides.length - 1 === currentSlide ? 'arrow--disabled' : '')" (click)="slider!.next()"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/>
        </svg>
    </div>
    <div class="dots">
        <button (click)="slider!.moveToIdx(i)"
                *ngFor="let slide of dotHelper; let i = index"
                [class]="'dot ' + (i === currentSlide ? 'active' : '')"></button>
    </div>
</div>


<!-- todo

speechbubbles: libreOffice draw: 2,3 mm black border, white background
cropen: gwenview
gif cutten: https://ezgif.com/cut

- Journal Dashboard
    - slides durch alle elemente mit kurzen sprechblasen "relevante infos für den heutigen tick"
- Planetenausbau
    - Dashboard: 1-2 sekunden pro segment mit sprechblasen am standbild, thema (SB1) "gewinne den überblick bei ..." und dann plopp (SB2) "population", (SB3) "jobs", (SB4) "flotten"
    - constructions: gif mit gebäudebau nach benutzung vom filter, sprechblase (SB1) "baue was du brauchst um sidch zu verbessern" inkl "mauszeiger pointed auf niedrige ressource" mit (SB2) beim gefilterten gebäude, aufklappen und bauen "verbessere deine plannis"
    - shipyard: gif mit nach superdreadnought filtern und bauen, begleicttext "verstärke die flotte"
    - marketplace: kurzes gif wie sich die grafiken aufbauen und runter scrollen, (SB1) "versorge dich mit allem was dir fehlt"
- Forschung
    - techtree: gif mit zeigen eines popups, begleittext "14 miteinander verschränkte forschungen von Wonungen bis impellerangetriebene Rakete"
- Sternenkarte
    - universe map: gif mit spinner, ran zoomen, ins sternensystem, fliegende flotte markieren, begleittext tbd
- Kolonisierung
    - organize expansion: gif mit gucken nach unbekanntem system in dem eine Kolo ist, kaufen, planeten besiedeln, switch view expansion, open row, (SB1) "besiedle das universum"
- Schiffbau
    - display fitting: gif über vorhandende Klasse scrollen, switch zu modify fitting und irgendwas ändern, begleittext "erzeuge und verändere schiffsklassen nach aktuellem stand der forschung"
- Flotten
    - gif mit scroll über info, switch zu detach, begleittext "verwalte deine floten für maximale effizienz"
- Missionen
    - gif mit selecteter mission, begleittext "schütze deine handelskonvois usw usw"
- Kampf
    - gif für größeres flottengefecht, sprechblasen an zerstörten schiffen, zerstörten raketen und raketensalven
- Forum / Chat / Wiki / Map Tool
    - aufeinander folgende standbilder (slides im slide) mit begleittext "natürlich gibt es auch..." und dann speechbubbles mit "chat", "forum" ...

Screens und GIFs
Sprechblasen und Floating Text

Ein paar Ideen sind in der readMe

-->
