@import "src/styles/variables";

#keen-box {
  width: 80%;
  height: 80%;
  margin: 5% auto;
}

.keen-slider {
  width: 100%;
  height: 100%;
}

.left {
  float: left;
}

.clear-left {
  clear: left;
}

.right {
  float: right;
}

.clear-right {
  clear: right;
}

span {
  font-size: small;
}

.keen-slider__slide {
  background-color: $secondary-background-color;
  position: relative;
}

.thumbnail-img {
  max-width: -webkit-fill-available;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.caption-box {
  font-size: small;
  max-width: 40%;
}

.fullscreen-image {
  max-width: calc(80vw);
  min-width: calc(80vw);
  width: auto;
  height: auto;
}

.outer-box {
  margin: 45px 45px 0 45px;
  padding: 150px 55px 40px 55px;
}

.header-box {
  position: absolute;
  right: 10%;
  width: 80%;
  text-align: center;
  outline: 2px solid black;
  border: solid 10px #375a7f;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
}

.has-border {
  border: solid 2px $primary-color;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
}

// arrows and dots

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 15px;
}

.arrow--right {
  left: auto;
  right: 15px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


.comment-box-right {
  position: absolute;
  width: 350px;
  z-index: 99;
  text-align: center;
  right: 50px;
  top: 50px;
}

.comment-box-left {
  position: absolute;
  width: 350px;
  z-index: 99;
  text-align: center;
  left: 50px;
  top: 50px;
}

.stamp {
  transform: rotate(12deg);
  color: #555;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier', serif;
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.stamp > span {
  font-size: small;
}

.is-nope {
  color: #D23;
  border: 0.5rem double #D23;
  transform: rotate(3deg);
  -webkit-mask-position: 2rem 3rem;
}

.is-approved {
  color: #0A9928;
  border: 0.5rem solid #0A9928;
  -webkit-mask-position: 13rem 6rem;
  transform: rotate(-14deg);
  border-radius: 0;
}

.is-draft {
  color: #C4C4C4;
  border: 1rem double #C4C4C4;
  transform: rotate(-5deg);
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
}
