<mat-card style="background-color: transparent;">
    <mat-card-title>Fleet information</mat-card-title>
    <mat-card-content>
        <div *ngFor="let fleet of commService.selectedFleets">
            <app-fleet-display transparent [fleet]="fleet" *ngIf="!isOwnFleet(fleet)">
                <app-fleet-formation-display body [fleet]="fleet"></app-fleet-formation-display>
            </app-fleet-display>

            <app-fleet-display transparent [fleet]="fleet" *ngIf="isOwnFleet(fleet)">
                <div class="fleet-info-container" body>
                    <div class="main-display">
                        <app-fleet-formation-display class="mar-to" [fleet]="fleet"></app-fleet-formation-display>
                    </div>

                    <app-blue-card class="cap-display">
                        <app-spacecraft-capabilities-display body
                                                             [baseFleetCapabilities]="fleet.baseSpacecraftCapabilities"
                                                             [currentFleetCapabilities]="fleet.spacecraftCapabilities">
                        </app-spacecraft-capabilities-display>
                    </app-blue-card>
                </div>
            </app-fleet-display>
        </div>
    </mat-card-content>
</mat-card>
