<mat-card>
    <mat-card-title>Fleet information</mat-card-title>
    <mat-card-content>
        <div *ngFor="let fleet of commService.selectedFleets">
            <app-fleet-display [fleet]="fleet" *ngIf="!isOwnFleet(fleet)">
                <app-fleet-formation-display body [fleet]="fleet"></app-fleet-formation-display>
            </app-fleet-display>

            <app-fleet-display [fleet]="fleet" *ngIf="isOwnFleet(fleet)">
                <app-spacecraft-capabilities-display body [fleet]="fleet"></app-spacecraft-capabilities-display>

                <app-ammunition-roster body [fleet]="fleet"></app-ammunition-roster>

                <app-fleet-formation-display body [fleet]="fleet"></app-fleet-formation-display>
            </app-fleet-display>
        </div>
    </mat-card-content>
</mat-card>