mat-expansion-panel {
  width: fit-content;
}

.names-list {
  height: fit-content;
  max-height: 500px;
  width: fit-content;
  min-width: 350px;
  overflow-y: auto;
}

#template-list {
  direction: rtl;
}

#template-selector {
  max-width: 350px;
}

.flex-items-container > *,
.content-area > * {
  margin: 25px;
}

.special {
  margin-left: 50px
}

mat-card-header {
  margin-bottom: 25px;
}

mat-hint {
  font-size: small;
}

.prefix-field {
  width: 450px;
}
