mat-expansion-panel {
  width: fit-content;
}

.names-list {
  height: fit-content;
  max-height: 500px;
  width: fit-content;
  min-width: 350px;
  overflow-y: auto;
}

#template-list {
  direction: rtl;
}

#template-selector {
  max-width: 350px;
}

.flex-items-container > * {
  margin: 25px;
}

#special {
  margin-left: 50px
}
