<mat-tab-group animationDuration="0ms">
    <mat-tab [label]="actionTabTitles[1]" [disabled]="!alliance" *ngIf="isAdmin">
        <app-alliance-dashboard [alliance]="alliance"></app-alliance-dashboard>
    </mat-tab>
    <mat-tab [label]="actionTabTitles[0]">
        <app-alliance-list></app-alliance-list>
    </mat-tab>
    <mat-tab [label]="actionTabTitles[2]" [disabled]="!alliance">
        <app-alliance-forum></app-alliance-forum>
    </mat-tab>
    <mat-tab [label]="actionTabTitles[3]" [disabled]="!alliance">
        <app-members-list [alliance]="alliance"></app-members-list>
    </mat-tab>
</mat-tab-group>
