<mat-tab-group animationDuration="0ms" *ngIf="isAdmin">
    <mat-tab label="{{ 'tab.admin.do-tick' | translate }}">
        <mat-toolbar color="secondary" class="stat-tool-bar">
            <mat-toolbar-row>
                <span>Game Admin Area - don't fuck around!</span>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-flat-button color="primary" (click)='doTick()' *ngIf='isLoggedIn && isAdmin'>
                    Do tick
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-tab>
    <mat-tab label="{{ 'tab.admin.translations' | translate }}">
        <app-translation></app-translation>
    </mat-tab>
    <mat-tab label="{{ 'tab.admin.statistics' | translate }}">
        <app-statistics></app-statistics>
    </mat-tab>
</mat-tab-group>
