<mat-toolbar color="secondary" class="stat-tool-bar">
    <mat-toolbar-row>
        <span>Game Admin Area - don't fuck around!</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-flat-button color="primary" (click)='downloadBuildings()'>
            Download buildings - single file incoming
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-flat-button color="primary" (click)='downloadModules()'>
            Download all modules - multiple files incoming
        </button>
    </mat-toolbar-row>
</mat-toolbar>