@import "src/styles/variables";
@import "src/app/modules/display-elements/job-list-display/job-list-display.component";

.nav-control {
  position: absolute;
  right: 0;
  top: -65px;
  z-index: 999;
}

app-resource-display {
  height: 100px;
  display: block;
}

app-population-development {
  display: block;
  height: 150px;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  // remove number icons of stepper
  display: none !important;
}

.spinner-img {
  border-radius: 20%;
  max-height: 75vh;
}

.bottom-right {
  position: absolute;
  right: 45px;
  bottom: 45px;
}

.abstand {
  height: 80vh;
  position: relative;
}
