@import "src/styles/variables";
@import "src/app/modules/display-elements/job-list-display/job-list-display.component";

.nav-control {
  position: absolute;
  right: 0;
  top: -65px;
  z-index: 999;
}


app-resource-display {
  height: 1px; // ist must just made be clear that it should be small
  display: block;
}


::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
  // remove number icons of stepper
  display: none !important;
}
