<div class="holder content-area">
    <mat-stepper animationDuration="500ms">
        <mat-step>
            <ng-template matStepLabel>
                <div>{{ 'journal.advisory.title.main' | translate }}</div>
            </ng-template>
            <ng-template matStepContent>

                <div class="abstand" *ngIf="spinner.isAdvisorySpinnerActive">
                    <ngx-spinner type="ball-clip-rotate-multiple" color="#375a7f" name="advisory-spinner" [disableAnimation]="true" [fullScreen]="false" size="small">
                        <img src="{{ spinner.imageLink }}" alt="loading image" class="spinner-img">
                        <div class="la-3x la-ball-clip-rotate-multiple bottom-right" style="color: rgb(55, 90, 127);">
                            <div class="ng-star-inserted"></div>
                            <div class="ng-star-inserted"></div>
                        </div>
                    </ngx-spinner>
                </div>


                <app-advisory-board [missionResults]="missionResults"></app-advisory-board>
            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <span (click)="markTopicRead('fleetInfo')">{{ 'journal.title.content-area.fleet' | translate }}</span>
                <app-icon *ngIf="hasNewFleetInfo" hasUnread></app-icon>
            </ng-template>
            <ng-template matStepContent>

                <app-outlined titleValue="{{ 'tab.journal.movements' | translate }}">
                    <app-fleet-movement-list [movingFleets]="movingFleets"></app-fleet-movement-list>
                    <mat-divider style="margin: 25px 0;"></mat-divider>
                    <app-finished-movement-list [finishedMovements]="finishedMovements"></app-finished-movement-list>
                </app-outlined>

                <app-outlined titleValue="{{ 'journal.missions.title' | translate }}">
                    <app-mission-journal [missionResults]="missionResults"></app-mission-journal>
                </app-outlined>
            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <span (click)="markTopicRead('jobInfo')">{{ 'journal.title.content-area.jobs' | translate }}</span>
                <app-icon *ngIf="hasNewJobInfo" hasUnread></app-icon>
            </ng-template>
            <ng-template matStepContent>

                <app-outlined titleValue="{{ 'tab.journal.jobs' | translate }}">

                    <app-job-overview [planets]="planets"
                                      [finishedJobs]="finishedJobs"
                                      [runningResearch]="runningResearch"
                                      [finishedResearches]="finishedResearches"></app-job-overview>

                </app-outlined>
            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <span (click)="markTopicRead('carrierInfo')">{{ 'journal.title.content-area.transportation-trade' | translate }}</span>
                <app-icon *ngIf="hasNewCarrierInfo" hasUnread></app-icon>
            </ng-template>
            <ng-template matStepContent>

                <app-outlined titleValue="{{ 'path.menu.transportation' | translate }}">
                    <app-transportation-list-display [transportJobs]="transportJobs"></app-transportation-list-display>
                </app-outlined>

                <app-outlined titleValue="{{ 'journal.trade.title' | translate }}">
                    <app-trade-deliveries [trades]="trades" class="streamline-background"></app-trade-deliveries>
                </app-outlined>
            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>
                <span (click)="markTopicRead('infraInfo')">{{ 'journal.title.content-area.infrastructure' | translate }}</span>
                <app-icon *ngIf="hasNewInfraInfo" hasUnread></app-icon>
            </ng-template>
            <ng-template matStepContent>

                <app-outlined titleValue="{{ 'planetary.resource-development.title' | translate }}">
                    <app-resource-display onlyCollectables [showTick]="false"
                                          [deposit]="deposit" [income]="income"></app-resource-display>
                </app-outlined>


                <app-outlined titleValue="{{ 'planetary.population-development.title' | translate }}">
                    <app-population-development [deposit]="deposit"
                                                [utilization]="utilization"
                                                [income]="income"
                                                [demand]="demand"
                                                [sumOfPops]="sumOfPops"
                                                [capacitySum]="capacitySum"></app-population-development>
                </app-outlined>

                <app-outlined titleValue="{{ 'path.menu.colonization' | translate }}">
                    <app-finished-colonizations-list [finishedColonizations]="colonizations"></app-finished-colonizations-list>
                </app-outlined>

                <app-outlined titleValue="{{ 'journal.commissioned-operationals.finished.title' | translate }}">
                    <app-commissioned-operationals [title_key]="'finished'" [commissionedOperationals]="operationals"></app-commissioned-operationals>
                </app-outlined>

                <app-outlined titleValue="{{ 'journal.commissioned-operationals.pending.title' | translate }}">
                    <app-commissioned-operationals [title_key]="'pending'" [commissionedOperationals]="pending"></app-commissioned-operationals>
                </app-outlined>
            </ng-template>
        </mat-step>
    </mat-stepper>

</div>
