<div class="app-resource-display">
    <app-resource-display [deposit]="resourceDeposit"
                          [costs]="costsToDisplay"
                          [income]="income"
                          [capacity]="capacity"
                          [sumOfPops]="sumOfPops"
                          [levelImprovementResources]="levelImprovementResources"
                          [levelImprovementHumanResources]="levelImprovementHumanResources"></app-resource-display>
</div>

<div>
    <div class="filter">
        <app-outlined titleValue="Product category" (click)="toggle('productCategoryChipList')">
            <mat-chip-listbox #productCategoryChipList multiple [formControl]="eProductionCategoryFC">
                <mat-chip-option
                        class="no-checkmark"
                        *ngFor="let category of eProductionCategories as string"
                        [value]="category"
                        (click)="filterDisplayedConstructions(); $event.stopPropagation();">
                    <mat-icon matChipTrailingIcon aria-hidden="false" [attr.aria-label]="category" fontIcon="precision_manufacturing"></mat-icon>
                    {{category}}
                </mat-chip-option>
            </mat-chip-listbox>
        </app-outlined>

        <app-outlined titleValue="Refinement sequence" (click)="toggle('refinementSequenceChipList')">
            <mat-chip-listbox #refinementSequenceChipList multiple [formControl]="eRefinementSequenceFC">
                <mat-chip-option
                        class="no-checkmark"
                        *ngFor="let sequence of eRefinementSequences"
                        [value]="sequence.typeName"
                        (click)="filterDisplayedConstructions(); $event.stopPropagation();">
                    <app-icon matChipTrailingIcon
                              [icon]="sequence.product"
                              [altText]="sequence.product.typeName"
                              [toolTip]="sequence.product.typeName"></app-icon>
                    {{sequence.typeName}}
                </mat-chip-option>
            </mat-chip-listbox>
        </app-outlined>

        <app-outlined titleValue="Resource types" (click)="toggle('resourceTypeChipList')">
            <mat-chip-listbox #resourceTypeChipList multiple [formControl]="eResourceTypeFC">
                <mat-chip-option
                        class="no-checkmark"
                        *ngFor="let eResourceType of eResourceTypes"
                        [value]="eResourceType.typeName"
                        (click)="filterDisplayedConstructions(); $event.stopPropagation();">
                    <app-icon matChipTrailingIcon
                              [icon]="eResourceType"
                              [altText]="eResourceType.typeName"
                              [toolTip]="eResourceType.typeName"></app-icon>
                    {{eResourceType.typeName}}
                </mat-chip-option>
            </mat-chip-listbox>
        </app-outlined>

        <mat-card appearance="outlined" class="margin-bottom" *ngIf="!construction">
            <mat-card-content>
                {{ 'planetary.constructions.build.nothing-to-show' | translate }}
            </mat-card-content>
        </mat-card>
        <app-construction-display [construction]="construction"
                                  [resourceDeposit]="resourceDeposit"
                                  [costsToDisplay]="getCosts()"
                                  [isYardFree]="constructionPossible"
                                  (constructionOutput)="startConstruction($event)">
        </app-construction-display>
    </div>

    <app-outlined titleValue="{{ 'planetary.constructions.title' | translate }}" class="selector-container">
        <mat-checkbox (change)="ignoreExpensiveConstructions = $event.checked">
            <span class="small-txt">{{ 'planetary.constructions.build.filter-expansive-constructions' | translate }}</span>
        </mat-checkbox>

        <mat-selection-list #constructions [multiple]="false" hideSingleSelectionIndicator
                            (click)="setConstruction(constructions.selectedOptions.hasValue() ? constructions.selectedOptions.selected[0].value : undefined)">
            <mat-list-option *ngFor="let construction of filteredConstructions" [value]="construction" [disabled]="checkIfTooExpensive()">
                {{ construction.building.name }}
            </mat-list-option>
        </mat-selection-list>
    </app-outlined>
</div>

