<app-resource-deposit-overlay-display [resourceDeposit]="resourceDeposit" [costs]="costsToDisplay" [income]="income"></app-resource-deposit-overlay-display>
<div>
    <mat-form-field appearance="outline" class="filter" (click)="toggle('productCategoryChipList')">
        <mat-label>Product category</mat-label>
        <mat-chip-list #productCategoryChipList multiple [formControl]="eProductionCategoryFC">
            <mat-chip
                    *ngFor="let category of eProductionCategories as string"
                    [value]="category"
                    (click)="clickAChip(category, productCategoryChipList)">
                {{category}}
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="filter" (click)="toggle('refinementSequenceChipList')">
        <mat-label>Refinement sequence</mat-label>
        <mat-chip-list #refinementSequenceChipList multiple [formControl]="eRefinementSequenceFC">
            <mat-chip
                    *ngFor="let sequence of eRefinementSequences"
                    [value]="sequence.typeName"
                    (click)="clickAChip(sequence.typeName, refinementSequenceChipList)">
                {{sequence.typeName}}
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="filter" (click)="toggle('resourceTypeChipList')">
        <mat-label>Resource types</mat-label>
        <mat-chip-list #resourceTypeChipList multiple [formControl]="eResourceTypeFC">
            <mat-chip
                    *ngFor="let eResourceType of eResourceTypes"
                    [value]="eResourceType.typeName"
                    (click)="clickAChip(eResourceType.typeName, resourceTypeChipList)">
                {{eResourceType.typeName}}
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>
</div>

{{'planetary.constructions.title' | translate}}

<mat-accordion>
    <mat-expansion-panel *ngFor="let construction of filteredConstructions"
                         (opened)="setOpened(construction)"
                         (closed)="setClosed(construction)"
                         (mouseover)="showCosts(construction)"
                         (mouseout)="showCosts(null)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img mat-card-avatar class="avatar-image icon"
                     src="{{getLink(construction)}}"
                     [ngClass]="getInvisibility(construction)"
                     alt="construction">
                {{construction.building.name}}, Level {{construction.level}}
            </mat-panel-title>
            <mat-panel-description *ngIf="showDescription(construction)">
                {{construction.building.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-construction-display
                [constructionInput]="construction"
                [resourceDeposit]="resourceDeposit"
                [costsToDisplay]="costsToDisplay"
                [constructionPossible]="constructionPossible"
                (constructionOutput)="startConstruction($event)"></app-construction-display>
    </mat-expansion-panel>
</mat-accordion>
