@import "src/styles/variables";

.mat-mdc-chip {
  font-size: 0.8rem;
  min-height: 18px;
}

#chips-holder {
  display: flex;
  flex-flow: column;
  width: 90%;
}

.mat-expansion-panel {
  width: $page-width;
}

.filter {
  width: $page-width;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}