@import "src/styles/variables";

.app-resource-display {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: $background-color;
  width: $page-width;
}

.ugly-child-growth-fix {
  height: 120%;
  display: block;
}

.mat-mdc-chip {
  font-size: 0.8rem;
  min-height: 18px;
}

#chips-holder {
  display: flex;
  flex-flow: column;
  width: 90%;
}

.filter {
  display: block;
  width: $page-width;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}


.mat-expansion-panel-header {
  // disabled headers are only 48 px high
  height: 64px;
}
