<div *ngIf="isStandalone">
    <router-outlet></router-outlet>
</div>

<app-nav [ngStyle]="{'display':( isStandalone ? 'none' : '')}"></app-nav>
<mat-drawer-container id="main-drawer" autosize [ngStyle]="{'display':( isStandalone ? 'none' : '')}">
    <mat-drawer mode="side" #drawer [opened]="isLoggedIn" id="nav-drawer">
        <app-nested-sidenav [routes]="routes"
                            [hasUnread]="hasUnread"
                            [isLoggedIn]="isLoggedIn"
                            [afterLoginPath]="afterLoginPath"></app-nested-sidenav>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'no-scrolling' : !!isNoScroll}" id="main-content-area">
        <app-global-spinner></app-global-spinner>
        <router-outlet></router-outlet>
        <app-home *ngIf="displayWelcome()"></app-home>
    </mat-drawer-content>
</mat-drawer-container>
<button id="toggle-nav" type="button" mat-button (click)="drawer.toggle()" *ngIf="isLoggedIn" [ngStyle]="{'display':( isStandalone ? 'none' : '')}">
    <mat-icon *ngIf="drawer.opened">switch_right</mat-icon>
    <mat-icon *ngIf="!drawer.opened">switch_left</mat-icon>
</button>
