<app-nav></app-nav>
<mat-drawer-container id="main-drawer" autosize>
    <mat-drawer mode="side" #drawer [opened]="isLoggedIn" id="nav-drawer">
        <app-nested-sidenav [routes]="routes"
                            [hasUnread]="hasUnread"
                            [isLoggedIn]="isLoggedIn"
                            [afterLoginPath]="afterLoginPath"></app-nested-sidenav>
    </mat-drawer>
    <mat-drawer-content [ngStyle]="{'overflow':( isNoScroll ? 'hidden' : 'auto')}" id="main-content-area">
        <ngx-spinner type="ball-scale-multiple" color="#375a7f">{{ message }}</ngx-spinner>
        <ngx-spinner type="ball-scale-multiple" color="#375a7f" name="screen-size">
            <div class="screen-size-warning">
                <mat-card style="background-color: transparent;" class="blue-card">
                    <mat-card-header>
                        <mat-card-title>{{ message }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-checkbox [(ngModel)]="rememberIgnoreScreenWarning">{{ 'screen-size-warning.remember' | translate }}</mat-checkbox>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" aria-label="Close button" matTooltip="Close" (click)="closeScreenSizeWarning()">
                            {{ 'screen-size-warning.close' | translate }}
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ngx-spinner>
        <router-outlet></router-outlet>
        <app-home *ngIf="displayWelcome()"></app-home>
    </mat-drawer-content>
</mat-drawer-container>
<button id="toggle-nav" type="button" mat-button (click)="drawer.toggle()" *ngIf="isLoggedIn">
    <mat-icon *ngIf="drawer.opened">switch_right</mat-icon>
    <mat-icon *ngIf="!drawer.opened">switch_left</mat-icon>
</button>
