@import "src/styles/variables";

#main-drawer {
  // 64 px is mat-toolbar-row height
  height: calc(100% - 64px);
}

#nav-drawer {
  padding: 15px;
}

#toggle-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
