<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <p>The galaxy is segmented by a polar coordinate system based at Sol, the home of the mankind.</p>

    <h5>Navigation at the map</h5>
    <p>Use the mouse to drag the map and the mouse wheel to zoom to or from the pointer.<br>
        Hover over systems to see their name, click them to enter the System Map.</p>
    <p>The search field at the bottom allows you to search systems by name and zoom at them.</p>

    <h5>Fleets on the map</h5>
    <p>The fleet icons on the map are displaying their current position without time dilation. They show also the state, if the fleet is moving or inoperational.<br>
        But keep in mind that you need an eye if you want to have intel.</p>

    <h5>Moving fleets</h5>
    <p>Move your fleets by marking them and the designated target.<br>
        The movement option in the notch will be accessible to start the movement.</p>
    <p>As known, it is pretty hard to find a fleet in hyperspace and therefore it is impossible to cancel a given movement order.<br>
        Movements with sub-light speed can be cancelled at any time.</p>
</div>
