<div *ngIf="scopeService.openTopic?.uuid === uuid">
    <h4>Overview</h4>
    <p>Every fleet station can have a reserve fleet and mothballed ships will be placed in the reserve fleet of the planet where they are mothballed.<br>
        The crew of ships of active fleets can be moved to the planet in order to deactivate the ship and via versa.</p>
    <p>Although ships are mothballed at the planet's shipyards, they can be used on missions in other parts of the empire. The ships have to be active for this.</p>
</div>
