<div class="header streamline-background"
     cdkDrag
     cdkDragRootElement=".confirm-mat-dialog-panel"
     cdkDragBoundary=".cdk-overlay-container">
    <h1 mat-dialog-title>{{ 'register.hello.title' | translate }}</h1>
</div>
<div mat-dialog-content class="streamline-background">
    <div class="content-area">
        <mat-card appearance="raised" class="streamline-background">
            <mat-card-header class="streamline-background">
                <img mat-card-avatar class="avatar-image" src="assets/icons/user/{{ result.profilePic }}" alt="{{ result.profilePic }}">
                <mat-card-title>
                    {{ 'register.hello.welcome' | translate }} {{ newUser?.username }},
                </mat-card-title>
                <mat-card-subtitle>
                    {{ 'register.hello.change-if-want' | translate }}<br>
                    <div>{{ 'role-play.hint.change-later' | translate }}</div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

                <mat-card appearance="outlined" id="mail-config">
                    <mat-card-content class="streamline-background">
                        <section [formGroup]="eMailFormGroup" class="height-fit-content">
                            <span matListItemLine>Change eMail settings</span>
                            <ul>
                                <div>
                                    <mat-checkbox formControlName="receiveChangelogInfos">I want to receive mails about a new release.</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox formControlName="receiveTickAdvice">I want to receive once a day a mail about the current state of the empire.</mat-checkbox>
                                </div>
                            </ul>
                        </section>
                    </mat-card-content>
                </mat-card>

                <div class="flex-items-container">

                    <mat-card appearance="outlined" class="width-fit-content height-fit-content">
                        <mat-card-content>
                            <mat-selection-list #iconSelector [multiple]="false" id="icon-card">
                                <mat-list-option *ngFor="let fileName of userIcons" [value]="fileName" [selected]="result.profilePic === fileName">
                                    <img matListItemAvatar src="assets/icons/user/{{ fileName }}" alt="{{ fileName }}">
                                    <h3 matListItemTitle>{{ fileName.split('.')[0] }}</h3>
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-card-content>
                    </mat-card>

                    <mat-card appearance="outlined" class="width-fit-content height-fit-content">
                        <mat-card-content>
                            <div class="title">{{ 'role-play.personal.placeholder.title' | translate }}</div>

                            <form [formGroup]="rpgFormGroup">
                                <button mat-icon-button (click)="clear();" matTooltip="Clear data" id="clear-btn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <div class="flex-items-container title-container">
                                    <mat-form-field appearance="outline" class="prefix-field">
                                        <mat-label>{{ 'profile.navy.ship-prefix.label' | translate }}</mat-label>
                                        <input type="text" matInput formControlName='shipPrefix' [errorStateMatcher]="matcher"
                                               placeholder="{{ 'profile.navy.ship-prefix.label' | translate }}">
                                        <mat-error *ngIf="rpgFormGroup.controls.shipPrefix.hasError('too-long')">
                                            {{ 'profile.navy.ship-prefix.hint' | translate }}
                                        </mat-error>
                                        <mat-hint>{{ 'profile.navy.ship-prefix.hint' | translate }}</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'role-play.personal.title.title' | translate }}</mat-label>
                                        <input matInput type='text'
                                               placeholder="{{ 'role-play.personal.placeholder.title' | translate }}"
                                               formControlName='title'
                                               [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="rpgFormGroup.controls.title.hasError('tooLong')">
                                            {{ 'role-play.personal.hint.title' | translate }}
                                        </mat-error>
                                        <mat-hint>{{ 'role-play.personal.hint.title' | translate }}</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'role-play.personal.title.titleAbbreviation' | translate }}</mat-label>
                                        <input matInput type='text'
                                               placeholder="{{ 'role-play.personal.placeholder.titleAbbreviation' | translate }}"
                                               formControlName='titleAbbreviation'
                                               [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="rpgFormGroup.controls.titleAbbreviation.hasError('tooLong')">
                                            {{ 'role-play.personal.hint.titleAbbreviation' | translate }}
                                        </mat-error>
                                        <mat-hint>{{ 'role-play.personal.hint.titleAbbreviation' | translate }}</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="flex-items-container name-container">
                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'role-play.personal.title.firstname' | translate }}</mat-label>
                                        <input matInput type='text'
                                               placeholder="{{ 'role-play.personal.placeholder.firstname' | translate }}"
                                               formControlName='firstname'
                                               [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="rpgFormGroup.controls.firstname.hasError('tooLong')">
                                            {{ 'role-play.personal.hint.firstname' | translate }}
                                        </mat-error>
                                        <mat-hint>{{ 'role-play.personal.hint.firstname' | translate }}</mat-hint>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>{{ 'role-play.personal.title.surname' | translate }}</mat-label>
                                        <input matInput type='text'
                                               placeholder="{{ 'role-play.personal.placeholder.surname' | translate }}"
                                               formControlName='surname'
                                               [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="rpgFormGroup.controls.surname.hasError('tooLong')">
                                            {{ 'role-play.personal.hint.surname' | translate }}
                                        </mat-error>
                                        <mat-hint>{{ 'role-play.personal.hint.surname' | translate }}</mat-hint>
                                    </mat-form-field>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div mat-dialog-actions class="streamline-background" align="end">
    <span *ngIf="!idUser" style="margin-right: 15px;">
        {{ 'account.will-be-created.msg' | translate }}
    </span>
    <button mat-raised-button (click)="confirm()" [disabled]="!idUser">
        {{ 'account.will-be-created.action.submit' | translate }}
        <mat-icon *ngIf="!idUser" [@rotatedState]='state'>hourglass_bottom</mat-icon>
    </button>
    <button mat-raised-button (click)="cancel()" [disabled]="!idUser">
        {{ 'account.will-be-created.action.skip' | translate }}
        <mat-icon *ngIf="!idUser" [@rotatedState]='state'>hourglass_bottom</mat-icon>
    </button>
</div>
