<div *ngIf="!!fleet && showTitle">
    <div mat-subheader *ngIf="!!fleet.move">
        {{ 'fleet.display.move.movement.title' | translate }} to {{destinationRepresentation}}, {{getTicksLeft()}} of {{fleet.move!.originalDuration}} ticks
    </div>
    <div mat-subheader *ngIf="!!fleet.orbit">
        {{ 'fleet.display.move.orbit.title' | translate }}: {{orbitRepresentation}}
    </div>
</div>

<div *ngIf="!!fleet && !showTitle">
    <div mat-subheader *ngIf="!!fleet.move">to {{destinationRepresentation}}, {{getTicksLeft()}} of {{fleet.move!.originalDuration}} ticks</div>
    <div mat-subheader *ngIf="!!fleet.orbit">{{orbitRepresentation}}</div>
</div>

