<div *ngIf="!!fleet && showTitle && !_preSelect">
    <div mat-subheader *ngIf="!!fleet.move">
        {{  'fleet.display.move.movement.title' | translate  }} towards {{ destinationRepresentation }}
        <br>
        {{ fleet.move.ticksLeft }} of {{ fleet.move!.originalDuration }} ticks left
    </div>
    <div mat-subheader *ngIf="!!fleet.orbit">
        {{  'fleet.display.move.orbit.title' | translate  }}: {{ orbitRepresentation }}
    </div>
</div>

<div *ngIf="!!fleet && !showTitle && !_preSelect">
    <div mat-subheader *ngIf="!!fleet.move">
        towards {{ destinationRepresentation }}
        <br>
        {{ fleet.move.ticksLeft }} of {{ fleet.move!.originalDuration }} ticks left
    </div>
    <div mat-subheader *ngIf="!!fleet.orbit">{{ orbitRepresentation }}</div>
</div>

<div *ngIf="!!fleet && _preSelect">
    <div mat-subheader *ngIf="!!fleet.move">
        towards {{ destinationRepresentation }}
        <br>
        {{ fleet.move.ticksLeft }} ticks left
    </div>
    <div mat-subheader *ngIf="!!fleet.orbit">currently at  {{ orbitRepresentation }}</div>
</div>
