<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <div *ngFor="let pair of planets | keyvalue">
        <div class="system-name">{{ pair.key.name }}</div>
        <mat-list-option *ngFor="let planet of pair.value"
                         (click)="chosePlanet(planet)"
                         [selected]="isSelected(planet.idPlanet)"
                         matTooltipDisabled
                         class="sidenav-item">

            <app-icon style="width: 16px;" matListItemAvatar [icon]="planet.planetType"></app-icon>
            <div matListItemTitle>{{ planet.name }}</div>
            <mat-icon *ngIf="groundConstructionPossibleByPlanetId.get(planet.idPlanet)" inline>construction</mat-icon>
            <mat-icon *ngIf="shipYardPossibleByPlanetId.get(planet.idPlanet)" inline>rocket</mat-icon>
        </mat-list-option>
    </div>
</mat-selection-list>
