<div *ngIf="!!destination && fleets.length > 0">
    <mat-card style="background-color: transparent;">
        <div mat-subheader>{{ 'fleets.movement.select-for-move.title' | translate }} {{destination!.name}}</div>
        <div *ngFor="let fleet of fleets">
            <mat-card-header>
                <div *ngIf="!isSameOrbit(fleet)">
                    <mat-checkbox (change)="selectForFlight($event.checked, fleet)" [checked]="fleetsDesignatedForMotion.includes(fleet)">
                        <div *ngIf="!!plannedMovements">
                            {{fleet.name}} {{ 'fleets.movement.select-for-move.checkbox' | translate }} in {{getTicks(fleet)}} ticks
                        </div>
                        <div *ngIf="!plannedMovements">
                            {{fleet.name}} {{ 'fleets.movement.select-for-move.checkbox' | translate }}
                        </div>
                    </mat-checkbox>
                </div>
            </mat-card-header>
        </div>
    </mat-card>
</div>
