<p *ngIf="applicants.length == 0">
    No Applicants.
</p>

<div class="holder" *ngIf="applicants.length > 0">
    <table mat-table [dataSource]="dataSource" matSort class="max-width">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user"> {{user.username}} </td>
        </ng-container>

        <ng-container matColumnDef="grant-application">
            <th mat-header-cell *matHeaderCellDef>Grant application</th>
            <td mat-cell *matCellDef="let user">
                <button mat-raised-button color="secondary" (click)="grant(user)">Grant application</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="deny-application">
            <th mat-header-cell *matHeaderCellDef>Deny application</th>
            <td mat-cell *matCellDef="let user">
                <button mat-raised-button color="secondary" (click)="deny(user)">Deny application</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" aria-label="Select page of applicants"></mat-paginator>
</div>
