<div class="fitting">
    <div class="flex-items-container">
        <mat-form-field appearance="outline">
            <mat-label>Ship class</mat-label>
            <input matInput disabled
                   [value]="shipClass?.name"
                   matTooltip="The class name should contain of between 3 and 30 characters.">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ship role</mat-label>
            <input matInput disabled value="{{ shipClass?.shipClassType?.type }} - {{ 'shipyard.hull.type.' + shipClass?.shipClassType?.typeName | translate }}">
        </mat-form-field>
    </div>

    <div class="flex-items-container">
        <button mat-button
                [disabled]="disabled"
                (click)="deleteClass()"
                class="ship-action-button warning">
            Delete ship class
        </button>

        <button mat-button
                [disabled]="disabled"
                (click)="storeClass()"
                class="ship-action-button"
                matTooltip="At least the name, a hull and a propulsion module is needed.">
            Store ship class
        </button>
    </div>

    <app-ship-class-svg [isTemplateRenderedInput]="isSelectedOutput" [svgSelector]="svgSelector"
                        [weaponsAmountByAlignmentInput]="weaponsAmountByAlignmentEmitter"
                        [shipClass]="shipClass"></app-ship-class-svg>

    <app-resource-display [deposit]="resourceDeposit"
                          [costs]="costs"></app-resource-display>

    <app-military-people [utilization]="costs"></app-military-people>

    <div class="middle">
        <app-spacecraft-capabilities-display [baseFleetCapabilities]="capabilities"></app-spacecraft-capabilities-display>
        <app-ship-class-tonnage-per-section-display [capacities]="capacities"></app-ship-class-tonnage-per-section-display>
        <app-weapon-amount-by-alignment-display [shipClass]="shipClass"></app-weapon-amount-by-alignment-display>
    </div>

    <app-ship-class-fitting-modify [shipClass]="shipClass"
                                   (shipClassEmitter)="setShipClass($event)"
                                   (weaponsAmountByAlignmentOutput)="setWeaponsAmountByAlignmentInput($event)"></app-ship-class-fitting-modify>
</div>
