<div class="fitting">
    <div class="flex-items-container">
        <app-outlined titleValue="Ship class">
            {{ shipClass?.name }}
        </app-outlined>

        <app-outlined titleValue="Ship role">
            {{ shipClass?.shipClassType?.type }} - {{ 'shipyard.hull.type.' + shipClass?.shipClassType?.typeName | translate }}
        </app-outlined>
    </div>

    <div class="flex-items-container">
        <button mat-button
                [disabled]="disabled"
                (click)="deleteClass(shipClass)"
                class="ship-action-button warning">
            Delete ship class
        </button>

        <button mat-button
                [disabled]="disabled"
                (click)="storeClass()"
                class="ship-action-button"
                matTooltip="At least the name, a hull and a propulsion module is needed.">
            Store ship class
        </button>
    </div>

    <app-ship-imager [shipClassType]="shipClass?.shipClassType"></app-ship-imager>

    <app-resource-display onlyResources [showTick]="false"
                          [deposit]="resourceDeposit"
                          [costs]="costs"></app-resource-display>

    <app-outlined titleValue="{{ 'fleet.display.population.title' | translate }}">
        <app-military-people [utilization]="costs"></app-military-people>
    </app-outlined>

    <div class="middle">
        <app-spacecraft-capabilities-display [baseFleetCapabilities]="capabilities"></app-spacecraft-capabilities-display>

        <app-outlined titleValue="{{ 'shipyard.constructions.capacity.title' | translate }}">
            <app-ship-class-tonnage-per-section-display [capacities]="capacities"></app-ship-class-tonnage-per-section-display>
        </app-outlined>

        <app-weapon-amount-by-alignment-display [shipClass]="shipClass"></app-weapon-amount-by-alignment-display>
    </div>

    <app-ship-class-fitting-modify [shipClass]="shipClass"
                                   (shipClassEmitter)="setShipClass($event)"
                                   (weaponsAmountByAlignmentOutput)="setWeaponsAmountByAlignmentInput($event)"></app-ship-class-fitting-modify>
</div>
