<mat-tab-group animationDuration="500ms" class="bottom-spacer"
               [selectedIndex]="index" (selectedIndexChange)="index = $event"
               *ngIf="!!fleet">
    <mat-tab label="{{ 'tab.fleet.dashboard' | translate }}" [disabled]="onlyAllowDetachment">
        <div class="holder" *ngIf="!onlyAllowDetachment">
            <app-fleet-display [fleet]="fleet" transparent>
                <div class="fleet-info-container" body>
                    <div class="main-display">
                        <app-fleet-move-display [fleet]="fleet"></app-fleet-move-display>

                        <app-fleet-formation-display class="mar-to" [fleet]="fleet"></app-fleet-formation-display>
                    </div>

                    <app-blue-card class="cap-display">
                        <app-spacecraft-capabilities-display body
                                                             [baseFleetCapabilities]="fleet.baseSpacecraftCapabilities"
                                                             [currentFleetCapabilities]="fleet.spacecraftCapabilities">
                        </app-spacecraft-capabilities-display>
                    </app-blue-card>
                </div>

                <div body class="bottom-spacer"></div>

                <div class="fleet-info-container" body>
                    <div class="main-display">
                        <app-manual-transport [fleet]="fleet"></app-manual-transport>
                    </div>

                    <app-blue-card class="cap-display">
                        <div body class="mar-ri">
                            <app-outlined titleValue="{{ 'fleet.display.population.title' | translate }}">
                                <app-military-people [utilization]="utilization"></app-military-people>
                            </app-outlined>

                            <app-outlined titleValue="{{ 'fleet.modules.ammunition-roster.title' | translate }}">
                                <app-ammunition-roster noTitle [fleet]="fleet"></app-ammunition-roster>
                            </app-outlined>
                        </div>
                    </app-blue-card>
                </div>
            </app-fleet-display>
        </div>
    </mat-tab>
    <mat-tab label="{{ 'tab.fleet.edit' | translate }}" [disabled]="!isShipyardAvailable || !!fleet.move || fleet.state.isInYard">
        <app-fleet-edit [fleet]="fleet"></app-fleet-edit>
    </mat-tab>
    <mat-tab label="{{ 'tab.fleet.split' | translate }}" [disabled]="!!fleet.move || fleet.state.isInYard">
        <app-fleet-detachment [fleet]="fleet" [planet]="planet" [isFleetCreation]="onlyAllowDetachment"></app-fleet-detachment>
    </mat-tab>
</mat-tab-group>
