<mat-tab-group animationDuration="500ms" class="bottom-spacer">
    <mat-tab label="{{ 'tab.fleet.dashboard' | translate }}">
        <div class="holder">
            <app-fleet-display [fleet]="fleet" nameChangeAllowed>
                <app-fleet-move-display body [fleet]="fleet"></app-fleet-move-display>

                <app-spacecraft-capabilities-display body
                                                     [baseFleetCapabilities]="fleet?.baseSpacecraftCapabilities"
                                                     [currentFleetCapabilities]="fleet?.spacecraftCapabilities"></app-spacecraft-capabilities-display>

                <div body class="mar-to">
                    <app-outlined titleValue="{{ 'fleet.display.population.title' | translate }}">
                        <app-military-people [utilization]="utilization"></app-military-people>
                    </app-outlined>

                    <app-outlined titleValue="{{ 'fleet.modules.ammunition-roster.title' | translate }}">
                        <app-ammunition-roster noTitle [fleet]="fleet"></app-ammunition-roster>
                    </app-outlined>
                </div>

                <app-manual-transport body class="mar-to" [fleet]="fleet"></app-manual-transport>

                <app-fleet-formation-display body class="mar-to" [fleet]="fleet"></app-fleet-formation-display>
            </app-fleet-display>
        </div>
    </mat-tab>
    <mat-tab label="{{ 'tab.fleet.split' | translate }}">
        <app-fleet-split [fleet]="fleet"></app-fleet-split>
    </mat-tab>
</mat-tab-group>
