<div class="flex-items-container container" *ngIf="!fleet || (!!fleet && isOwnFleet(fleet))">
    <app-outlined *ngFor="let cap of baseFleetCapabilities?.capabilities" [titleValue]="cap.moduleType.typeName">
        <app-icon class="icon"
                  [icon]="cap.moduleType"
                  [altText]="cap.moduleType.typeName"
                  png24px [toolTip]="cap.moduleType.typeName"></app-icon>
        <div>
            <div *ngIf="!ngClass">{{getCapValueInShort(cap)}}</div>
            <mat-progress-bar
                    mode="determinate"
                    [value]="getPercentage(cap)"
                    [matTooltip]="getCapValue(cap)"></mat-progress-bar>
        </div>
    </app-outlined>
</div>
