<div class="flex-items-container container" *ngIf="!fleet || (!!fleet && isOwnFleet(fleet))">
    <mat-list-item *ngFor="let cap of baseFleetCapabilities?.capabilities">
        <img class="icon" src="{{getLink(cap)}}" alt="{{cap.moduleType}}" matTooltip="{{cap.moduleType.typeName}}">
        <div>
            <div *ngIf="!ngClass">{{getCapValueInShort(cap)}}</div>
            <mat-progress-bar
                    mode="determinate"
                    [value]="getPercentage(cap)"
                    [matTooltip]="getCapValue(cap)"></mat-progress-bar>
        </div>
    </mat-list-item>
</div>
