@import "src/styles/variables";

.outer {
  margin: 25px;
  height: 100%;
}

.left-full-height, .right-full-height {
  height: 90%;
}

.left-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60%;
  margin-top: 15px;
}

.red-box {
  height: 100%;
}

.red-box-content {
  height: 90%;
}

.right-full-height {
  float: right;
}

.left-full-height {
  float: left;
  width: calc(100% - 350px);
}

.register-box {
  float: right;
}

.register-list {
  overflow-y: auto;
}

.register-list {
  height: 95%;
}

.search-box {
  margin-top: 15px;
}
