@import "src/styles/variables";

.outer {
  margin: 25px;
  height: 100%;
}

.left-full-height, .right-full-height {
  height: 90%;
}

.left-inner-container {
  height: 60%;
  margin-top: 15px;
}

.red-box {
  height: 100%;
}

.red-box-content {
  height: 90%;
}

.right-full-height {
  float: right;
  width: 28%;
}

.left-full-height {
  float: left;
  width: 68%;
}

.register-box {
  float: right;
}

.register-list {
  overflow-y: auto;
}

.register-list {
  height: 95%;
}

.search-box {
  margin-top: 15px;
}
