@import "src/styles/variables";

#forums-content {
  margin: 25px 25px 25px 25px;
}

#forum-list {
  margin: 25px 25px 25px 25px;
}

.forum-card {
  margin: 25px 25px 25px 25px;
}

#forum-thread-list {
  margin: 25px 25px 25px 25px;
}

#new-thread-field {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#thread-title {
  margin: 0 25px 0 25px;
}

#thread-description {
  margin: 0 25px 0 25px;
}

.forum-message-card {
  width: 70%;
  margin-top: 15px;
  padding: 15px;
  border: solid $secondary-background-color 2px;
  border-radius: 5px;
}

mat-card.forum-message-card.set-right > mat-card-header {
  justify-content: right;
  padding-left: 15px;
  border: solid #3b3b3b;
  border-width: 0 0 2px 2px;
  float: right;
  margin-left: 10px;
}

mat-card.forum-message-card.set-left > mat-card-header {
  justify-content: left;
  padding-left: 15px;
  border: solid #3b3b3b;
  border-width: 0 2px 2px 0;
  float: left;
  margin-right: 10px;
}

.set-right {
  float: right;
  background: linear-gradient(45deg, $secondary-background-color 20px, $tertiary-background-color 20px);
  border-radius: 0 0 0 5px;
  margin-right: 15px;
}

.set-left {
  float: left;
  background: linear-gradient(-45deg, $secondary-background-color 20px, $tertiary-background-color 20px);
  border-radius: 0 0 5px 0;
  margin-left: 15px;
}

#send-forum-message-button {
  float: right;
}

#forum-message-form-field {
  float: left;
  padding-left: 50px;
  width: 90%;
}

.message {
  word-wrap: break-word
}

.message-field-on-hold {
  position: absolute;
  bottom: 15px;
  width: -webkit-fill-available;
  margin-left: 40px;
  margin-right: 40px;
}

.message-field-in-flow {
  position: sticky;
  bottom: 15px;
  width: -webkit-fill-available;
  margin-left: 40px;
  margin-right: 40px;
}
