<div id="forums-content">
    <!-- breadcrumbs -->
    <mat-chip-listbox>
        <mat-chip-option color="primary"
                         [selected]="!selectedForum"
                         [disabled]="isAllianceForum"
                         (click)="selectForum(undefined)">
            Forums
        </mat-chip-option>
        <mat-chip-option color="primary"
                         [selected]="!!selectedForum && !selectedForumThread"
                         *ngIf="!!selectedForum"
                         (click)="selectThread(undefined)">
            {{selectedForum.title}}
        </mat-chip-option>
        <mat-chip-option color="primary"
                         [selected]="!!selectedForumThread"
                         *ngIf="!!selectedForumThread"
                         (click)="selectThread(selectedForumThread)">
            {{selectedForumThread.title}}
        </mat-chip-option>
    </mat-chip-listbox>

    <!-- forums -->
    <div id="forum-list" *ngIf="!selectedForum">
        <mat-card appearance="outlined" class="forum-card" *ngFor="let forum of forums">
            <mat-card-title (click)="selectForum(forum)">
                {{forum.title}}
                <mat-icon *ngIf="hasForumUnread(forum)">mark_email_unread</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>{{forum.description}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{ 'forum.thread.in-forum' | translate }}: {{forum.idForumThreads.length}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- forum threads -->
    <app-forum-threads [selectedForum]="selectedForum"
                       [isAllianceForum]="isAllianceForum"
                       (selectedForumThreadOutput)="selectedForumThread = $event"></app-forum-threads>

    <!-- forum messages -->
    <app-forum-messages [selectedForumThread]="selectedForumThread"></app-forum-messages>
</div>
