@import "src/styles/variables";

#forums-content {
  margin: 25px 25px 25px 25px;
}

#forum-list {
  margin: 25px 25px 25px 25px;
}

.forum-pager {
  margin: 25px;
}

.forum-card {
  margin: 25px 25px 25px 25px;
  padding: 15px;
}

