@import "src/styles/variables";

#forums-content {
  margin: 25px 25px 25px 25px;
}

#forum-list {
  margin: 25px 25px 25px 25px;
}

.forum-pager {
  display: revert !important;
}

.forum-card {
  margin: 25px 25px 25px 25px;
}
