<div id="forums-content">
    <!-- breadcrumbs -->
    <mat-chip-listbox>
        <mat-chip-option class="no-checkmark"
                         [selected]="!selectedForum"
                         [disabled]="isAllianceForum"
                         (click)="selectForum(undefined)">
            Forums
        </mat-chip-option>
        <mat-chip-option class="no-checkmark"
                         [selected]="!!selectedForum && !selectedForumThread"
                         *ngIf="!!selectedForum"
                         (click)="selectThread(undefined)">
            {{ selectedForum.title }}
        </mat-chip-option>
        <mat-chip-option class="no-checkmark"
                         [selected]="!!selectedForumThread"
                         *ngIf="!!selectedForumThread"
                         (click)="selectThread(selectedForumThread)">
            {{ selectedForumThread.title }}
        </mat-chip-option>
    </mat-chip-listbox>

    <!-- forums -->
    <div id="forum-list" *ngIf="!selectedForum">
        <mat-card appearance="outlined" class="forum-card clickable" *ngFor="let forum of forums" (click)="selectForum(forum)">
            <!-- no mat-card-header please -->
            <mat-card-title>
                {{ forum.title }}
                <mat-icon *ngIf="hasForumUnread(forum)">mark_email_unread</mat-icon>
            </mat-card-title>
            <mat-card-subtitle>
                {{  forum.description }}
                <div class="set-right">
                    <br>
                    {{  forum.idForumThreads.length  }} {{  'forum.thread.in-forum' | translate }}
                </div>
            </mat-card-subtitle>
            <button mat-icon-button class="mark-read" (click)="markRead(forum.idForum); $event.stopPropagation();" matTooltip="{{ 'forum.action.mark-read.forum' | translate }}">
                <mat-icon>mark_email_read</mat-icon>
            </button>
        </mat-card>
    </div>

    <!-- forum threads -->
    <app-forum-threads [selectedForum]="selectedForum"
                       [isAllianceForum]="isAllianceForum"
                       (selectedForumThreadOutput)="selectedForumThread = $event"></app-forum-threads>

    <!-- forum messages -->
    <app-forum-messages [selectedForumThread]="selectedForumThread"></app-forum-messages>
</div>
