<div id="forum-thread-list" *ngIf="!!threads && !selectedForumThread">
    <button type="button" mat-raised-button (click)="openCreateThreadDialog()">
        <mat-icon class="material-symbols-outlined">
            add
        </mat-icon>
    </button>
    <mat-paginator #paginatorTop
                   class="forum-pager"
                   [length]="threadAmount"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="displayByPagination($event)">
    </mat-paginator>
    <mat-card appearance="outlined" class="forum-card clickable" *ngFor="let thread of displayedThreads" (click)="selectThread(thread)">
        <mat-card-title>
            {{thread.title}}
            <mat-icon *ngIf="hasThreadUnread(thread)">mark_email_unread</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>
            {{thread.description}}
            <div class="set-right">
                {{thread.lastChanged  | date: 'dd.MM.yyyy HH:mm'}}
            </div>
        </mat-card-subtitle>
        <mat-card-content>
            <p>{{ 'forum.thread.messages-in-thread' | translate }}: {{thread.idForumMessages.length}}</p>
        </mat-card-content>
    </mat-card>
    <mat-paginator #paginatorBottom
                   class="forum-pager"
                   [length]="threadAmount"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="displayByPagination($event)">
    </mat-paginator>
</div>
