<div id="forum-thread-list" *ngIf="!!threads && !selectedForumThread">
    <button type="button" mat-raised-button (click)="openCreateThreadDialog()">
        <mat-icon class="material-symbols-outlined">
            add
        </mat-icon>
    </button>
    <mat-paginator #paginatorTop
                   class="forum-pager"
                   [length]="threadAmount"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="displayByPagination($event)">
    </mat-paginator>
    <mat-card appearance="outlined" class="forum-card clickable" *ngFor="let thread of displayedThreads" (click)="selectThread(thread)">
        <!-- no mat-card-header please -->
        <mat-card-title>
            {{thread.title}}
            <app-icon *ngIf="hasThreadUnread(thread)" hasUnread></app-icon>
        </mat-card-title>
        <mat-card-subtitle>
            {{thread.description}}
            <div class="set-right">
                {{ thread.lastChanged  | date: 'HH:mm' }}<br>
                {{ thread.lastChanged  | date: 'dd.MM.yyyy' }}<br>
                {{ thread.idForumMessages.length }} {{ 'forum.thread.messages-in-thread' | translate }}
            </div>
        </mat-card-subtitle>
        <button mat-icon-button class="mark-read" (click)="markRead(thread.idForumThread); $event.stopPropagation();"
                matTooltip="{{ 'forum.action.mark-read.forum-thread' | translate }}">
            <app-icon markRead></app-icon>
        </button>
    </mat-card>
    <mat-paginator #paginatorBottom
                   class="forum-pager"
                   [length]="threadAmount"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   showFirstLastButtons
                   (page)="displayByPagination($event)">
    </mat-paginator>
</div>
