@import "src/app/modules/forum/components/forums-list/forums-list.component";

#forum-thread-list {
  margin: 25px 25px 25px 25px;
}

.set-right {
  float: right;
}

.mark-read {
  position: absolute;
  top: 0;
  right: 0;
}
