@import "src/styles/variables";
@import "src/app/modules/shared-module/components/markdown-editor/markdown-editor.component.scss";

.delete-btn {
  position: absolute;
  top: -20px;
  right: -35px;
}

.rel {
  position: relative;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  // disable focus background
  display: none;
}

mat-card, mat-dialog-title {
  margin: 15px;
}

.emblem {
  width: 15%;
  margin: 35px;
}

img {
  width: 100%;
}

.left-upper {
  width: 626px;
  height: 278px;
  display: inline-block;
}

.right-upper {
  width: 226px;
  height: 278px;
  display: inline-block;
}

mat-dialog-content {
  height: 100%;
}

.toggle-btn, mat-slide-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
