<div class="header streamline-background"
     cdkDrag
     cdkDragRootElement=".player-embassy-mat-dialog-panel"
     cdkDragBoundary=".cdk-overlay-container">
    <div mat-dialog-title>
        <h4>{{ 'player.embassy.main-page.title' | translate }}</h4>
        <h5>{{ PlayerEmbassyService.getEmpireOrPlayerName(player) }}</h5>
    </div>
</div>
<div mat-dialog-content class="streamline-background" style="height: 100%;">
    <div>
        <div class="flex-items-from-start-container">
            <div [ngClass]="imageIsPresent ? 'emblem' : ''" class="rel">
                <!--suppress AngularNgOptimizedImage -->
                <img *ngIf="!!image" [src]='image' alt="img">
                <app-file-upload *ngIf="!imageIsPresent && isMyself" (fileOutput)="uploadFiles($event)" class="emblem"></app-file-upload>
                <button mat-icon-button color="accent" class="delete-btn"
                        *ngIf="imageIsPresent && isMyself"
                        (click)="deleteEmblem()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>{{ PlayerEmbassyService.getPlayerTitle(player) }}</span>
                        <span matListItemLine>
                            {{ PlayerEmbassyService.getPlayerName(player) }} {{ PlayerEmbassyService.getPlayersAllianceTag(player) }}
                        </span>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

        <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayPositions]="position"
                [cdkConnectedOverlayOrigin]="triggerOrigin"
                [cdkConnectedOverlayOpen]="editMode">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <!-- fixme make editor as wide as the preview box really is-->
                    <angular-markdown-editor
                            textareaId="edit"
                            name="markdownText"
                            [(ngModel)]="text"
                            (ngModelChange)="setText()"
                            [options]="editorOptions"
                            class="angular-markdown-editor-minimalistic"></angular-markdown-editor>
                </mat-card-content>
                <mat-card-actions align="end" *ngIf="isMyself">
                    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheat Sheet</a>
                </mat-card-actions>
            </mat-card>
        </ng-template>

        <div class="flex-items-from-start-container">
            <mat-card appearance="outlined">
                <mat-card-content cdkOverlayOrigin #trigger1="cdkOverlayOrigin">
                    <markdown class="left-upper" [data]="textMap.get('leftUpper')"></markdown>
                </mat-card-content>
                <mat-card-actions align="end" *ngIf="isMyself">
                    <button mat-icon-button color="accent" (click)="selectForEdit('leftUpper',  trigger1)">
                        <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                        <mat-icon *ngIf="showSaveButton(trigger1)">save</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" *ngIf="showEditButton()" (click)="resetSingleText('leftUpper')" matTooltip="{{ 'action.reset' | translate }}">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card appearance="outlined">
                <mat-card-content cdkOverlayOrigin #trigger2="cdkOverlayOrigin">
                    <markdown class="right-upper" [data]="textMap.get('rightUpper')"></markdown>

                </mat-card-content>
                <mat-card-actions align="end" *ngIf="isMyself">
                    <button mat-icon-button color="accent" (click)="selectForEdit('rightUpper', trigger2)">
                        <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                        <mat-icon *ngIf="showSaveButton(trigger2)">save</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" *ngIf="showEditButton()" (click)="resetSingleText('rightUpper')" matTooltip="{{ 'action.reset' | translate }}">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="flex-items-from-start-container">
            <mat-card appearance="outlined">
                <mat-card-content cdkOverlayOrigin #trigger3="cdkOverlayOrigin">
                    <markdown class="left-bottom"
                              [data]="textMap.get('leftBottom')"></markdown>

                </mat-card-content>
                <mat-card-actions align="end" *ngIf="isMyself">
                    <button mat-icon-button color="accent" (click)="selectForEdit('leftBottom',  trigger3)">
                        <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                        <mat-icon *ngIf="showSaveButton(trigger3)">save</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" *ngIf="showEditButton()" (click)="resetSingleText('leftBottom')" matTooltip="{{ 'action.reset' | translate }}">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card appearance="outlined">
                <mat-card-content cdkOverlayOrigin #trigger4="cdkOverlayOrigin">
                    <markdown class="right-bottom"
                              [data]="textMap.get('rightBottom')"></markdown>

                </mat-card-content>
                <mat-card-actions align="end" *ngIf="isMyself">
                    <button mat-icon-button color="accent" (click)="selectForEdit('rightBottom', trigger4)">
                        <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                        <mat-icon *ngIf="showSaveButton(trigger4)">save</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" *ngIf="showEditButton()" (click)="resetSingleText('rightBottom')" matTooltip="{{ 'action.reset' | translate }}">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>
