<div class="header streamline-background"
     cdkDrag
     cdkDragRootElement=".player-embassy-mat-dialog-panel"
     cdkDragBoundary=".cdk-overlay-container">
    <div mat-dialog-title>
        <h4>{{ 'player.embassy.main-page.title' | translate }}</h4>
        <h5>{{ PlayerEmbassyService.getEmpireOrPlayerName(player) }}</h5>
    </div>
</div>
<div mat-dialog-content class="streamline-background" style="height: 100%;">
    <div>
        <div class="flex-items-from-start-container">
            <div [ngClass]="imageIsPresent ? 'emblem' : ''" class="rel">
                <!--suppress AngularNgOptimizedImage -->
                <img *ngIf="!!image" [src]='image' alt="img">
                <app-file-upload *ngIf="!imageIsPresent && isMyself" (fileOutput)="uploadFiles($event)" class="emblem"></app-file-upload>
                <button mat-icon-button color="accent" class="delete-btn"
                        *ngIf="imageIsPresent && isMyself"
                        (click)="deleteEmblem()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div>
                <mat-list>
                    <mat-list-item>
                        <div matListItemTitle>{{ PlayerEmbassyService.getPlayerTitle(player) }}</div>
                        <div matListItemLine>{{ PlayerEmbassyService.getPlayerName(player) }} {{ PlayerEmbassyService.getPlayersAllianceTag(player) }}</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="participation-container">
                <div>
                    <div matListItemLine>{{ 'points.event.ranking.winner' | translate }}</div>
                    <div class="flex-items-from-start-container">
                        <div *ngFor="let event of player!.rolePlayData.winner" class="event-emblem  text-block" matTooltip="{{ 'points.event.ranking.winner' | translate }}">
                            <div *ngIf="event == WinnerEnum.WAR_HARVEST_23" class="small-badge-container">
                                <img src="assets/events/badges/war-harvest/24/war-harvest-24_w.jpeg" alt="the operation emblem" class="small-badge">
                                {{ 'points.event.war-harvest.title' | translate }}
                            </div>

                            <div *ngIf="event == WinnerEnum.TOURNAMENT_FOR_HONOR_24" class="small-badge-container">
                                <img src="assets/events/badges/tournament/24/tournament-24_w.jpeg" alt="the operation emblem" class="small-badge">
                                {{ 'points.event.tournament.title' | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div matListItemLine>{{ 'points.event.ranking.participant' | translate }}</div>
                    <div class="flex-items-from-start-container">
                        <div *ngFor="let event of player!.rolePlayData.participant" class="event-emblem text-block">
                            <div *ngIf="event == ParticipantEnum.WAR_HARVEST_23" class="small-badge-container">
                                <img src="assets/events/badges/war-harvest/24/war-harvest-24_p.jpeg" alt="the operation emblem" class="small-badge">
                                {{ 'points.event.war-harvest.title' | translate }}
                            </div>

                            <div *ngIf="event == ParticipantEnum.TOURNAMENT_FOR_HONOR_24" class="small-badge-container">
                                <img src="assets/events/badges/tournament/24/tournament-24_p.jpeg" alt="the operation emblem" class="small-badge">
                                {{ 'points.event.tournament.title' | translate }}
                            </div>

                            <div *ngIf="event == ParticipantEnum.SEASON_2" class="small-badge-container">
                                <img src="assets/events/badges/tournament/24/tournament-24_p.jpeg" alt="the operation emblem" class="small-badge">
                                {{ 'points.event.season.two.title' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayPositions]="position"
                [cdkConnectedOverlayOrigin]="triggerOrigin"
                [cdkConnectedOverlayMinWidth]="width"
                [cdkConnectedOverlayMinHeight]="height"
                [cdkConnectedOverlayOpen]="editMode">
            <div class="editor-block text-block"
                 cdkDrag
                 cdkDragRootElement=".cdk-overlay-pane"
                 cdkDragBoundary=".cdk-overlay-container">

                <div class="draggor" cdkDragHandle></div>

                <angular-markdown-editor
                        textareaId="embassy-edit-textarea"
                        name="markdownText"
                        [(ngModel)]="text"
                        (ngModelChange)="setText()"
                        [options]="editorOptions"
                        class="angular-markdown-editor-minimalistic"></angular-markdown-editor>

                <div *ngIf="isMyself" class="draggor" cdkDragHandle>
                    <mat-divider></mat-divider>
                    <div class="action-holder">
                        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheat Sheet</a>
                    </div>
                </div>
            </div>
        </ng-template>

        <div class="flex-items-from-start-container">
            <div class="left-upper text-block" cdkOverlayOrigin #trigger1="cdkOverlayOrigin">
                <markdown [data]="textMap.get('leftUpper')"></markdown>

                <div *ngIf="isMyself">
                    <mat-divider></mat-divider>
                    <div class="action-holder">
                        <button mat-icon-button color="accent" class="action-btn" (click)="selectForEdit('leftUpper',  trigger1)">
                            <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                            <mat-icon *ngIf="showSaveButton(trigger1)">save</mat-icon>
                        </button>

                        <button mat-icon-button color="accent" class="action-btn" *ngIf="showEditButton()" (click)="resetSingleText('leftUpper')"
                                matTooltip="{{ 'action.reset' | translate }}">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="right-upper text-block" cdkOverlayOrigin #trigger2="cdkOverlayOrigin">
                <markdown [data]="textMap.get('rightUpper')"></markdown>

                <div *ngIf="isMyself">
                    <mat-divider></mat-divider>
                    <div class="action-holder">
                        <button mat-icon-button color="accent" class="action-btn" (click)="selectForEdit('rightUpper', trigger2)">
                            <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                            <mat-icon *ngIf="showSaveButton(trigger2)">save</mat-icon>
                        </button>

                        <button mat-icon-button color="accent" class="action-btn" *ngIf="showEditButton()" (click)="resetSingleText('rightUpper')"
                                matTooltip="{{ 'action.reset' | translate }}">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex-items-from-start-container">
                <div class="left-bottom text-block" cdkOverlayOrigin #trigger3="cdkOverlayOrigin">
                    <markdown [data]="textMap.get('leftBottom')"></markdown>

                    <div *ngIf="isMyself">
                        <mat-divider></mat-divider>
                        <div class="action-holder">
                            <button mat-icon-button color="accent" class="action-btn" (click)="selectForEdit('leftBottom',  trigger3)">
                                <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                                <mat-icon *ngIf="showSaveButton(trigger3)">save</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" class="action-btn" *ngIf="showEditButton()" (click)="resetSingleText('leftBottom')"
                                    matTooltip="{{ 'action.reset' | translate }}">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="right-bottom text-block" cdkOverlayOrigin #trigger4="cdkOverlayOrigin">
                    <markdown [data]="textMap.get('rightBottom')"></markdown>

                    <div *ngIf="isMyself">
                        <mat-divider></mat-divider>
                        <div class="action-holder">
                            <button mat-icon-button color="accent" class="action-btn" (click)="selectForEdit('rightBottom', trigger4)">
                                <mat-icon *ngIf="showEditButton()">edit</mat-icon>
                                <mat-icon *ngIf="showSaveButton(trigger4)">save</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" class="action-btn" *ngIf="showEditButton()" (click)="resetSingleText('rightBottom')"
                                    matTooltip="{{ 'action.reset' | translate }}">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
