<div id="tech-tree-container"
     cdkOverlayOrigin #trigger="cdkOverlayOrigin"
     (mousedown)="startDragging($event)"
     (mouseup)="stopDragging()"
     (mouseleave)="stopDragging()"
     (mousemove)="handleMouseDragMove($event)">
    <app-research-result-overlay [boxWithContext]="boxWithContext"
                                 [origin]="trigger"
                                 [position]="position"></app-research-result-overlay>
    <canvas #canvas id="tech-tree-display" (mousemove)="handleMouseHover($event)"></canvas>
</div>

