@import "src/styles/variables";

#tech-tree-display {
  cursor: pointer;
}

#tech-tree-display:active {
  cursor: move;
}

#tech-tree-container {
  height: calc(100vh - 150px);
  width: 100%;
  overflow: hidden;
  padding: 25px 25px 0 0;
}
