<html>
<head>
    <!--<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
    <title>Newspaper Style Design Experiment</title>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox">
            <span style="font-style: italic;">Weather Forecast for the next 24 hours: Plenty of Sunshine</span><br>
            <span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span>
        </div>
        <header>Chicago Tribune</header>
    </div>

    <div class="subhead">Chicago, IL - Thursday January 18, 1978 PD</div>
</div>
<div class="content">
    <div class="columns">
        <div class="column editorial">
            <div class="editorial-head">
                <span class="headline hl5">Preface - Editorial</span>
                <p><span class="headline hl6">An incendiary occurrence that threatened the security of our Sol System</span></p>

                <figure class="figure" style="float: right; width: 150px; margin-left: 25px; margin-bottom: 25px;">
                    <img class="media" src="assets/events/war-harvest-23.jpeg" alt="the operation emblem">
                    <figcaption class="figcaption">The operation emblem</figcaption>
                </figure>
            </div>

            <p>
                <b class="hl6">Today,</b> we stand on the brink of the release of a heretofore highly classified document shedding light on recent events in space.
                An incendiary occurrence that threatened the security of our Sol System and prompted the international space forces to undertake an unprecedented operation:<br>
                <b class="hl6">War Harvest '24</b>.
            </p>

            <figure class="figure" style="float: right; margin-left: 25px; margin-bottom: 25px;">
                <img class="media" src="assets/special/battle1.gif" alt="a battle">
                <figcaption class="figcaption">Outnumbered syndicate warships at Orca.</figcaption>
            </figure>

            <p>Through a leak within the INTERCEPT Forces, we have gained access to a high-level report authored by the Supreme Commander of INTERCEPT Forces,
                Admiral Du'Feu. This
                document not
                only provides insights into the strategies and successes of the operation but also illuminates the sacrifices made on both sides.

                Following this report, we will receive additional accounts from local forces involved in this joint effort. Their reports offer a detailed perspective on
                coordination and
                challenges faced. Additionally, local reporters have documented their impressions and experiences, revealing the human side of this conflict.
            </p>

            <p>This leaked document serves not only transparency but also serves as a reminder that our space security relies on the cooperation and determination of our
                international community.
                Operation War Harvest '24 is a chapter in the story of our defense efforts, now revealed to the public.

                The subsequent reports afford us a comprehensive view of the challenges and victories experienced in this battle against the Kersey Association. May this knowledge
                further fortify
                us as we collectively prepare for a safer future in the infinite expanse.
            </p>
            <p>
                <b class="hl6">
                    The Editorial Team<br>
                    Chicago Tribune<br>
                </b>
            </p>
        </div>

        <div class="column" style="width: 60%;">
            <div>
                <div class="head">
                    <span class="headline hl1">Operation War Harvest '24 AAR Assessment</span>
                    <p>
                        <span class="headline hl4">Confidentiality Notice: This document is classified as strictly confidential and intended for authorized recipients only.</span>
                    </p>
                </div>
                <p></p>
                <p>
                    Preface -<br>
                    Commander-in-Chief of the Solarian League Navy
                </p>
                <p>
                    <b class="hl6">
                        To: President Arrêt, Solarian League<br>
                        From: Admiral Marteau, Commander-in-Chief, Solarian League Navy<br>
                        Date: 16.01.1978 PD
                    </b>
                </p>
                <p>
                    Dear President Arrêt,<br>
                    I stand before you to present the following report on Operation War Harvest '24 conducted by the Solarian League Navy.<br>
                    This operation, carried out in collaboration with INTERCEPT Forces, marks a pivotal turning point in our efforts to secure the interstellar boundaries of the
                    Solarian League.
                </p>
            </div>
            <div class="column" style="width: 50%; margin-top: 25px;">
                <p>
                    <b>I. Strategic Assessment</b><br>
                    <br>
                    The decision to combat the Kersey Association proved necessary and pivotal for the security of our colonies and trade routes.
                    The strategy of executing coordinated attacks on multiple fronts exerted significant pressure on the hostile forces.
                    The capture of 25 pirate bases was a notable success, severely depleting the Kersey Association.<br>
                    <br>
                    <b>II. Tactical Challenges</b><br>
                    <br>
                    However, we must also acknowledge the tactical challenges we faced. The withdrawal of the remaining targets into the shadows necessitates ongoing
                    surveillance and adaptation of our strategies. Our losses of 3.5 million tons of ships are regrettable and call for a thorough analysis.<br>
                    <br>
                    <b>III. Sacrifices and Heroes</b><br>
                    <br>
                    The Solarian League Navy has lost brave men and women during this operation. Their dedication and sacrifice will be etched into the annals of our armed forces.
                    Simultaneously, we inflicted significant damage on the Kersey Association, greatly hampering their ability to threaten our territory.

                </p>
            </div>
            <div class="column" style="width: 50%;">
                <figure class="figure" style="float: right; width: 250px; margin-left: 25px; margin-bottom: 25px;">
                    <img class="media" src="assets/special/ranking-image.png" alt="the ranking">
                    <figcaption class="figcaption">Success statistics of participating star nations.</figcaption>
                </figure>
                <p>
                    <b>IV. Future Prospects</b><br>
                    <br>
                    The Solarian League Navy is committed to ensuring the continued security of the Solarian League. We will intensify our efforts to neutralize the remaining
                    threats. Cooperation and intelligent strategies will be crucial in navigating the next phases of this engagement.<br>
                    <br>
                    <b>V. Closing Words</b><br>
                    <br>
                    Operation War Harvest '24 was a crucial step in our defense strategy. The Solarian League Navy remains proud to serve alongside our INTERCEPT allies.
                    The challenges may be great, but our commitment to the security of the Solarian League is unwavering.
                </p>
                <p>
                    End of Preface - Confidential for the President
                </p>
                <p>
                    <b class="hl6">
                        Respectfully,<br>
                        <br>
                        Admiral Marteau<br>
                        Commander-in-Chief, Solarian League Navy
                    </b>
                </p>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column" style="width: 70%; margin-bottom: 0;">
            <div class="head">
                <span class="headline hl3">After Action Report - Operation War Harvest '24</span>
                <p>
                    <span class="headline hl4">Confidentiality Notice: This document is classified as strictly confidential and intended for authorized recipients only.</span>
                </p>
            </div>
            <p>
                <b class="hl6">
                    <b>I. Executive Summary</b><br>
                    <br>
                    From: Admiral Du'Feu, Supreme Commander, INTERCEPT Forces <br>
                    To: Presidents and Supreme Commanders of Participating Nations <br>
                    Date: 15.01.1978 PD
                </b>
            </p>
            <div class="column" style="width: 50%;">
                <b>II. Mission Overview</b><br>
                <br>
                <b>A. Objectives</b><br>
                <br>
                The primary objective of Operation War Harvest '24 was the eradication of the notorious pirate organization known as the Kersey Association. A total of 45 pirate
                bases were identified at the outset, with 25 successfully captured during the course of the operation. The remaining targets have withdrawn from public view,
                presenting a challenge for future actions.<br>
                <br>
                <b>B. Execution</b><br>
                <br>
                The operation commenced with a coordinated assault on multiple fronts, utilizing a combination of stealth, strategic intelligence, and overwhelming force.
                INTERCEPT Forces engaged in a relentless pursuit, pushing the Kersey Association into retreat.
            </div>
            <div class="column" style="width: 50%;">
                <b>III. Results and Casualties</b><br>
                <br>
                <div class="column" style="width: 50%; margin-bottom: 0;">
                    <b>A. Assets</b><br>
                    <br>
                    <p>
                        <b>1. Pirate Bases:</b><br>
                        - Found: 45<br>
                        - Captured: 25<br>
                        - Remaining: Withdrawn from public eye<br>
                    </p>
                    <p>
                        <b>2. Losses (INTERCEPT Forces):</b><br>
                        - Combat and Supply vessels: 3.5 million tons<br>
                    </p>
                    <p>
                        <b>3. Enemy Losses (Kersey Association):</b><br>
                        - Combat vessels: 6.1 million tons
                    </p>
                    <br>
                </div>
                <div class="column" style="width: 50%; margin-bottom: 0; border-left: initial;">
                    <b>B. Casualties</b><br>
                    <br>
                    <p>
                        <b>1. Personnel:</b><br>
                        - INTERCEPT Forces: Countless brave soldiers<br>
                        - Kersey Association: A significant toll on their criminal syndicate<br>
                    </p>
                    <p>
                        <b>2. Civilian Impact:</b><br>
                        - Minimal collateral damage, with efforts made to safeguard civilian populations
                    </p>
                </div>
            </div>
            <hr>
            <div class="column" style="width: 100%; margin-bottom: 0;">
                <b>IV. Operation War Harvest '24 Assessment</b><br>
                <br>
                <div class="column" style="width: 50%; margin-bottom: 0;">
                    <b>A. Successes</b><br>
                    <br>
                    <p>
                        <b>1. Pirate Base Capture:</b><br>
                        The capture of 25 pirate bases severely hinders the operational capacity of the Kersey Association.<br>
                        <br>
                        <b>2. Enemy Ship Losses:</b><br>
                        The destruction of 6.1 million tons of pirate warships significantly weakens their military capabilities.<br>
                        <br>
                        <b>B. Challenges</b><br>
                        <br>
                        <b>1. Remaining Targets:</b><br>
                        The withdrawal of the remaining pirate targets necessitates ongoing efforts to neutralize hidden threats.<br>
                        <br>
                        <b>2. Friendly Losses:</b><br>
                        The loss of 3.5 million tons of INTERCEPT Forces' assets is a setback that requires strategic reassessment.
                    </p>
                    <br>
                </div>
                <div class="column" style="width: 50%; margin-bottom: 0; border-left: initial;">
                    <b>V. Future Considerations</b><br>
                    <br>
                    <p>
                        <b>A. Intelligence Operations</b><br>
                        <br>
                        <b>1. Unveiling Hidden Targets:</b><br> Ongoing intelligence efforts are crucial for uncovering the whereabouts of the remaining pirate bases.<br>
                        <br>
                        <b>2. Strategic Realignment:</b><br> Evaluate and adjust our strategies to address the evolving tactics of the Kersey Association.<br>
                        <br>
                        <b>B. Rebuilding and Strengthening</b><br>
                        <br>
                        <b>1. Recovery Operations:</b><br> Undertake efforts to recover and repair damaged assets.<br>
                        <br>
                        <b>2. International Cooperation:</b><br> Strengthen collaboration among participating nations to bolster future joint operations.
                    </p>
                </div>
                <hr>
                <div class="column" style="width: 100%; margin-bottom: 0; border-left: initial;">
                    <b>VI. Conclusion</b><br>
                    <br>
                    <p>
                        Operation War Harvest '24, while successful in dismantling a significant portion of the Kersey Association's infrastructure, presents ongoing challenges.
                        The INTERCEPT Forces remain vigilant, committed to ensuring the security and stability of the Sol System against piracy threats.
                    </p>
                    <p>
                        <span class="headline hl4">*Note: This report is classified and intended for authorized recipients only.*</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="head">
                <span class="headline hl1">Editorial Team Statement</span>
                <p>
                    <span class="headline hl6">Chicago Tribune</span>
                </p>
            </div>
            <p>
                As the Editorial Team at the Chicago Tribune, we find ourselves compelled to address the remarkable events unfolding in the vast expanse of our cosmic backyard. The
                leaked document
                detailing Operation War Harvest '24 provides a rare glimpse into the intricacies of interstellar warfare and the collaborative efforts undertaken to safeguard our
                solar domain.<br>
                <br>
                This revelation underscores the critical role of transparency in ensuring the accountability of our global military endeavors. We, at the Chicago Tribune, are
                committed to
                providing our readers with unbiased, comprehensive coverage to facilitate informed public discourse on matters of universal importance.
            </p>
            <p>
                <span class="headline hl6">Local Reports - Unveiling the Human Side</span>
            </p>
            <p>
                In the aftermath of Operation War Harvest '24, our team of local reporters brings you firsthand accounts and intimate narratives from the communities directly
                affected by this interstellar conflict.<br>
                From the courageous actions of local defense forces to the resilience of civilians facing the repercussions, these reports aim to humanize the broader
                narrative.<br>
                <br>
                Stay tuned for insightful glimpses into the lives of those on the front lines, as we bring you short reports and updates, shedding light on the impact of this
                unprecedented operation on our local communities.

            </p>
        </div>
    </div>
    <hr>
    <div class="columns">
        <div class="column five-col">
            <p>
                <b>From: Kaiserreich Manticore</b><br>
                <br>
                The INTERCEPT Flottenkampfgruppe 1 und INTERCEPT Flottenkampfgruppe 2 will be prepared in order to participate in these multinational operation.<br>
                <br>
                The small frigates scout vessels SMS Waldmeister (as Aufklärung 1) and SMS Loreley (as Aufklärung 2) will investigate the fortified systems Talmu and 2MASS
                J46763136+ 2133537 in
                the galactic west respectively south-east.<br>
                <br>
                Both combat groups have an anchor in an old Bellerophon class battle cruiser with a bunch of around ten escorte cruisers and a half-division of destroyers.<br>
                <br>
                The S.k.M. High Command expects to tear down any resistance without a single shot - no single pirate group can fight what is coming over them.<br>
                <br>
                We expect the combat around Tick 247 and 248.<br>
                The victory announcement will be made by Seine kaiserliche Majestät höchstpersönlich - his navy, his proud!<br>
                <br>
                i.A. S.k.M. Ragar Odinson,<br>
                Vizeadmiral Helmut Ravenheim,<br>
                Vorwärtsverteidigungsstreitkräft,<br>
                Verbindungsstelle INTERCEPT,<br>
                Abteilung aktive Pirateriebekämpfung
            </p>
        </div>
        <div class="column five-col">
            <p>
                <b>From: Union of Arch</b><br>
                <br>
                From Union of Arch Space Rangers Command to Vorwärtsverteidigungsstreitkräft, INTERCEPT<br>
                <br>
                Be advised that scouting units of the Arch Space Rangers will be active in and around 2MASS J46763136+ 2133537. No target decision has been made yet.<br>
                <br>
                Grand Space Marshal Gergory Maisonneuve;
                COM Arch Space Rangers
            </p>
            <p>
                <b>From: Orgelons</b><br>
                <br>
                The First Speaker has directed to our colony Hypatia in the system AG+42 5822 a small detachment, 7 warships totaling 2 million tons mass, able to fire a broadside
                of 120 missiles.<br>
                <br>
                The detachment is now advancing on the Scharteke pirates. In the dark reaches of the Imperial Capital, there is a large betting pool on whether they will win or
                whether the usual level of graft and corruption meant, for example, that the ships in the detachment had no weapons.<br>
            </p>
            <p>
                <b>From: A periphery queendom</b><br>
                <br>
                ESDF forces are getting ready to attack their first target, reports should be in in a tick.<br>
            </p>
            <p>
                <b>From: Orgelons</b><br>
                <br>
                Our Fleet INTERCEPT 3 reached Tomlinson orbit. They went into combat with a pirate fleet at this location.<br>
                At the end of combat, 6 pirate ships were destroyed.<br>
                Tragically, all of our ships also suffered indeterminate amounts of damage.<br>
                The fleet was ordered to return home for repairs and enhancements to its missile stocks.
            </p>
        </div>
        <div class="column five-col">
            <p>
                <b>From: A periphery queendom</b><br>
                <br>
                Sadly, our operation was an unmitigated disaster. All ESDF reinforcements were lost.
            </p>
            <p>
                <b>From: Star Empire of Solan</b><br>
                <br>
                From INTERCEPT RSSN COMTAF-1 to INTERCEPT Central Command; all INTERCEPT Command; RSSN Admiralty House<br>
                <br>
                Operation Himalaya successful. All Schertake units in Basilisk incapacitated or destroyed. No own losses. Planetary orbit secured.<br>
                <br>
                The strike force consisted of the main elements of TF 1.<br>
                <br>
                RSSN Empire (flag)<br>
                RSSN Shambleau<br>
                RSSN Heinlein<br>
                RSSN Clarke<br>
                RSSN Asimov<br>
                RSSN Brackett<br>
                <br>
                Oposition consisted of Cruisers and Destroyers/Corvettes. The exchange was conducted in a closing range manner with limited missile salvo deployment. When the first
                full salvo of
                TF 1 hit, all enemy units were incapacitated. Laser and graser pacified remaining resistance.<br>
                <br>
                Minor to mid lavel damage was suffered on 5 units of TF1. Rearrangement of units will happen according to plan and INTERCEPT TF 1.1 elements will move in from the
                hyperlimit to
                secure the orbit of Himalaya.<br>
                <br>
                Hail to the Queen<br>
                <br>
                COMTAF-1 RDML N.C. Ballard, INTERCEPT
            </p>
        </div>
        <div class="column five-col">
            <p>
                <b>From: Union of Arch</b><br>
                <br>
                This is a day of tragedy and fortune. I am sorry to hear about the losses suffered and I congratulate to the great success.<br>
                <br>
                That being said, I have recieved the reports of the Space Marshall's office just now.<br>
                <br>
                INTERCEPT Arch Rangers 1 has successfully pacified the Barnett system and is controlling the orbit around Vespasien.<br>
                <br>
                The battle was a raging one, against six Scharteke ships, light cruisers and their screen. It was the longest battle I have ever witnessed,
                the fleets moving past each other to swing around for another pass! Missile exchange, which reduced the enemy to three.
                Then beams were exchanged on the pass, then missiles again... That must have been a gruesome experience from the deck.
                I am not a navy man myself, but I needed a drink after watching this!<br>
                <br>
                In the end the Arch Ranger came out victorious with no complete loss. However, all but one ship suffered damage and will need repairs.
            </p>
            <p>
                <b>From: Drakos Stellar Dominion</b><br>
                <br>
                Today we lost a lot of ships and fleets. Four of them were destroyed but at least one was successfull.
                We will name new ships after them to keep them in our beloved memory.<br>
                <br>
                To celebrate the success, we claim "Saraqael, Congo" for our empire, conquered by: INTERCEPT Congo.
            </p>
            <p>
                <b>From: Drakonis Kombinat</b><br>
                <br>
                Intercept Corben 1 was defeated 4 vs 6 ships. I lost all. The enemey lost 3 Ships.<br>
                Tomorrow Intercept Corben 3 will arrive in Hilt 832 and finish what Intercept Corben 1 started.<br>
                <br>
                Intercept Corben 2 will arrive tomorrow.
            </p>
        </div>
        <div class="column five-col">
            <p>
                <b>From: Kaiserreich Manticore</b><br>
                <br>
                These are hard losses, yours, Highest Commander Yufiels and the ones of the First Speaker and Shannon Foraker's.<br>
                <br>
                In the name of the combined efforts our nations I hope, that we will defeat Kersey.<br>
                <br>
                The Intercept Flottenkampfgruppe 3 has defeated Kersey guards at Swallow in HIC 1698 without a loss. The crews were trainied due hard combats against Supreme
                Architect of the
                Stellar Dominion Drakos and endofline.
            </p>
            <p>
                <b>From: Drakos Stellar Dominion</b><br>
                <br>
                Against the backdrop of the Cerberus system, my fleet orchestrated a cosmic ballet of destruction, culminating in the triumphant subjugation of the once-mighty
                defenses guarding the precious jewel of La Martine.<br>
                Amidst the celestial chaos, the conquered planet bore witness to the overwhelming might of my victorious armada,
                its once defiant skies now draped in the echoes of a resounding cosmic conquest.<br>
                <br>
                My INTERCEPT Cerberus liberated the plant 'La Martine'.
            </p>
            <p>
                <b>From: Star Empire of Solan</b><br>
                <br>
                INTERCEPT Task Force 2, consisting of the battlcruiser Empire, accompanied by the heavy cruisers Shambleau, Asimov and Clarke liberated New Tuscany in 3A
                5348+546.<br>
                <br>
                Marines are in the process of securing the government towers and will arrest identified Kersey elements within the civilian government.<br>
                A temporary royal administrator is overseeing the transition of administration. It is expected that the planet will gladly join the royal domain.
            </p>
        </div>
    </div>
</div>

</body>
</html>
