<app-base-module-display [moduleInput]="moduleInput.baseModule" [amountInput]="amountInput" [alignmentInput]="alignmentInput">
    <div class="flex-items-container">
        <mat-form-field appearance="fill" class="short-field">
            <mat-label>Weapon type</mat-label>
            <input matInput disabled value="{{moduleInput.weaponType}}">
        </mat-form-field>

        <mat-form-field appearance="fill" class="short-field">
            <mat-label>Effective range</mat-label>
            <input matInput disabled value="{{getRange(moduleInput.ammunitionModule.missile)}}">
        </mat-form-field>

        <mat-form-field appearance="fill" class="short-field">
            <mat-label>Effective damage</mat-label>
            <input matInput disabled value="{{moduleInput.baseModule.effectValue}}">
        </mat-form-field>

        <mat-form-field appearance="fill" class="short-field">
            <mat-label>Weapon type</mat-label>
            <input matInput disabled value="{{moduleInput.weaponType}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Alignments</mat-label>
            <input matInput disabled value="{{moduleInput.alignmentTypes}}">
        </mat-form-field>
    </div>
    <app-ammunition-module-display *ngIf="!!moduleInput.ammunitionModule"
                                   [moduleInput]="moduleInput.ammunitionModule"></app-ammunition-module-display>
</app-base-module-display>

