<div class="combat-outline">
    <div class="combat-info-div">
        <app-fleet-round-state *ngFor="let fleet of green"
                               [fleet]="fleet"
                               [combatArenaData]="combatArenaData"
                               [activeRound]="activeRound"
                               [hoveredWarship]="hoveredWarship"
                               [clickedFleet]="clickedFleet"></app-fleet-round-state>
        <app-fleet-round-state *ngFor="let fleet of red"
                               [fleet]="fleet"
                               [combatArenaData]="combatArenaData"
                               [activeRound]="activeRound"
                               [hoveredWarship]="hoveredWarship"
                               [clickedFleet]="clickedFleet"></app-fleet-round-state>
    </div>
    <div id="arena">
        <!-- svg elements will be created programmatically -->
    </div>
</div>
