
.left-combat-info-div, .right-combat-info-div {
  position: absolute;
  margin-top: 8%;
  z-index: 1;
  display: flex;
}

.left-combat-info-div {
  left: 15px;
}

.right-combat-info-div {
  right: 15px;
}

app-fleet-round-state {
  height: 50%;
  display: block;
}

.zoom-scale-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 150px;
  display: flex;

  & app-map-zoom-scale {
    margin: auto;
  }
}

.bigger-distance {
  right: 350px;
}

