<div class="combat-outline" [class.invertColor]="tokenStorage.isGeorge()">
    <div class="combat-info-div">
        <app-fleet-round-state *ngFor="let fleet of green"
                               [fleet]="fleet"
                               [combatArenaData]="combatArenaData"
                               [activeRound]="activeRound"
                               [hoveredWarship]="hoveredWarship"
                               [clickedFleet]="clickedFleet"></app-fleet-round-state>
        <app-fleet-round-state *ngFor="let fleet of red"
                               [fleet]="fleet"
                               [combatArenaData]="combatArenaData"
                               [activeRound]="activeRound"
                               [hoveredWarship]="hoveredWarship"
                               [clickedFleet]="clickedFleet"></app-fleet-round-state>
    </div>
    <div id="main"></div>
    <div id="arena">
        <!-- svg elements will be created programmatically -->
    </div>
    <div class="zoom-scale-container">
        <app-map-zoom-scale [zoomScale]="zoomScale" [width]="viewBoxWidth" [height]="viewBoxHeight"></app-map-zoom-scale>
    </div>
</div>
