
.info-div {
  position: absolute;
  top: 15px;
}

.left-block {
  left: 15px;
}

.right-block {
  right: 15px;
}

svg {
  height: 100%;
  width: 100%;
}

.beamVolley {
  stroke: yellow;
  stroke-width: 1;
  stroke-dasharray: 4;
  animation: move 1s linear infinite;
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
