<div class="combat-outline" [class.invertColor]="tokenStorage.isGeorge()">
    <app-fleet-round-state *ngIf="showGreen"
                           class="left-combat-info-div"
                           [fleet]="green"
                           [combatArenaData]="combatArenaData"
                           [activeRound]="activeRound"
                           [hoveredWarship]="hoveredWarship"
                           [clickedFleet]="clickedFleet"></app-fleet-round-state>
    <app-fleet-round-state *ngIf="showRed"
                           class="right-combat-info-div"
                           [fleet]="red"
                           [combatArenaData]="combatArenaData"
                           [activeRound]="activeRound"
                           [hoveredWarship]="hoveredWarship"
                           [clickedFleet]="clickedFleet"></app-fleet-round-state>

    <div id="main"></div>
    <div id="arena" [cdkContextMenuTriggerFor]="radialMenuTrigger.menu">
        <!-- svg elements will be created programmatically -->
    </div>
    <div class="zoom-scale-container" [class.bigger-distance]="showRed">
        <app-map-zoom-scale [zoomScale]="zoomScale" [width]="viewBoxWidth" [height]="viewBoxHeight"></app-map-zoom-scale>
    </div>
</div>


<app-radial-menu #radialMenuTrigger [menuItems]="menuItemsModel" (menuItemClick)="menuClicked($event)"></app-radial-menu>
