.combat-outline {

}

.info-div {
  position: absolute;
  top: 15px;
}

.left-block {
  left: 15px;
}

.right-block {
  right: 15px;
}

.orbit {
  stroke: darkgray;
  stroke-width: 1;
}

.hyper-limit {
  stroke: darkblue;
  stroke-width: 1;
}

svg {
  height: 100%;
  width: 100%;
}

.roundCap {
  stroke-linecap: round;
}
