@import "src/styles/variables";

#notch-content {
  border: $metal-glance 1px solid;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#notch-actions {

}

.pointer-events {
  pointer-events: auto;
}

.tile {
  background-color: $secondary-background-color;
}