<div id="notch-content" class="pointer-events red-box"
     [class.invertColor]="tokenStorage.isGeorge()"
     *ngIf="actionPossible()">

    <app-fleet-notch-display-list *ngIf="displayActive()"></app-fleet-notch-display-list>

    <app-fleet-notch-info *ngIf="displayInfo"></app-fleet-notch-info>

    <app-fleet-notch-move [stellarMode]="commService.stellarMode" *ngIf="displayMove"></app-fleet-notch-move>

    <app-fleet-notch-merge *ngIf="displayMerge"></app-fleet-notch-merge>

    <app-fleet-notch-transport *ngIf="displayTransport"></app-fleet-notch-transport>
</div>
