@import "src/styles/variables";

#notch-content {
  border: $metal-glance 1px solid;
  border-radius: 5px;
  margin-bottom: 25px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#notch-actions {

}

.pointer-events {
  pointer-events: auto;
}

.fleet-notch-group, .tile {
  background-color: $secondary-background-color;
}

app-fleet-notch-display {
  height: 100px;
}

mat-card {
  max-height: 500px;
  overflow-y: scroll;
}

