<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-accordion>
        <div *ngFor="let route of routes" class="nav-element">
            <mat-list-option *ngIf="!route.data"
                             (click)="navigate(route)"
                             [selected]="(!navService.activeRoute && afterLoginPath === route.path) || (!!navService.activeRoute && navService.activeRoute.path === route.path)">
                {{ 'path.menu.' + route.path | translate }}
                <mat-icon *ngIf="hasUnread.indexOf(route.path!) != -1">mail</mat-icon>
            </mat-list-option>

            <div class="sidenav-expansion-panel">
                <mat-expansion-panel *ngIf="isLoggedIn && !!route.data && !!route.data['sidenav']"
                                     [class.mat-elevation-z0]="true"
                                     [expanded]="isSelected(route.path!)">
                    <mat-expansion-panel-header>
                        {{ 'path.menu.' + route.path | translate }}
                    </mat-expansion-panel-header>
                    <ng-container *ngComponentOutlet="route.data['sidenav'];"></ng-container>
                </mat-expansion-panel>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-accordion>

</mat-selection-list>
