@import "src/styles/variables";

.avatar-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

button {
  margin-right: 15px;
}

.content-area {
  width: 80%;
}

.ally-card {
  margin: 25px 25px;
}
