<div class="side-nav-open-change-area-fixed"></div>
<div class="bottom-spacer">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let research of completedResearches"
                             class="margin-bottom"
                             (opened)="setOpened(research)"
                             (closed)="setClosed(research)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img mat-card-avatar class="avatar-image icon"
                         src="{{getLink(research)}}"
                         [ngClass]="getInvisibility(research)">
                    {{research.research.name}}
                </mat-panel-title>
                <mat-panel-description *ngIf="showDescription(research)">
                    {{research.research.description}}
                </mat-panel-description>
                <p style="margin-right: 15px;">Current Level: {{research.level}}</p>
            </mat-expansion-panel-header>
            <app-research-display [research]="research.research"></app-research-display>
        </mat-expansion-panel>
    </mat-accordion>
</div>
