<div *ngIf="scopeService.openTopic?.uuid === uuid">

    <h4>Overview</h4>
    <p>In order to gain influence in the ranks of emperors and kings it is necessary to project power.<br>
        As long as power comes from warships, two planets can maintain more shipyard capacity than one.</p>

    <h5>Colonizations</h5>
    <p>A colonization is simple, you've done one not long ago. Take a ship, pack some people and constructions and boldy go, where no one has gone before.<br>
        Hopefully, because if you are try to land with an unarmed ship somewhere... </p>

    <h5>Planned colonizations</h5>
    <p>A colonization is an expensive project.<br>
        It takes some time until your people are moved to your home world. If everyone is present, the ship will start.</p>
</div>
