<mat-grid-list cols="{{maxDepth}}" rowHeight="64px">
    <div class="inner" *ngFor="let idResearches of idResearchesByDepth; let i = index; ">
        <mat-grid-tile *ngFor="let idResearch of idResearches">
            <div *ngIf="!!getResearch(idResearch)">
                <mat-chip-option class="research-chip no-checkmark"
                                 selectable="false"
                                 [selected]="isCompleted(idResearch)"
                                 [matTooltip]="getResearch(idResearch)!.description">
                    <img matChipTrailingIcon class="avatar-image icon" src="{{getLink(idResearch)}}" alt="{{getResearch(idResearch)!.name}}">
                    {{getResearch(idResearch)!.name}}
                </mat-chip-option>
                <!-- todo find usage for beautiful amendments
                <mat-grid-tile-header>header test</mat-grid-tile-header>
                <mat-grid-tile-footer>footer test</mat-grid-tile-footer>
                -->
            </div>
        </mat-grid-tile>
    </div>
</mat-grid-list>

