@import "src/styles/variables";

.research-chip {
  width: 250px;
  height: auto !important;
}

.completed-research {
  background-color: $success;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 15px;
}
