<app-chip-selector multiple noCheckmark preSelect
                   titleValue="Hull types"
                   [chipValues]="eHullTypeChipValues"
                   (chipValuesChange)="filterDisplayedItems($event)"></app-chip-selector>

<mat-vertical-stepper animationDuration="500ms">
    <mat-step>
        <ng-template matStepLabel>
            <div *ngIf="!hullSelection">Hulls</div>
            <div *ngIf="!!hullSelection">{{hullSelection.name}}</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.mandatory.hull' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>

            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let hull of hulls"
                                 [ngStyle]="{'display':( !isSelected(hull) ? 'none' : '')}"
                                 [disabled]="!isSelected(hull)"
                                 (selectedChange)="chooseHull(hull)"
                                 (mouseover)="hoverHull(hull)"
                                 (mouseout)="hoverHull()">
                    {{hull.name}}
                </mat-list-option>
            </mat-selection-list>

            <app-hull-display [hullInput]="hoveredHull"></app-hull-display>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Offensive weapon systems</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.weapons' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <app-weapons-counter (weaponSelectionOutput)="chooseWeapon($event)" *ngFor="let weapon of filteredWeapons"
                                 [startAt]="getWeaponSelection(weapon)"></app-weapons-counter>
            <app-launcher-counter (weaponSelectionOutput)="chooseWeapon($event)" *ngFor="let launcher of filteredLaunchers"
                                  [startAt]="getWeaponSelection(launcher)"></app-launcher-counter>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Armor</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.armor' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <app-armor-module-selector (selectionOutput)="chooseArmor($event)" *ngFor="let armor of filteredArmors"
                                       [moduleSelectedInput]="armorSelection"
                                       [moduleInput]="armor"></app-armor-module-selector>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Sidewall</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.sidewall' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <app-sidewall-module-selector (selectionOutput)="chooseSidewall($event)" *ngFor="let sidewall of filteredSidewalls"
                                          [moduleSelectedInput]="sidewallsSelection"
                                          [moduleInput]="sidewall"></app-sidewall-module-selector>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Propulsion</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.mandatory.propulsion' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <app-propulsion-module-selector (selectionOutput)="choosePropulsion($event)" *ngFor="let propulsion of filteredPropulsions"
                                            [moduleSelectedInput]="propulsionSelection"
                                            [moduleInput]="propulsion"></app-propulsion-module-selector>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Electronic warfare</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.eloka' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <app-eloka-module-selector (selectionOutput)="chooseEloka($event)" *ngFor="let electronicWarfare of filteredEloka"
                                       [moduleSelectedInput]="elokaSelection"
                                       [moduleInput]="electronicWarfare"></app-eloka-module-selector>
        </ng-template>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>
            <div>Support loadout</div>
            <div class="mat-step-optional ng-star-inserted">{{ 'shipyard.fitting.not-selected.warship-needs.support' | translate }}</div>
        </ng-template>
        <ng-template matStepContent>
            <app-passive-module-counter (amount)="choosePassiveModule($event, passive)" *ngFor="let passive of passiveModules"
                                        [startAt]="getPassiveModuleAmount(passive)"
                                        [moduleInput]="passive"></app-passive-module-counter>
        </ng-template>
    </mat-step>
</mat-vertical-stepper>
