@import "src/styles/variables";
@import "src/styles/markdown-editor";

#new-thread-field {
  display: table-caption;
}

#thread-title,
#thread-description,
#new-forum-thread-message {
  margin: 0 25px 0 25px;
}

#message-text {
  height: 200px;
}

#new-thread-field {
  display: flex;
  flex-direction: column;
}


.title-field, .description-field {
  width: 80%;
}

.header {
  text-transform: lowercase;
}

.header::first-letter {
  text-transform: uppercase;
}

.dialog-actions {
  float: right;
}

* {
  color: $body-text-color;
}
