<div id="new-thread-field">
    <form [formGroup]=newThreadFG>
        <mat-form-field appearance="fill" id="thread-title" class="description-field">
            <mat-label>New thread's title</mat-label>
            <input matInput formControlName=newThreadsTitle placeholder="New thread's title" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field appearance="fill" id="thread-description" class="description-field">
            <mat-label>New thread's description</mat-label>
            <input matInput formControlName=newThreadsDescription placeholder="New thread's description" autocomplete="off">
        </mat-form-field>
        <angular-markdown-editor
                textareaId="message-text"
                [rows]="10"
                formControlName="firstMessage"
                [options]="editorOptions"
                class="angular-markdown-editor-minimalistic">
        </angular-markdown-editor>
    </form>
</div>
