#new-thread-field {
  display: table-caption;
}

#thread-title,
#thread-description,
#thread-message {
  margin: 0 25px 0 25px;
}

#thread-message {
  width: 500px;
}

#message-text {
  height: 200px;
}
