@import "src/styles/variables";

.payBox {
  margin-right: 25px;
}

.max-width {
  width: 100%;
}

.with-margin-right {
  margin-right: 10px;
}

.first-header-row th {
  border-bottom: none;
}

tr.expandable-detail-row {
  height: 0;
}

.expandable-element-row td {
  border-bottom-width: 0;
}

.expandable-element-detail {
  display: flex;
  overflow-y: scroll;
}

mat-mdc-list {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-mdc-list-item-content, .mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-base .mat-mdc-list-option {
  height: 85px;
}

.planet-card {
  width: 90%;
}

