<div class="flex-items-container">
    <mat-form-field appearance="outline">
        <mat-label>Intended for ship class</mat-label>
        <input matInput disabled value="{{module?.baseModule?.shipClassType?.typeName}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Effect value</mat-label>
        <input matInput disabled value="{{module?.baseModule?.effectValue}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tonnage</mat-label>
        <input matInput disabled value="{{ module?.baseModule?.tonnage | mass: 'T' }}">
    </mat-form-field>
</div>
