<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{moduleInput.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{moduleInput.description}}
            </mat-panel-description>
            <mat-radio-button *ngIf="!!radioGroupName" id="{{getCssId(moduleInput)}}"
                              [name]="radioGroupName"
                              (click)="emitSelection(); $event.stopPropagation();"></mat-radio-button>
        </mat-expansion-panel-header>
        <div class="flex-items-container">
            <mat-form-field appearance="fill" class="short-field">
                <mat-label>Effect value</mat-label>
                <input matInput disabled value="{{moduleInput.effectValue}}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="short-field">
                <mat-label>Tech Level</mat-label>
                <input matInput disabled value="{{moduleInput.techLevel}}">
            </mat-form-field>

            <mat-form-field appearance="fill" class="short-field">
                <mat-label>Capacity usage</mat-label>
                <input matInput disabled value="{{moduleInput.useCapacity}}">
            </mat-form-field>
        </div>
        <ng-content></ng-content>
    </mat-expansion-panel>
</mat-accordion>