<div class="bottom-spacer content-area height-fit-content-forced">
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let planet of planets" class="margin-bottom">
            <mat-expansion-panel-header>
                <mat-panel-title matTooltip="{{ 'transportation.human-resources.help' | translate }}">
                    <app-icon matListItemAvatar png24px planet></app-icon>
                    {{planet.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <div *ngIf="planet.isMain">Main planet</div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-resource-display [deposit]="deposits.get(planet.idPlanet)" [showTick]="false"></app-resource-display>

            <div class="flex-items-container">
                <app-transportation-humans-demand [planet]="planet" (demandEmitter)="setDemand($event)"></app-transportation-humans-demand>
                <app-transportation-humans-delivery [planet]="planet" (deliveryEmitter)="setDelivery($event)"></app-transportation-humans-delivery>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
