<div class="bottom-spacer content-area height-fit-content">
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let planet of planets" class="example-box">
            <mat-expansion-panel-header>
                <mat-panel-title matTooltip="{{ 'transportation.human-resources.help' | translate }}">
                    <img mat-list-avatar src="assets/icons/planets/png24x/planet_c.png">
                    {{planet.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <div *ngIf="planet.isMain">Main planet</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-items-container">
                <app-transportation-humans-demand [planet]="planet" (demandEmitter)="setDemand($event)"></app-transportation-humans-demand>
                <app-transportation-humans-delivery [planet]="planet" (deliveryEmitter)="setDelivery($event)"></app-transportation-humans-delivery>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>