.spacer {
  flex: 1 1 auto;
}

#version {

}

#nav-bar {
  background-image: var(--top-line-image);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.centered-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
