.spacer {
  flex: 1 1 auto;
}

#version {

}

#nav-bar {
  background-image: var(--top-line-image);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.centered-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.santa {
  pointer-events: none;
  transform: rotate(45deg);
  width: 45px;
  background: transparent;
  position: absolute;
  top: -11px;
  right: -32px;
}

.bfh-logo {
  height: 50px;
  transition: 2s;
  z-index: 100;
  position: relative;
}

.bfh-logo:hover {
  transform: scale(4) translate(55px, 35px);
}

