<mat-toolbar color="primary" id="nav-bar">
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More...">
        <mat-icon class="centered-icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let route of routes" (click)="navigate(route)">
            <mat-icon>menu_book</mat-icon>
            <span>{{ 'burger-menu.' + route.path | translate }}</span>
        </button>
        <a mat-menu-item href="{{ honorverseMapPath }}" target="_blank">
            <mat-icon>menu_book</mat-icon>
            <span matListItemLine>{{ 'burger-menu.external-star-map-manager' | translate }}</span>
        </a>
    </mat-menu>
    <button mat-flat-button color="primary" routerLink='/home' style="font-size: 1.1rem;">
        Battle for Honor
        <img *ngIf="showSantasHat" src="/assets/special/Hat_of_Santa.svg" alt="santa's hat" class="santa">
    </button>

    <span class="spacer"></span>
    <div *ngIf="!!currentTickService.currentTick">{{ 'tick.current' | translate }} {{currentTickService.currentTick.tickNo}}</div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleDarkMode()">
        <mat-icon *ngIf="isDark" class="centered-icon">light_mode</mat-icon>
        <mat-icon *ngIf="!isDark" class="centered-icon">dark_mode</mat-icon>
    </button>
    <button mat-flat-button color="primary" *ngIf="!!applicationInfo" disabled>
        {{applicationInfo.applicationVersion}}
    </button>
    <button mat-flat-button color="primary" routerLink='/register' *ngIf='!isLoggedIn'>
        {{ 'path.button.register' | translate }}
    </button>
    <button mat-flat-button color="primary" routerLink='/login' *ngIf='!isLoggedIn'>
        {{ 'path.button.login' | translate }}
    </button>
    <button mat-flat-button color="primary" routerLink='/admin' *ngIf='isLoggedIn && isAdmin'>
        {{ 'path.button.admin' | translate }}
    </button>
    <button mat-icon-button routerLink='/profile' *ngIf='isLoggedIn' matTooltip="{{ 'path.button.profile' | translate }}">
        <img mat-card-avatar class="avatar-image" src="assets/icons/user/{{ profilePic }}.png" alt="member icon">
    </button>
    <button mat-icon-button (click)='logout()' *ngIf='isLoggedIn' matTooltip="{{ 'path.button.logout' | translate }}">
        <mat-icon mat-card-avatar>logout</mat-icon>
    </button>
</mat-toolbar>
