<div class="content-area" [ngStyle]="{'background-color':( _transparent ? 'transparent' : '')}" *ngIf="!!left && !!right">
    <div class="clearfix">
        <div class="title-holder clearfix">
            <div class="the-left">
                <p>{{fleet?.name}}</p>
            </div>
            <div class="the-right">
                <p>{{planet?.name}}</p>
            </div>
            <div class="the-right">
                <mat-icon matListItemIcon class="margin-l-r" [inline]="true">keyboard_double_arrow_left</mat-icon>
                <mat-icon matListItemIcon class="margin-l-r" [inline]="true">keyboard_double_arrow_right</mat-icon>
            </div>
        </div>
        <app-outlined titleValue="Fleet loading capacity">
            <mat-progress-bar
                    mode="determinate"
                    value="{{ usedCapacity / initialFreeCargoCapacity }}"
                    matTooltip="{{ usedCapacity | numberShort }} / {{ initialFreeCargoCapacity | numberShort }}"></mat-progress-bar>
        </app-outlined>
    </div>

    <div class="clearfix payload" *ngIf="!!left && !!right">
        <div [ngClass]="{'the-left': floatingStyle}">
            <div *ngFor="let resource of resourceTypes">
                <app-single-resource-transfer
                        [resourceType]="resource"
                        [limitLeft]="freeCapacity"
                        [leftDeposit]="left"
                        [rightDeposit]="right"
                        (amountChange)="setAmount($event, resource)">
                </app-single-resource-transfer>
            </div>
        </div>

        <div [ngClass]="{'the-right': floatingStyle}">
            <div *ngFor="let resource of educationTypes">
                <app-single-resource-transfer
                        [resourceType]="resource"
                        [limitLeft]="freeCapacity"
                        [leftDeposit]="left"
                        [rightDeposit]="right"
                        (amountChange)="setAmount($event, resource)">
                </app-single-resource-transfer>
            </div>
        </div>

        <div class="the-right spacer" *ngIf="floatingStyle">
        </div>
    </div>
    <div actions matTooltip="{{ 'transport.manual.transfer-btn.tooltip' | translate }}" class="tooltip-container">
        <button mat-raised-button color="secondary"
                (click)="transfer()"
                [disabled]="!transferSelected()">{{ 'transport.manual.transfer-btn.title' | translate }}</button>
    </div>
</div>
