.content-area {
  max-width: 800px;
}

.payload {
  margin-top: 15px;
}

.the-left {
  float: left;
}

.the-right {
  float: right;
}

.icon {
  margin-right: 15px;
}

.margin-l-r {
  margin: 0 25px;
}

.spacer {
  width: 50px;
}

.title-holder {
  margin-bottom: 25px;
  width: 100%;
  height: 25px;
}

.mar-both {
  margin: 0 15px;
}