<div>
    <button mat-icon-button (click)="setLeft()" [disabled]="disabled || disabledLeft">
        <mat-icon mat-list-icon class="margin-l-r" [inline]="true">keyboard_double_arrow_left</mat-icon>
    </button>
    <mat-slider
            [disabled]="disabled"
            [thumbLabel]="thumbLabel"
            [min]="leftAvailableValue"
            [max]="rightAvailableValue"
            step="1"
            [(ngModel)]="amount"
            (mouseup)="mouseup()"
            (input)="input($event.value)">
    </mat-slider>
    <button mat-icon-button (click)="setRight()" [disabled]="disabled || disabledRight">
        <mat-icon mat-list-icon class="margin-l-r" [inline]="true">keyboard_double_arrow_right</mat-icon>
    </button>
</div>
