<div *ngIf="!!destination && fleetsForMove.length > 0">
    <mat-card>
        <div mat-subheader>{{ 'fleets.movement.select-for-move.title' | translate }} {{destinationRepresentation}}</div>
        <div *ngFor="let fleet of fleetsForMove">
            <mat-card-header>
                <div *ngIf="!isSameOrbit(fleet)">
                    <mat-checkbox (change)="selectForFlight($event.checked, fleet)" [checked]="fleetsDesignatedForMotion.includes(fleet)">
                        <div *ngIf="!!plannedMovements">
                            {{fleet.name}} {{ 'fleets.movement.select-for-move.checkbox' | translate }} in {{getTicks(fleet)}} ticks
                        </div>
                        <div *ngIf="!plannedMovements">
                            {{fleet.name}} {{ 'fleets.movement.select-for-move.checkbox' | translate }}
                        </div>
                    </mat-checkbox>
                </div>
            </mat-card-header>
        </div>
    </mat-card>
</div>
<div *ngIf="fleetsForCancel.length > 0">
    <mat-card>
        <div mat-subheader>{{ 'fleets.movement.select-for-cancel.title' | translate }} {{destinationRepresentation}}</div>
        <div *ngFor="let fleet of fleetsForCancel">
            <mat-card-header>
                <mat-checkbox (change)="selectForCancel($event.checked, fleet)" [checked]="fleetsDesignatedForCancel.includes(fleet)">
                    <div *ngIf="!!plannedMovements">
                        {{fleet.name}} {{ 'fleets.movement.select-for-cancel.checkbox' | translate }} in {{getTicksLeft(fleet)}} ticks
                    </div>
                    <div *ngIf="!plannedMovements">
                        {{fleet.name}} {{ 'fleets.movement.select-for-cancel.checkbox' | translate }}
                    </div>
                </mat-checkbox>
            </mat-card-header>
        </div>
    </mat-card>
</div>