@import "src/styles/variables";

.title-block {
  position: relative;
}

.name-input {
  cursor: text;
}

.name-input .mat-mdc-form-field-suffix {
  top: 8px;
  margin-left: 25px;
}

.rename-element .mat-mdc-form-field-underline {
  bottom: 0;
}

.rename-element .mat-mdc-form-field,
.rename-element .mat-mdc-card-header-text {
  width: 350px;
}

.name-input .mat-mdc-form-field-infix {
  border-top: 0;
}

.name-input .mat-mdc-form-field-flex {
  padding-top: 0 !important;
}

.name-input .mat-mdc-form-field-wrapper {
  padding-bottom: 0;
}

app-spacecraft-state-block-display {
  margin-left: 25px;
}

.retire-fleet-btn {
  position: relative;
  left: 90%;
}

.retire-ship-btn {

}

.retire-icon {
  //color: $warning-color;
}

.ship-content {
  width: 350px;
}

mat-card-actions {
  margin-top: 25px;
}


.ship-list {
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ship-list .mat-mdc-list-item {
  margin-left: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

mat-list-item {
  position: relative;
}

app-spacecraft-state-block-display {
  position: absolute;
  top: 15px;
  right: 25px;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 15px;
}

.height-fit-content-forced {
  margin: 5px 0;
}

