<div mat-subheader *ngIf="!!fleetsInOrbit && fleetsInOrbit.length == 0">{{ 'planetary.fleets-in-orbit.not-present' | translate }}</div>
<mat-accordion>
    <mat-expansion-panel *ngFor="let fleet of fleetsInOrbit" class="margin-bottom">
        <mat-expansion-panel-header [matTooltip]="getPercentageString(fleet)">
            <mat-panel-title class="align-center">
                <mat-icon *ngIf="!isInoperational(fleet) && !isInRepair(fleet)" matTooltip="{{ 'combat-arena.tooltip.warship-state.active' | translate }}">military_tech</mat-icon>
                <mat-icon *ngIf="isInoperational(fleet)" matTooltip="{{ 'spacecraft.state.msg.not-operational' | translate }}">radar</mat-icon>
                <mat-icon *ngIf="isInRepair(fleet)" [matTooltip]="getRepairJobButtonText(fleet)">construction</mat-icon>
                <app-icon png32px [fleetSize]="fleet.ships.length"></app-icon>
                {{fleet.name}}
            </mat-panel-title>
            <mat-panel-description>
                <div class="readiness-progress-bar">
                    <mat-progress-bar
                            mode="determinate"
                            [value]="getPercentage(fleet)"></mat-progress-bar>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-fleet-display [fleet]="fleet" transparent>
            <div class="fleet-info-container" body>
                <div class="main-display">
                    <app-blue-card rightBlueCard class="cap-display">
                        <div body>
                            <app-outlined titleValue="{{ 'fleet.modules.ammunition-roster.title' | translate }}">
                                <app-ammunition-roster noTitle [fleet]="fleet"></app-ammunition-roster>
                            </app-outlined>
                        </div>
                    </app-blue-card>
                </div>

                <app-blue-card class="cap-display">
                    <app-spacecraft-capabilities-display body
                                                         [baseFleetCapabilities]="fleet.baseSpacecraftCapabilities"
                                                         [currentFleetCapabilities]="fleet.spacecraftCapabilities">
                    </app-spacecraft-capabilities-display>
                </app-blue-card>
            </div>

            <div actions class="tooltip-container">
                <mat-divider></mat-divider>
                <div class="btn-container" [matTooltip]="getRepairJobButtonText(fleet)">
                    <button mat-raised-button color="secondary"
                            (click)="repair(fleet)"
                            [disabled]="!repairPossible(fleet)">{{ 'planetary.fleets-in-orbit.repair-btn.start-job' | translate }}</button>
                </div>
                <div class="btn-container" [matTooltip]="getRepairJobButtonText(fleet)">
                    <button mat-raised-button color="secondary"
                            (click)="upgradeAll(fleet)"
                            [disabled]="!upgradePossible(fleet)">{{ 'planetary.fleets-in-orbit.repair-btn.start-job' | translate }}</button>
                </div>
            </div>
        </app-fleet-display>
    </mat-expansion-panel>
</mat-accordion>
