<div class="screen-size-warning">
    <mat-card class="blue-card">
        <mat-card-header>
            <mat-card-title>{{ 'screen-size-warning.message' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-checkbox [(ngModel)]="rememberIgnoreScreenWarning">{{ 'screen-size-warning.remember' | translate }}</mat-checkbox>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" aria-label="Close button" matTooltip="Close" (click)="closeScreenSizeWarning()">
                {{ 'screen-size-warning.close' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>
