<div *ngIf="isDisplayingPossible()">
    <div class="flex-items-container">
        <div *ngFor="let resource of displayableResources">
            <app-icon matListItemAvatar class="icon"
                      [icon]="resource.resourceType"
                      [altText]="resource.resourceType.typeName"
                      png24px [toolTip]="resource.resourceType.typeName"></app-icon>
            <app-number-short [input]="getHumans(resource.resourceType, utilization)"></app-number-short>
        </div>
    </div>
</div>
