<div *ngIf="isDisplayingPossible()">
    <div class="flex-items-container">
        <div *ngFor="let resource of displayableResources">
            <img matListItemAvatar class="icon" src="assets/{{resource.resourceType.folder}}png24x/{{resource.resourceType.iconName}}_c.png"
                 alt="{{resource.resourceType.typeName}}" matTooltip="{{resource.resourceType.typeName}}">
            <app-number-short [input]="getHumans(resource.resourceType, utilization)"></app-number-short>
        </div>
    </div>
</div>
