<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-list-option (click)="selectClass(undefined)" class="sidenav-item">{{ 'shipyard.create-new-class' | translate }}</mat-list-option>
    <mat-list-option *ngFor="let shipClass of shipClasses"
                     (click)="selectClass(shipClass)"
                     [selected]="isSelected(shipClass.idShipClass!)"
                     class="sidenav-item">
        <app-icon matListItemAvatar
                  [icon]="shipClass.shipClassType"
                  [altText]="shipClass.shipClassType.typeName"
                  [toolTip]="shipClass.shipClassType.typeName"></app-icon>
        {{shipClass.name}}
    </mat-list-option>
</mat-selection-list>
