<div cdkDropListGroup *ngIf="fleets.length >= 2" class="clearfix inner-list">
    <div *ngFor="let fleet of fleets" class="fleet-container">
        <div>
            <div mat-subheader class="fleet-name" [matTooltip]="fleet.name">{{fleet.name}}</div>
            <div cdkDropList
                 [cdkDropListData]="fleet.ships"
                 class="warship-list"
                 (cdkDropListDropped)="drop($event)">
                <div *ngFor="let warship of fleet.ships"
                     class="warship-box" cdkDrag
                     [class.active-ship]="warship.warshipHealthState.state.isOperational">
                    {{ warship.name }}
                </div>
            </div>
        </div>
    </div>
</div>
