<mat-card *ngIf="!!fleetObject">
    <mat-card-header>
        <mat-card-title>Merge fleet</mat-card-title>
        <mat-card-subtitle>{{fleetObject!.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-fleet-formation-display [selectedFleetInput]="fleetObject"></app-fleet-formation-display>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!!fleetSubject">
    <mat-card-header>
        <mat-card-title>into</mat-card-title>
        <mat-card-subtitle>{{fleetSubject!.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-fleet-formation-display [selectedFleetInput]="fleetSubject"></app-fleet-formation-display>
    </mat-card-content>
</mat-card>
