<div cdkDropListGroup *ngIf="!!fleetSubject && !!fleetObject" class="clearfix">
    <div class="example-container the-left">
        <div cdkDropList
             [cdkDropListData]="fleetSubject.ships"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let warship of fleetSubject.ships" cdkDrag>{{warship.name}}</div>
        </div>
    </div>

    <div class="example-container the-right">
        <div cdkDropList
             [cdkDropListData]="fleetObject.ships"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let warship of fleetObject.ships" cdkDrag>{{warship.name}}</div>
        </div>
    </div>
</div>