<mat-tab-group (selectedTabChange)="emitTabSelectedIndex($event)" (selectedIndexChange)="indexChanged($event)" animationDuration="0ms" class="bottom-spacer">
    <mat-tab label="{{ 'tab.shipyard.fitting.view' | translate }}" [disabled]="!selectedShipClass">
        <app-fitting-display [selectedIndexInput]="selectionEmitter"
                             [resourceDeposit]="resourceDeposit"
                             [shipClass]="selectedShipClass"></app-fitting-display>
    </mat-tab>
    <mat-tab label="{{ 'tab.shipyard.fitting.modify' | translate }}">
        <app-fitting-modify [selectedIndexInput]="selectionEmitter"
                            [resourceDeposit]="resourceDeposit"
                            [shipClass]="selectedShipClass"></app-fitting-modify>
    </mat-tab>
</mat-tab-group>
