<div mat-subheader *ngIf="finishedColonizations.length == 0">{{ 'colonizations.finished.nothing' | translate }}</div>
<div mat-subheader *ngIf="finishedColonizations.length > 0">{{ 'colonizations.finished.title' | translate }}</div>

<mat-list *ngIf="finishedColonizations.length > 0">
    <mat-list-item *ngFor="let colo of finishedColonizations">
        <app-icon matListItemAvatar png24px planet></app-icon>
        <div mat-subheader>{{colo.colonizedPlanetName}}</div>
    </mat-list-item>
</mat-list>
