<div mat-subheader *ngIf="finishedColonizations.length == 0">{{ 'colonizations.finished.nothing' | translate }}</div>
<div mat-subheader *ngIf="finishedColonizations.length > 0">{{ 'colonizations.finished.title' | translate }}</div>

<mat-list *ngIf="finishedColonizations.length > 0">
    <mat-list-item *ngFor="let colo of finishedColonizations">
        <img matListItemAvatar src="assets/icons/planets/png24x/planet_c.png">
        <div mat-subheader>{{colo.colonizedPlanetName}}</div>
    </mat-list-item>
</mat-list>