@import "styles/variables";

/** placed here because of css encapsulation in angular **/

@import "src/app/modules/star-map/orga/star-map-tab-view/star-map-tab-view.component";
@import "src/styles/combat-arena";
@import "src/styles/scrollbar";

/** placed here because of css encapsulation in angular **/


/** normal styles **/
html,
body {
  height: 100%;
}

.bottom-spacer {
  // margin at the bottom of every tab body wrapper
  margin-bottom: 60px;
}

.content-area {
  margin: 25px 25px 25px 25px;
}

.mat-tab-body-wrapper {
  // make sure that the tab body grows to the full height
  flex-grow: 1;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

.error-snackbar {
  background-color: $background-color;
}

.notification-snackbar {
  background-color: $background-color;
  color: $secondary-text-color;
}

.notification-snackbar {
  background-color: $background-color;
  color: $secondary-text-color;
}

.no-scrolling {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.drawer-container {
  height: 100%;
}

.drawer-list {
  padding: 15px;
  width: 180px;
}

.side-nav-open-change-area {
  position: sticky;
  top: 0;
  width: 50px;
  height: 100%;
  float: left;
}

.side-nav-open-change-area-fixed {
  position: sticky;
  top: 0;
  width: 50px;
  height: 100%;
  float: left;
}

.short-field {
  width: 80px;
}

.description-field {
  width: 300px;
}

.flex-items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

// removes the ripple effect - it's needed in order to keep position in mat-expansion-panel
.mat-radio-ripple {
  display: none;
}

.holder {
  margin-top: 25px;
  width: 90%;
}

.mat-cell {
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.sticky-on-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.invisible {
  visibility: hidden;
}

.height-fit-content {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: $primary-color;
}

.resource-mat-dialog-panel .mat-dialog-container {
  background: linear-gradient(45deg, $secondary-background-color 20px, $background-color 20px);
  border-radius: 5px 5px 5px 0;
}