@import 'styles/google/roboto.scss';
@import 'styles/google/material-icons';
@import 'styles/google/material-icons-outlined';
@import 'styles/google/material-icons-round';
@import 'styles/google/material-icons-sharp';
@import 'styles/google/material-icons-two-tone';
@import 'styles/google/material-symbols';
@import "styles/variables";
@import "src/app/modules/star-map/orga/star-map-tab-view/star-map-tab-view.component";
@import "src/app/modules/strategic-operations/payload/mission-map/mission-map.component";
@import "src/app/modules/research/components/payload/tech-tree/tech-tree.component";
@import "src/app/modules/display-elements/fleet-display/fleet-display.component";
@import "src/app/modules/display-elements/red-box/red-box.component.scss";
@import "src/styles/combat-arena";
@import "src/styles/scrollbar";
@import "src/styles/mat-button-customize";
@import "src/styles/hint-label";
@import "src/app/modules/display-elements/blue-card/blue-card.component";

/** placed here because of css encapsulation in angular **/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

ngx-spinner {
  color: var(--spinner-text-color);
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/** normal styles **/
html,
body {
  height: 100%;
}

.mobile-width {
  min-width: fit-content;
  width: 100%;
  display: inline-block;
  height: 100%;
}

div .mat-subheader {
  font-weight: 500;
}

.bottom-spacer {
  // margin at the bottom of every tab body wrapper
  margin-bottom: 60px;
}

.content-area {
  margin: 25px 25px 25px 25px;
  max-width: 90%;
}

.clear-float {
  clear: both;
}

.mat-mdc-tab-body-wrapper {
  // make sure that the tab body grows to the full height
  flex-grow: 1;
  //flex: 1 1 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Raleway", sans-serif;
  background-color: var(--background-color);
}

.clickable {
  cursor: pointer;
}

.no-scrolling {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.drawer-container {
  height: 100%;
}

.drawer-list {
  padding: 15px;
  width: 180px;
}

#main-content-area {
  background-image: var(--lineart-image);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

#nav-drawer > .mat-drawer-inner-container {
  overflow-x: visible !important;
}

.mat-mdc-tab-body-content {
  padding-left: 50px;
}

.no-pad > .mat-mdc-tab-body-content {
  padding-left: 0;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  height: 64px;
}

.sidenav-expansion-panel {

  max-width: 250px;

  & .sidenav-expansion-panel-panel > .mat-drawer-inner-container {
    overflow-x: visible !important;
  }

  & .mat-content {
    color: var(--secondary-text-color);
  }

  & .mat-expansion-panel {
    width: auto;
  }

  & .mat-expansion-panel-header {
    padding: 0 16px 0 16px;
  }

  & .mat-expansion-panel-header:not([aria-disabled=true]) {
    height: 48px;
  }
}

.side-nav-open-change-area {
  position: sticky;
  top: 0;
  width: 50px;
  height: 100%;
  float: left;
}

.short-field {
  width: 80px;
}

.description-field {
  width: 300px;
}

.flex-items-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-items-from-start-container {
  display: flex;
  flex-flow: row wrap;

  & * {
    margin-right: 15px;
  }
}

.flex-end-items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

// removes the ripple effect - it's needed in order to keep position in mat-expansion-panel
.mat-mdc-radio-ripple {
  display: none;
}

.holder {
  margin-top: 25px;
  width: 90%;
}

.mat-mdc-cell {
  text-align: center;
}

.mat-mdc-header-cell {
  text-align: center;
}

.sticky-on-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.invisible {
  visibility: hidden;
}

.display-none {
  display: none;
}

.height-fit-content-forced {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.height-fit-content {
  height: -moz-fit-content;
  height: fit-content;
}

.width-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

.width-fit-content-forced {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

[mat-dialog-title] {
  background: var(--primary-color);
}

.resource-mat-dialog-panel .mat-mdc-dialog-container {
  background: linear-gradient(45deg, var(--secondary-background-color) 20px, var(--background-color) 20px);
  border-radius: 5px 5px 5px 0;
}

.mat-expansion-panel-header-title {
  justify-content: flex-start;
}

.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.confirm-mat-dialog-panel .mat-mdc-dialog-container {
  // todo resize: both;
}

.missile-salvo-text {
  font-size: 7px;
}

.mat-mdc-tab-label-content > .mat-mdc-icon {
  margin-left: 5px;
}

.no-checkmark {
  & span.mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary > button > span.mdc-evolution-chip__graphic.mat-mdc-chip-graphic {
    width: 6px;
  }

  & .mdc-list-item__end {
    display: none;
  }

  & span.mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary > button > span.mdc-evolution-chip__graphic.mat-mdc-chip-graphic .mdc-evolution-chip__checkmark {
    display: none;
  }
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.mat-expansion-panel {
  width: $page-width;
}

app-tech-tree-display {
  width: fit-content;
  width: -moz-fit-content;
  display: block;
}

.research-chip > span.mdc-evolution-chip__cell.mdc-evolution-chip__cell--primary > button > span.mdc-evolution-chip__text-label {
  white-space: normal;
}

app-numeric-counter > mat-form-field > div.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

app-numeric-counter > mat-form-field > div.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined > div > div.mat-mdc-form-field-infix {
  min-height: 0;
  height: 48px;
}

app-shipyard > .ship-class-card > mat-card-header {
  padding-bottom: 16px;
}

.sidenav-item {

  & .mdc-list-item__primary-text {
    white-space: pre-wrap;
  }
}

.mat-step-header .mat-step-icon {
  background-color: var(--primary-color);
}

app-available-researches > div.bottom-spacer.content-area > mat-card > mat-card-content > app-outlined > .mat-mdc-text-field-wrapper {
  margin: 0;
}

.planetary-tab-group #mat-tab-content-1-2 .mat-mdc-tab-body-content,
.planetary-tab-group #mat-tab-content-1-1 .mat-mdc-tab-body-content {
  // to create scrollbar inside planetary tabs construction and shipyard for .app-resource-display
  position: relative;
}

.streamline-background, .mat-mdc-table, .mat-mdc-paginator, .mat-stepper-vertical, .mat-stepper-horizontal, .mat-expansion-panel, .mat-drawer {
  background-color: var(--secondary-background-color) !important;
}

.mat-mdc-table, .mat-mdc-paginator, .mat-stepper-vertical, .mat-stepper-horizontal, .mat-expansion-panel {
  border-radius: 20px;
  padding: 5px;
}

.mat-expansion-panel {
  border-radius: 20px !important;
}

.mat-mdc-list-item {
  border-radius: 20px !important;
}

.nav-element > mat-divider {
  margin: 0 25px;
}

.mat-mdc-table {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-collapse: inherit;
}

.header-item > .mat-grid-tile-content {
  justify-content: start;
}

mat-step-header {
  border-radius: 80px;
}

.mat-mdc-list-item-line {
  font-size: small !important;
}

.contact-info > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#new-forum-thread-message {
  width: 800px;
}

.mat-mdc-form-field-icon-prefix > span {
  padding: 0 15px;
}

#vertical-toggle-button {
  transform: rotate(-90deg);

  & .mdc-switch__icon {
    transform: rotate(90deg);
  }
}

#notch-content {
  & * {
    color: var(--map-text-color);
  }
}

.headline {
  margin-bottom: 15px;
}

.active-ship {
  background: var(--active-warship-background-color) !important;
}

.capitalize {
  text-transform: lowercase;
}

.capitalize:first-letter {
  text-transform: uppercase;
}

app-home > app-display-article > div > markdown > pre {
  height: 600px;
}
