<div class="bottom-spacer content-area height-fit-content-forced">
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let planet of planets">
            <mat-expansion-panel-header>
                <mat-panel-title matTooltip="{{ 'transportation.resources.help' | translate }}">
                    <img mat-list-avatar src="assets/icons/planets/png24x/planet_c.png">
                    {{planet.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <div *ngIf="planet.isMain">Main planet</div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-resource-display [deposit]="deposits.get(planet.idPlanet)" [showTick]="false"></app-resource-display>

            <div class="flex-items-container">
                <app-transportation-resource-demand [planet]="planet" (demandEmitter)="setDemand($event)"></app-transportation-resource-demand>
                <app-transportation-resource-delivery [planet]="planet" (deliveryEmitter)="setDelivery($event)"></app-transportation-resource-delivery>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>