<span [ngClass]="{'circurlar-border': _circleBorder}">
    <img *ngIf="!!icon" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/{{icon.folder}}{{icon.iconName}}.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText != '' ? altText : icon.typeName }}"
         matTooltip="{{ toolTip != '' ? toolTip : icon.typeName }}">

    <img *ngIf="!icon && _planet" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/planets/planet.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

    <img *ngIf="!icon && !!fleetIcon" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/fleets/{{ fleetIcon }}.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

</span>

<!-- todo find population icons -->
