<span [ngClass]="{'circurlar-border': _circleBorder}">
    <img *ngIf="!!icon" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/{{icon.folder}}{{icon.iconName}}.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText != '' ? altText : icon.typeName }}"
         matTooltip="{{ toolTip != '' ? toolTip : icon.typeName }}">

    <img *ngIf="!icon && _planet" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/planets/planet.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

    <img *ngIf="!icon && _construction" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/resources/CONSTRUCTION.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

    <img *ngIf="!icon && _shipyard" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/resources/ORBITAL_CONSTRUCTION.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

    <img *ngIf="!icon && _research" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/resources/RESEARCH.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

    <img *ngIf="!icon && !!fleetIcon" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/fleets/{{ fleetIcon }}.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

    <img *ngIf="!icon && _combat" class="icon" [ngClass]="{'centered': _circleBorder}" src="assets/icons/stats/attack.png"
         [ngStyle]="{'width':sizeComplement,'height':sizeComplement}"
         alt="{{ altText }}"
         matTooltip="{{ toolTip }}">

</span>

<mat-icon *ngIf="_hasUnread" inline>mail</mat-icon>
<mat-icon *ngIf="_markRead" inline>mark_email_read</mat-icon>
