<div class="flex-items-container" *ngIf="!!starSystem">

    <app-red-box titleValue="System">
        {{ starSystem!.name }}
    </app-red-box>

    <app-red-box titleValue="Planet count">
        {{ starSystem.planets.length }}
    </app-red-box>

    <app-red-box titleValue="X-Coordinate">
        {{ starSystem!.orbit.xCoordinate.coordinate }} {{ starSystem!.orbit.xCoordinate.distanceMetric }}
    </app-red-box>

    <app-red-box titleValue="Y-Coordinate">
        {{ starSystem!.orbit.yCoordinate.coordinate }} {{ starSystem!.orbit.xCoordinate.distanceMetric }}
    </app-red-box>

    <app-red-box titleValue="Occupied planets" *ngIf="getColonized().length > 0">
        <mat-label *ngFor="let planet of getColonized()">
            {{planet.name}} - {{planet.owner!.username}}
        </mat-label>
    </app-red-box>

</div>
