<div *ngIf="!!stateBlock" class="state-icon-block">
    <div class="just-present">
        {{ 'spacecraft.state.title.warShip' | translate }}
        {{ 'spacecraft.state.title.fleet' | translate }}
    </div>
    <mat-icon class="state-icon"
              *ngIf="stateBlock.isInYard"
              matTooltip="{{ prefix | translate }}: {{ 'spacecraft.state.msg.is-in-yard' | translate }}">
        construction
    </mat-icon>

    <mat-icon class="state-icon"
              *ngIf="!stateBlock.isActive"
              matTooltip="{{ prefix | translate }}: {{ 'spacecraft.state.msg.not-active' | translate }}">
        do_not_disturb_on
    </mat-icon>

    <mat-icon
            *ngIf="!stateBlock.isOperational"
            matTooltip="{{ prefix | translate }}: {{ 'spacecraft.state.msg.not-operational' | translate }}">
        event_busy
    </mat-icon>

    <mat-icon
            *ngIf="stateBlock.needsRepair"
            matTooltip="{{ prefix | translate }}: {{ 'spacecraft.state.msg.needs-repair' | translate }}">
        home_repair_service
    </mat-icon>

    <mat-icon
            *ngIf="stateBlock.needsAmmunition"
            matTooltip="{{ prefix | translate }}: {{ 'spacecraft.state.msg.needs-ammunition' | translate }}">
        local_police
    </mat-icon>
</div>
