<div *ngIf="!!stateBlock" class="state-icon-block">
    <div class="just-present">
        {{ 'spacecraft.state.title.warShip' | translate }}
        {{ 'spacecraft.state.title.fleet' | translate }}
    </div>
    <mat-icon class="state-icon"
              *ngIf="!stateBlock.isActive"
              matTooltip="{{ getSubject() | translate }}: {{ 'spacecraft.state.msg.not-active' | translate }}">report_problem
    </mat-icon>
    <mat-icon
            *ngIf="!stateBlock.isOperational"
            matTooltip="{{ getSubject() | translate }}: {{ 'spacecraft.state.msg.not-operational' | translate }}">report_problem
    </mat-icon>
    <mat-icon
            *ngIf="stateBlock.needsRepair"
            matTooltip="{{ getSubject() | translate }}: {{ 'spacecraft.state.msg.needs-repair' | translate }}">report_problem
    </mat-icon>
    <mat-icon
            *ngIf="stateBlock.needsAmmunition"
            matTooltip="{{ getSubject() | translate }}: {{ 'spacecraft.state.msg.needs-ammunition' | translate }}">report_problem
    </mat-icon>
</div>
