<div class="flex-items-container">
    <mat-form-field appearance="outline" *ngIf="!!weapon && weapon.weaponType === 'BEAM'">
        <mat-label>Effect value</mat-label>
        <input matInput disabled value="{{weapon.baseModule.effectValue}}">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tonnage</mat-label>
        <input matInput disabled value="{{ weapon?.baseModule?.tonnage | mass: 'T' }}">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!!weapon">
        <mat-label>Effective range</mat-label>
        <input matInput disabled value="{{getRange(weapon) | distance: 'LS' }}">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!weapon">
        <mat-label>Effective range</mat-label>
        <input matInput disabled>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Intended for ship class</mat-label>
        <input matInput disabled value="{{weapon?.baseModule?.shipClassType?.typeName}}">
    </mat-form-field>
</div>
