<mat-grid-list cols="1" rowHeight="100px" *ngIf="!id">
    <mat-grid-tile>
        <h2>Request password change</h2>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" type="text" [(ngModel)]="username" autocomplete="off">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="outline">
            <mat-label>eMail</mat-label>
            <input matInput placeholder="eMail" type="text" [(ngModel)]="eMail" autocomplete="off">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <button mat-raised-button class="action-button" color="secondary" type="submit" (click)="submitChangePasswordRequest()" [disabled]="!username && !eMail">Submit</button>
        <button mat-raised-button class="action-button" color="secondary" (click)="clear()">Clear</button>
    </mat-grid-tile>
</mat-grid-list>

<form [formGroup]="registerForm" passwordPatternValidator passwordEqualityValidator *ngIf="!!id">
    <div id="register">
        <h2 id="headline">Change the password</h2>

        <div class="register-element">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="pass" min="0" required autocomplete="off"
                       matTooltip="The password should contain of between 8 and 30 characters, numerals and if you want special characters.">
                <mat-error *ngIf="registerForm.get('pass')?.hasError('passPattern')">{{passErrors.passPattern}} </mat-error>
            </mat-form-field>
        </div>

        <div class="register-element">
            <mat-form-field appearance="outline">
                <mat-label>Repeat passwort</mat-label>
                <input matInput type="password" formControlName="passRepeat" min="0" required autocomplete="off">
                <mat-error *ngIf="registerForm.get('passRepeat')?.hasError('passwordNotEqual')">{{passErrors.passwordNotEqual}} </mat-error>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button class="action-change-button" color="secondary" type="submit" (click)="submitPasswordChange()" [disabled]="!this.registerForm.valid">Submit
            </button>
            <button mat-raised-button class="action-change-button" color="secondary" (click)="clear()">Clear</button>
        </div>
    </div>
</form>
